sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"SFPEIN+Frutiger-Black";
	src:url("6fefdd13-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "SFPEIN+Frutiger-Black";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: 0.0007em;
}

.ie .stl_09 {
	letter-spacing: 0.0062px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "SFPEIN+Frutiger-Black";
	color: #221E1F;
}
.stl_11 {
	letter-spacing: 0.0008em;
}

.ie .stl_11 {
	letter-spacing: 0.0062px;
}
@font-face {
	font-family:"OKJBMI+Frutiger-Cn";
	src:url("cc9c83d6-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 2em;
	font-family: "OKJBMI+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_13 {
	line-height: 1.179em;
}
.stl_14 {
	letter-spacing: 0em;
}

.ie .stl_14 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"CUUJQE+DIN-Black";
	src:url("35267ba4-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 1em;
	font-family: "CUUJQE+DIN-Black";
	color: #FFFFFF;
}
.stl_16 {
	line-height: 1.231em;
}
.stl_17 {
	font-size: 0.75em;
	font-family: "CUUJQE+DIN-Black";
	color: #221E1F;
}
.stl_18 {
	letter-spacing: -0.0025em;
}

.ie .stl_18 {
	letter-spacing: -0.03px;
}
@font-face {
	font-family:"POEDGO+Frutiger-Light";
	src:url("aac2baab-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 0.683333em;
	font-family: "POEDGO+Frutiger-Light";
	color: #221E1F;
}
.stl_20 {
	line-height: 1.161em;
}
@font-face {
	font-family:"GKLUPD+Frutiger-LightItalic";
	src:url("36d0478c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_21 {
	font-size: 0.683333em;
	font-family: "GKLUPD+Frutiger-LightItalic";
	color: #221E1F;
}
.stl_22 {
	line-height: 1.167em;
}
.stl_23 {
	letter-spacing: 0.0001em;
}

.ie .stl_23 {
	letter-spacing: 0.0007px;
}
.stl_24 {
	letter-spacing: -0.0027em;
}

.ie .stl_24 {
	letter-spacing: -0.0327px;
}
@font-face {
	font-family:"KVHAHE+ZapfDingbats";
	src:url("eb813ff3-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_25 {
	font-size: 0.833333em;
	font-family: "KVHAHE+ZapfDingbats";
	color: #F7931D;
}
.stl_26 {
	line-height: 0.963em;
}
@font-face {
	font-family:"LQBPCK+Frutiger-Bold";
	src:url("79110c99-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_27 {
	font-size: 0.75em;
	font-family: "LQBPCK+Frutiger-Bold";
	color: #221E1F;
}
.stl_28 {
	line-height: 1.185em;
}
@font-face {
	font-family:"EGKBTF+Frutiger-Roman";
	src:url("3f96df6c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_29 {
	font-size: 0.625333em;
	font-family: "EGKBTF+Frutiger-Roman";
	color: #EF1D7B;
}
.stl_30 {
	font-size: 0.625333em;
	font-family: "EGKBTF+Frutiger-Roman";
	color: #0168B4;
}
.stl_31 {
	font-size: 0.75em;
	font-family: "OKJBMI+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"FBJVUB+Times-Roman";
	src:url("c3b7b35e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_32 {
	font-size: 1.166667em;
	font-family: "FBJVUB+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_33 {
	line-height: 1.107422em;
}
.stl_34 {
	font-size: 1.166667em;
	font-family: "OKJBMI+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_35 {
	font-size: 0.833333em;
	font-family: "CUUJQE+DIN-Black";
	color: #F7931D;
}
.stl_36 {
	letter-spacing: -0.0021em;
}

.ie .stl_36 {
	letter-spacing: -0.0208px;
}
@font-face {
	font-family:"KLTEMJ+Frutiger-Italic";
	src:url("4d545be1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_37 {
	font-size: 0.625333em;
	font-family: "KLTEMJ+Frutiger-Italic";
	color: #0168B4;
}
.stl_38 {
	line-height: 1.18em;
}
.stl_39 {
	letter-spacing: -0.01em;
}

.ie .stl_39 {
	letter-spacing: -0.1001px;
}
@font-face {
	font-family:"BADGVA+??";
	src:url("4cbf7efe-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_40 {
	font-size: 1em;
	font-family: "BADGVA+??", "Times New Roman";
	color: #60BF00;
}
.stl_41 {
	letter-spacing: 0.0147em;
}

.ie .stl_41 {
	letter-spacing: 0.235px;
}
.stl_42 {
	letter-spacing: 0.0126em;
}

.ie .stl_42 {
	letter-spacing: 0.235px;
}
@font-face {
	font-family:"JKJKFV+Helvetica";
	src:url("1d74503d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_43 {
	font-size: 0.833333em;
	font-family: "JKJKFV+Helvetica", "Times New Roman";
	color: #000000;
}
.stl_44 {
	line-height: 1.117188em;
}
.stl_45 {
	letter-spacing: -0.0014em;
}

.ie .stl_45 {
	letter-spacing: -0.0171px;
}
.stl_46 {
	font-size: 0.583333em;
	font-family: "LQBPCK+Frutiger-Bold";
	color: #221E1F;
}
.stl_47 {
	font-size: 0.4665em;
	font-family: "LQBPCK+Frutiger-Bold";
	color: #221E1F;
}
.stl_48 {
	letter-spacing: -0.0001em;
}

.ie .stl_48 {
	letter-spacing: -0.0004px;
}
.stl_49 {
	font-size: 0.583333em;
	font-family: "EGKBTF+Frutiger-Roman";
	color: #221E1F;
}
.stl_50 {
	letter-spacing: -0.0004em;
}

.ie .stl_50 {
	letter-spacing: -0.004px;
}
.stl_51 {
	font-size: 0.583333em;
	font-family: "KLTEMJ+Frutiger-Italic";
	color: #221E1F;
}
