body {
  background-color: #222222;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 100%;
  color: rgba(0, 0, 0, 0.87);
}

.openBtn {
    background: #f1f1f1;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
}

.openBtn:hover {
    background: #bbb;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
	overflow:hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
    position: relative;
    top: 4%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
}

.overlay .closebtn {
    position: absolute;
    top: -16px;
    right: 16px;
    font-size: 85px;
    cursor: pointer;
    color: #ff0000;
}

.overlay .closebtn:hover {
    color: #ccc;
}

.overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
}

.overlay input[type=text]:hover {
    background: #f1f1f1;
}

.overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.overlay button:hover {
    background: #bbb;
}a,
.link {
  color: #3b5998;
  text-decoration: none;
}

a:hover,
.link:hover {
  color: #ff3838;
  text-decoration: none;
}h1 {
  font-size: 24px;
}h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}pre {
  background-color: rgba(0, 0, 0, 0.01);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 85%;
  padding: 10px;
  overflow-y: auto;
  margin: 20px 0;
}.black-text {
  color: #000000;
  color: rgba(0, 0, 0, 0.87);
}.black-secondary {
  color: rgba(0, 0, 0, 0.54);
}.black-disabled {
  color: rgba(0, 0, 0, 0.26);
}.black-divider {
  color: rgba(0, 0, 0, 0.12);
}.white-text {
  color: #ffffff;
  color: white;
}.white-secondary {
  color: rgba(255, 255, 255, 0.7);
}.white-disabled {
  color: rgba(255, 255, 255, 0.3);
}.white-divider {
  color: rgba(255, 255, 255, 0.12);
}.small, small {
  font-size: 85%;
}strong {
  font-weight: 600;
}li .fa {
  vertical-align: initial;
  margin-right: 5px;
}img {
  max-width: 100%;
  height: auto;
}
}imd {
  max-width: 200px;
  height: auto;
}ul {
  padding-left: 1em;
}

ul li {
  margin-bottom: 5px;
}

ul.unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}.float-left {
  float: left;
}.float-right {
  float: right;
}[canvas=container] {
  margin-top: 60px;
  height: calc( 100% - 60px );
}[off-canvas] {
  background-color: #222222;
}

[off-canvas] .padded-box {
  padding: 20px;
}

[off-canvas] ul.menu {
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;
}

[off-canvas] ul.menu li a {
  color: rgba(255, 255, 255, 0.87);
  display: block;
  padding: 30px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 200ms ease-in-out 0s;
  transition: all 200ms ease-in-out 0s;
}

[off-canvas] ul.menu li a:hover {
  color: #ff3838;
  background-color: rgba(255, 255, 255, 0.1);
}img#logo-menu {
  margin: 20px;
  max-width: 200px;
}img#profile {
  max-width: 150px;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
}.demos-menu {
  height: 160px;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}

}.custom-responsive-width {
  width: 70%;
}
@media (min-width: 500px) {
  
  .custom-responsive-width {
    width: 50%;
  }
}
@media (min-width: 1000px) {
  
  .custom-responsive-width {
    width: 30%;
  }
}.custom-fixed-width {
  width: 150px;
}.custom-fluid-height {
  height: 50%;
}.custom-transition-duration {
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
}.custom-transition-duration-2 {
  -webkit-transition-duration: 600ms;
  transition-duration: 600ms;
}[class*=js-open-],
[class*=js-toggle-],
[class*=js-close-] {
  cursor: pointer;
}nav[canvas] {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

nav[canvas] .button {
  top: -5px;
}
@media (max-width: 413px) {
  
  nav[canvas] .button .fa {
    margin: 0;
  }
}

nav[canvas] .button span.text {
  display: none;
}
@media (min-width: 414px) {
  
  nav[canvas] .button span.text {
    display: inline;
  }
}#logo {
  max-width: 200px;
  position: relative;
  top: 8px;
}table {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border-collapse: inherit;
}td {
  padding: 10px;
}thead tr td,
tr:not(:last-of-type) td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}td:not(:last-of-type) {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}td.control-width {
  width: 100px;
}.green {
  color: #4caf50;
}.orange {
  color: #ffc107;
}.red {
  color: #f44336;
}[mhtn=container] {
  max-width: 100%;
}[canvas=container] [mhtn=row]:not(.no-margin) {
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 9px;
}
@media (min-width: 900px) {
  
  [canvas=container] [mhtn=row]:not(.no-margin) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}img#browserstack {
  vertical-align: middle;
  position: relative;
  top: -1px;
}#banner {
  display: none;
}
@media (min-width: 900px) {
  
  #banner {
    display: block;
  }
  
  #banner img {
    max-width: none;
    width: 100%;
  }
}ol.breadcrumb {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 85%;
  list-style-type: none;
}

ol.breadcrumb li {
  display: inline;
  color: rgba(0, 0, 0, 0.54);
}

ol.breadcrumb li:not(:last-child):after {
  content: ' / ';
  color: rgba(0, 0, 0, 0.12);
}

ol.breadcrumb li:last-child {
  color: rgba(0, 0, 0, 0.26);
}.button {
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  line-height: 1em;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  margin-bottom: 5px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.54);
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.7em;
}

.button .fa {
  top: 0;
  margin-right: 5px;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.024);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
@media (max-width: 400px) {
  
  .button.expand-on-mobile {
    display: block;
    text-align: center;
  }
}

.button.red {
  color: white;
  border: 0 none;
  background-color: #ff5252;
}

.button.red:hover {
  background-color: #ff3838;
}

.button.purple {
  color: white;
  border: 0 none;
  background-color: #7c4dff;
}

.button.purple:hover {
  background-color: #6933ff;
}

.button.blue {
  color: white;
  border: 0 none;
  background-color: #40c4ff;
}

.button.blue:hover {
  background-color: #26bcff;
}

.button.paypal {
  color: white;
  border: 0 none;
  background-color: #11559D;
}

.button.paypal:hover {
  background-color: #2997D8;
}.button-group {
  margin-bottom: 15px;
  font-size: 0;
}

.button-group .button {
  border-radius: 0;
}

.button-group .button:first-child {
  border-radius: 4px 0 0 4px;
}

.button-group .button:last-child {
  border-radius: 0 4px 4px 0;
}

.button-group .button:nth-child(2) {
  left: -1px;
}

.button-group .button:nth-child(3) {
  left: -2px;
}.box:nth-of-type(2n+1) {
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  padding: 10px;
  margin: 15px -10px;
}

.box h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.box p {
  margin: 0;
}.sidebar {
  margin-top: 10px;
  padding: 25px 0 5px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
@media (min-width: 900px) {
  
  .sidebar {
    margin-top: 23px;
    padding: 0;
    border-top: 0;
    border-bottom: 0;
  }
}.ad {
  overflow: hidden;
}.responsive-ad-size {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
}
@media (min-width: 600px) {
  
  .responsive-ad-size {
    height: 200px;
  }
}
@media (min-width: 900px) {
  
  .responsive-ad-size {
    height: 225px;
  }
}.donate p {
  margin-top: 0;
}
h1 {
  font-size: 1.7em;
  margin: 0.67em 0;
  font-weight: bold;
  color: #ec2424;
}
