sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"BPJTAI+Frutiger-Black";
	src:url("c75974a7-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "BPJTAI+Frutiger-Black";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: 0em;
}

.ie .stl_09 {
	letter-spacing: 0.0002px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "BPJTAI+Frutiger-Black";
	color: #221E1F;
}
@font-face {
	font-family:"GLEMKV+Frutiger-Cn";
	src:url("105edc47-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 2em;
	font-family: "GLEMKV+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_12 {
	line-height: 1.179em;
}
@font-face {
	font-family:"SDJHWG+DIN-Black";
	src:url("37750d18-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 1em;
	font-family: "SDJHWG+DIN-Black";
	color: #FFFFFF;
}
.stl_14 {
	line-height: 1.231em;
}
@font-face {
	font-family:"VRNGPL+DIN-Bold";
	src:url("fdccad21-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 0.666667em;
	font-family: "VRNGPL+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_16 {
	line-height: 1.221em;
}
@font-face {
	font-family:"IQEDCD+Frutiger-Light";
	src:url("d5593aa4-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 0.666667em;
	font-family: "IQEDCD+Frutiger-Light";
	color: #221E1F;
}
.stl_18 {
	line-height: 1.161em;
}
.stl_19 {
	letter-spacing: -0.0009em;
}

.ie .stl_19 {
	letter-spacing: -0.0091px;
}
.stl_20 {
	letter-spacing: -0.0071em;
}

.ie .stl_20 {
	letter-spacing: -0.0755px;
}
.stl_21 {
	font-size: 0.75em;
	font-family: "SDJHWG+DIN-Black";
	color: #221E1F;
}
.stl_22 {
	font-size: 0.683333em;
	font-family: "IQEDCD+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"MQESAE+Frutiger-Bold";
	src:url("48bfcb8a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_23 {
	font-size: 0.683333em;
	font-family: "MQESAE+Frutiger-Bold";
	color: #F7931D;
}
.stl_24 {
	line-height: 1.185em;
}
@font-face {
	font-family:"SWDFBK+Frutiger-Roman";
	src:url("1b7a4097-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_25 {
	font-size: 0.625333em;
	font-family: "SWDFBK+Frutiger-Roman";
	color: #EF1D7B;
}
@font-face {
	font-family:"CLVPHO+Symbol";
	src:url("bb6c1190-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_26 {
	font-size: 0.625333em;
	font-family: "CLVPHO+Symbol", "Times New Roman";
	color: #EF1D7B;
}
.stl_27 {
	line-height: 1.303em;
}
.stl_28 {
	letter-spacing: -0.0022em;
}

.ie .stl_28 {
	letter-spacing: -0.0267px;
}
.stl_29 {
	font-size: 0.75em;
	font-family: "GLEMKV+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"TOQJTE+??";
	src:url("e80b3e37-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_30 {
	font-size: 1em;
	font-family: "TOQJTE+??", "Times New Roman";
	color: #60BF00;
}
.stl_31 {
	line-height: 1.107422em;
}
.stl_32 {
	letter-spacing: 0.0147em;
}

.ie .stl_32 {
	letter-spacing: 0.235px;
}
@font-face {
	font-family:"FVLVQA+Times-Roman";
	src:url("ba4dd513-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_33 {
	font-size: 1.166667em;
	font-family: "FVLVQA+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_34 {
	letter-spacing: 0.0126em;
}

.ie .stl_34 {
	letter-spacing: 0.235px;
}
.stl_35 {
	font-size: 1.166667em;
	font-family: "GLEMKV+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_36 {
	font-size: 0.833333em;
	font-family: "SDJHWG+DIN-Black";
	color: #F7931D;
}
.stl_37 {
	font-size: 0.625333em;
	font-family: "SWDFBK+Frutiger-Roman";
	color: #0168B4;
}
.stl_38 {
	letter-spacing: -0.002em;
}

.ie .stl_38 {
	letter-spacing: -0.02px;
}
.stl_39 {
	letter-spacing: -0.0016em;
}

.ie .stl_39 {
	letter-spacing: -0.0192px;
}
