sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"ONQMII+Frutiger-Black";
	src:url("bfa3929d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "ONQMII+Frutiger-Black";
	color: #FFFFFF;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: 0em;
}

.ie .stl_09 {
	letter-spacing: 0px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "ONQMII+Frutiger-Black";
	color: #FFFFFF;
}
.stl_11 {
	font-size: 0.583333em;
	font-family: "ONQMII+Frutiger-Black";
	color: #221E1F;
}
.stl_12 {
	font-size: 0.4665em;
	font-family: "ONQMII+Frutiger-Black";
	color: #221E1F;
}
@font-face {
	font-family:"VKGVIJ+Frutiger-Cn";
	src:url("d8e17679-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 2em;
	font-family: "VKGVIJ+Frutiger-Cn";
	color: #FFFFFF;
}
.stl_14 {
	line-height: 1.179em;
}
@font-face {
	font-family:"AQIQEQ+DIN-Black";
	src:url("9fbdc882-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 1em;
	font-family: "AQIQEQ+DIN-Black";
	color: #FFFFFF;
}
.stl_16 {
	line-height: 1.231em;
}
@font-face {
	font-family:"RMQWQN+DIN-Bold";
	src:url("54075133-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 0.666667em;
	font-family: "RMQWQN+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_18 {
	line-height: 1.221em;
}
@font-face {
	font-family:"WTNGBH+Frutiger-Light";
	src:url("a1b4b084-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 0.666667em;
	font-family: "WTNGBH+Frutiger-Light";
	color: #221E1F;
}
.stl_20 {
	line-height: 1.161em;
}
.stl_21 {
	letter-spacing: -0.0017em;
}

.ie .stl_21 {
	letter-spacing: -0.018px;
}
.stl_22 {
	letter-spacing: -0.0004em;
}

.ie .stl_22 {
	letter-spacing: -0.0045px;
}
.stl_23 {
	letter-spacing: -0.0005em;
}

.ie .stl_23 {
	letter-spacing: -0.0051px;
}
.stl_24 {
	letter-spacing: -0.0092em;
}

.ie .stl_24 {
	letter-spacing: -0.0981px;
}
.stl_25 {
	font-size: 0.75em;
	font-family: "AQIQEQ+DIN-Black";
	color: #221E1F;
}
.stl_26 {
	font-size: 0.683333em;
	font-family: "WTNGBH+Frutiger-Light";
	color: #221E1F;
}
.stl_27 {
	font-size: 0.499em;
	font-family: "WTNGBH+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"IGHKPD+Frutiger-LightItalic";
	src:url("a854ab20-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_28 {
	font-size: 0.683333em;
	font-family: "IGHKPD+Frutiger-LightItalic";
	color: #221E1F;
}
.stl_29 {
	line-height: 1.167em;
}
.stl_30 {
	font-size: 0.75em;
	font-family: "VKGVIJ+Frutiger-Cn";
	color: #221E1F;
}
@font-face {
	font-family:"QGPHNS+Times-Roman";
	src:url("fbe99914-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_31 {
	font-size: 1.166667em;
	font-family: "QGPHNS+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_32 {
	line-height: 1.107422em;
}
.stl_33 {
	font-size: 1.166667em;
	font-family: "VKGVIJ+Frutiger-Cn";
	color: #FFFFFF;
}
.stl_34 {
	font-size: 0.833333em;
	font-family: "AQIQEQ+DIN-Black";
	color: #F7931D;
}
.stl_35 {
	font-size: 0.583333em;
	font-family: "VKGVIJ+Frutiger-Cn";
	color: #221E1F;
}
@font-face {
	font-family:"VUQQOK+EuropeanPi-Four";
	src:url("a9e1b18b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_36 {
	font-size: 0.583333em;
	font-family: "VUQQOK+EuropeanPi-Four";
	color: #221E1F;
}
.stl_37 {
	line-height: 1.035em;
}
@font-face {
	font-family:"MRJIAK+Frutiger-Roman";
	src:url("4bf0dd83-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_38 {
	font-size: 0.425833em;
	font-family: "MRJIAK+Frutiger-Roman";
	color: #221E1F;
}
.stl_39 {
	line-height: 1.185em;
}
.stl_40 {
	font-size: 0.583333em;
	font-family: "MRJIAK+Frutiger-Roman";
	color: #221E1F;
}
.stl_41 {
	letter-spacing: -0.0022em;
}

.ie .stl_41 {
	letter-spacing: -0.0267px;
}
@font-face {
	font-family:"DOKRJG+ZapfDingbats";
	src:url("d9543fa4-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_42 {
	font-size: 0.833333em;
	font-family: "DOKRJG+ZapfDingbats";
	color: #F7931D;
}
.stl_43 {
	line-height: 0.963em;
}
@font-face {
	font-family:"WSIQTI+Frutiger-Bold";
	src:url("e7969e3a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_44 {
	font-size: 0.75em;
	font-family: "WSIQTI+Frutiger-Bold";
	color: #221E1F;
}
.stl_45 {
	font-size: 0.683333em;
	font-family: "WSIQTI+Frutiger-Bold";
	color: #F7931D;
}
.stl_46 {
	letter-spacing: -0.0045em;
}

.ie .stl_46 {
	letter-spacing: -0.0492px;
}
.stl_47 {
	font-size: 0.546583em;
	font-family: "WTNGBH+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"GVEEFM+??";
	src:url("462862c0-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_48 {
	font-size: 1em;
	font-family: "GVEEFM+??", "Times New Roman";
	color: #60BF00;
}
.stl_49 {
	letter-spacing: 0.0147em;
}

.ie .stl_49 {
	letter-spacing: 0.235px;
}
.stl_50 {
	letter-spacing: 0.0126em;
}

.ie .stl_50 {
	letter-spacing: 0.235px;
}
.stl_51 {
	letter-spacing: 0.0001em;
}

.ie .stl_51 {
	letter-spacing: 0.0007px;
}
.stl_52 {
	letter-spacing: -0.0009em;
}

.ie .stl_52 {
	letter-spacing: -0.0098px;
}
.stl_53 {
	font-size: 0.45625em;
	font-family: "MRJIAK+Frutiger-Roman";
	color: #0168B4;
}
.stl_54 {
	font-size: 0.625333em;
	font-family: "MRJIAK+Frutiger-Roman";
	color: #0168B4;
}
.stl_55 {
	font-size: 0.625333em;
	font-family: "MRJIAK+Frutiger-Roman";
	color: #EF1D7B;
}
.stl_56 {
	font-size: 0.583333em;
	font-family: "WSIQTI+Frutiger-Bold";
	color: #221E1F;
}
.stl_57 {
	letter-spacing: -0.0001em;
}

.ie .stl_57 {
	letter-spacing: -0.0007px;
}
.stl_58 {
	font-size: 0.4665em;
	font-family: "WSIQTI+Frutiger-Bold";
	color: #221E1F;
}
.stl_59 {
	font-size: 0.425833em;
	font-family: "WSIQTI+Frutiger-Bold";
	color: #221E1F;
}
@font-face {
	font-family:"HGOIWB+Frutiger-Italic";
	src:url("02d2dfa4-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_60 {
	font-size: 0.583333em;
	font-family: "HGOIWB+Frutiger-Italic";
	color: #221E1F;
}
.stl_61 {
	line-height: 1.18em;
}
@font-face {
	font-family:"CWUKRW+Frutiger-Italic";
	src:url("37b2ea61-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_62 {
	font-size: 0.583333em;
	font-family: "CWUKRW+Frutiger-Italic", "Times New Roman";
	color: #221E1F;
}
.stl_63 {
	font-size: 1em;
	font-family: "VUQQOK+EuropeanPi-Four";
	color: #221E1F;
}
.stl_64 {
	letter-spacing: -0.0003em;
}

.ie .stl_64 {
	letter-spacing: -0.0028px;
}
.stl_65 {
	letter-spacing: -0.0007em;
}

.ie .stl_65 {
	letter-spacing: -0.0062px;
}
.stl_66 {
	letter-spacing: -0.0015em;
}

.ie .stl_66 {
	letter-spacing: -0.0135px;
}
.stl_67 {
	letter-spacing: -0.0006em;
}

.ie .stl_67 {
	letter-spacing: -0.0058px;
}
.stl_68 {
	letter-spacing: -0.0008em;
}

.ie .stl_68 {
	letter-spacing: -0.0058px;
}
.stl_69 {
	letter-spacing: -0.0002em;
}

.ie .stl_69 {
	letter-spacing: -0.0022px;
}
.stl_70 {
	letter-spacing: -0.002em;
}

.ie .stl_70 {
	letter-spacing: -0.0191px;
}
.stl_71 {
	font-size: 0.425833em;
	font-family: "HGOIWB+Frutiger-Italic";
	color: #221E1F;
}
@font-face {
	font-family:"UWFVKF+Helvetica";
	src:url("841780e2-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_72 {
	font-size: 0.833333em;
	font-family: "UWFVKF+Helvetica", "Times New Roman";
	color: #000000;
}
.stl_73 {
	line-height: 1.117188em;
}
.stl_74 {
	letter-spacing: -0.0016em;
}

.ie .stl_74 {
	letter-spacing: -0.0192px;
}
.stl_75 {
	font-size: 0.625333em;
	font-family: "HGOIWB+Frutiger-Italic";
	color: #EF1D7B;
}
@font-face {
	font-family:"EHUKSC+Symbol";
	src:url("2459d050-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_76 {
	font-size: 0.625333em;
	font-family: "EHUKSC+Symbol", "Times New Roman";
	color: #EF1D7B;
}
.stl_77 {
	line-height: 1.303em;
}
@font-face {
	font-family:"KOTAAF+Frutiger-BoldCn";
	src:url("ed579f30-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_78 {
	font-size: 0.575308em;
	font-family: "KOTAAF+Frutiger-BoldCn", "Times New Roman";
	color: #221E1F;
}
.stl_79 {
	line-height: 1.19em;
}
@font-face {
	font-family:"TMTORF+Frutiger-BlackCn";
	src:url("a54ac6dd-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_80 {
	font-size: 0.55065em;
	font-family: "TMTORF+Frutiger-BlackCn", "Times New Roman";
	color: #221E1F;
}
.stl_81 {
	line-height: 1.199em;
}
.stl_82 {
	letter-spacing: -0.0012em;
}

.ie .stl_82 {
	letter-spacing: -0.0113px;
}
.stl_83 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,0.9914796);
	-o-transform: scale(1,0.9914796);
	-ms-transform: matrix(1,0,0,0.9914796,0,-0.9243361);
	-moz-transform: scale(1,0.9914796);
	-webkit-transform: scale(1,0.9914796);
}
.stl_84 {
	font-size: 0.653333em;
	font-family: "VKGVIJ+Frutiger-Cn";
	color: #221E1F;
}
