sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"NULIIW+Frutiger-Black";
	src:url("d47ae82a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "NULIIW+Frutiger-Black";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: 0em;
}

.ie .stl_09 {
	letter-spacing: 0.0003px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "NULIIW+Frutiger-Black";
	color: #221E1F;
}
@font-face {
	font-family:"JBDVHS+Frutiger-Cn";
	src:url("f991fa2a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 2em;
	font-family: "JBDVHS+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_12 {
	line-height: 1.179em;
}
@font-face {
	font-family:"DLWUKD+DIN-Black";
	src:url("47ac95c2-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 1em;
	font-family: "DLWUKD+DIN-Black";
	color: #FFFFFF;
}
.stl_14 {
	line-height: 1.231em;
}
.stl_15 {
	font-size: 0.75em;
	font-family: "DLWUKD+DIN-Black";
	color: #221E1F;
}
@font-face {
	font-family:"AUVSKV+Frutiger-Light";
	src:url("8fe0dc39-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 0.683333em;
	font-family: "AUVSKV+Frutiger-Light";
	color: #221E1F;
}
.stl_17 {
	line-height: 1.161em;
}
.stl_18 {
	letter-spacing: -0.0022em;
}

.ie .stl_18 {
	letter-spacing: -0.0267px;
}
.stl_19 {
	letter-spacing: -0.0016em;
}

.ie .stl_19 {
	letter-spacing: -0.0192px;
}
@font-face {
	font-family:"ONTPTT+Frutiger-LightItalic";
	src:url("db9fa809-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_20 {
	font-size: 0.683333em;
	font-family: "ONTPTT+Frutiger-LightItalic", "Times New Roman";
	color: #221E1F;
}
.stl_21 {
	line-height: 1.167em;
}
.stl_22 {
	letter-spacing: -0.002em;
}

.ie .stl_22 {
	letter-spacing: -0.024px;
}
.stl_23 {
	font-size: 0.75em;
	font-family: "JBDVHS+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"QHMMTB+??";
	src:url("ac557090-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_24 {
	font-size: 1em;
	font-family: "QHMMTB+??", "Times New Roman";
	color: #60BF00;
}
.stl_25 {
	line-height: 1.107422em;
}
.stl_26 {
	letter-spacing: 0.0147em;
}

.ie .stl_26 {
	letter-spacing: 0.235px;
}
@font-face {
	font-family:"QAMRCF+Times-Roman";
	src:url("54b21619-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_27 {
	font-size: 1.166667em;
	font-family: "QAMRCF+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_28 {
	letter-spacing: 0.0126em;
}

.ie .stl_28 {
	letter-spacing: 0.235px;
}
