sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"OAUSHQ+Frutiger-Black";
	src:url("f756bbe7-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "OAUSHQ+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: -0.0002em;
}

.ie .stl_09 {
	letter-spacing: -0.0015px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "OAUSHQ+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"LGQDKV+Frutiger-Cn";
	src:url("ee679800-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 2em;
	font-family: "LGQDKV+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_12 {
	line-height: 1.179em;
}
.stl_13 {
	letter-spacing: 0em;
}

.ie .stl_13 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"JSTCPQ+DIN-Black";
	src:url("0663f2b9-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "JSTCPQ+DIN-Black";
	color: #FFFFFF;
}
.stl_15 {
	line-height: 1.231em;
}
@font-face {
	font-family:"WGAVWI+DIN-Bold";
	src:url("4d823f40-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 0.666667em;
	font-family: "WGAVWI+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_17 {
	line-height: 1.221em;
}
@font-face {
	font-family:"CPNJHP+Frutiger-Light";
	src:url("df0b24c9-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_18 {
	font-size: 0.666667em;
	font-family: "CPNJHP+Frutiger-Light";
	color: #221E1F;
}
.stl_19 {
	line-height: 1.161em;
}
.stl_20 {
	letter-spacing: -0.0011em;
}

.ie .stl_20 {
	letter-spacing: -0.0113px;
}
.stl_21 {
	letter-spacing: -0.0012em;
}

.ie .stl_21 {
	letter-spacing: -0.0128px;
}
.stl_22 {
	letter-spacing: -0.0003em;
}

.ie .stl_22 {
	letter-spacing: -0.0036px;
}
.stl_23 {
	letter-spacing: -0.0009em;
}

.ie .stl_23 {
	letter-spacing: -0.0099px;
}
.stl_24 {
	font-size: 0.75em;
	font-family: "JSTCPQ+DIN-Black";
	color: #221E1F;
}
.stl_25 {
	font-size: 0.683333em;
	font-family: "CPNJHP+Frutiger-Light";
	color: #221E1F;
}
.stl_26 {
	font-size: 0.75em;
	font-family: "LGQDKV+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"WKELVJ+??";
	src:url("f65fa8a0-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_27 {
	font-size: 1em;
	font-family: "WKELVJ+??", "Times New Roman";
	color: #60BF00;
}
.stl_28 {
	line-height: 1.107422em;
}
.stl_29 {
	letter-spacing: 0.0147em;
}

.ie .stl_29 {
	letter-spacing: 0.235px;
}
@font-face {
	font-family:"BUPIGM+Times-Roman";
	src:url("64521449-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_30 {
	font-size: 1.166667em;
	font-family: "BUPIGM+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_31 {
	letter-spacing: 0.0126em;
}

.ie .stl_31 {
	letter-spacing: 0.235px;
}
.stl_32 {
	font-size: 1.166667em;
	font-family: "LGQDKV+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_33 {
	font-size: 0.833333em;
	font-family: "JSTCPQ+DIN-Black";
	color: #F7931D;
}
.stl_34 {
	letter-spacing: -0.0022em;
}

.ie .stl_34 {
	letter-spacing: -0.0267px;
}
@font-face {
	font-family:"UBTWVE+Frutiger-Roman";
	src:url("eaa1a6b1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_35 {
	font-size: 0.683333em;
	font-family: "UBTWVE+Frutiger-Roman";
	color: #221E1F;
}
.stl_36 {
	line-height: 1.185em;
}
.stl_37 {
	font-size: 0.625333em;
	font-family: "UBTWVE+Frutiger-Roman";
	color: #0168B4;
}
.stl_38 {
	letter-spacing: -0.0019em;
}

.ie .stl_38 {
	letter-spacing: -0.0188px;
}
.stl_39 {
	font-size: 0.546583em;
	font-family: "CPNJHP+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"CVNVOA+Helvetica";
	src:url("40ee9285-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_40 {
	font-size: 0.833333em;
	font-family: "CVNVOA+Helvetica", "Times New Roman";
	color: #000000;
}
.stl_41 {
	line-height: 1.117188em;
}
.stl_42 {
	letter-spacing: 0.0001em;
}

.ie .stl_42 {
	letter-spacing: 0.0007px;
}
.stl_43 {
	font-size: 0.625333em;
	font-family: "UBTWVE+Frutiger-Roman";
	color: #EF1D7B;
}
.stl_44 {
	letter-spacing: -0.0016em;
}

.ie .stl_44 {
	letter-spacing: -0.0192px;
}
@font-face {
	font-family:"LLKFKQ+Frutiger-Bold";
	src:url("341c67ca-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_45 {
	font-size: 0.583333em;
	font-family: "LLKFKQ+Frutiger-Bold";
	color: #221E1F;
}
.stl_46 {
	letter-spacing: -0.0001em;
}

.ie .stl_46 {
	letter-spacing: -0.0005px;
}
.stl_47 {
	font-size: 0.4665em;
	font-family: "LLKFKQ+Frutiger-Bold";
	color: #221E1F;
}
.stl_48 {
	font-size: 0.583333em;
	font-family: "UBTWVE+Frutiger-Roman";
	color: #221E1F;
}
.stl_49 {
	letter-spacing: -0.0058em;
}

.ie .stl_49 {
	letter-spacing: -0.0537px;
}
@font-face {
	font-family:"RDCNMJ+Helvetica";
	src:url("d138ecb1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_50 {
	font-size: 0.833333em;
	font-family: "RDCNMJ+Helvetica", "Times New Roman";
	color: #000000;
}
.stl_51 {
	letter-spacing: -0.02em;
}

.ie .stl_51 {
	letter-spacing: -0.2187px;
}
.stl_52 {
	letter-spacing: -0.0005em;
}

.ie .stl_52 {
	letter-spacing: -0.0046px;
}
.stl_53 {
	letter-spacing: -0.008em;
}

.ie .stl_53 {
	letter-spacing: -0.0796px;
}
.stl_54 {
	letter-spacing: -0.01em;
}

.ie .stl_54 {
	letter-spacing: -0.1001px;
}
.stl_55 {
	letter-spacing: -0.0017em;
}

.ie .stl_55 {
	letter-spacing: -0.0171px;
}
.stl_56 {
	letter-spacing: -0.002em;
}

.ie .stl_56 {
	letter-spacing: -0.024px;
}
@font-face {
	font-family:"CRCPCM+ZapfDingbats";
	src:url("5486afe5-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_57 {
	font-size: 0.833333em;
	font-family: "CRCPCM+ZapfDingbats";
	color: #F7931D;
}
.stl_58 {
	line-height: 0.963em;
}
.stl_59 {
	font-size: 0.75em;
	font-family: "LLKFKQ+Frutiger-Bold";
	color: #221E1F;
}
.stl_60 {
	letter-spacing: -0.0007em;
}

.ie .stl_60 {
	letter-spacing: -0.0065px;
}
