sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"CIUUUQ+Frutiger-Black";
	src:url("8db3a714-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "CIUUUQ+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: -0.0001em;
}

.ie .stl_09 {
	letter-spacing: -0.0008px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "CIUUUQ+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"CHRUNF+Frutiger-Cn";
	src:url("f51c1016-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 2em;
	font-family: "CHRUNF+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_12 {
	line-height: 1.179em;
}
.stl_13 {
	letter-spacing: 0em;
}

.ie .stl_13 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"QOCNHW+DIN-Black";
	src:url("5d6cf905-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "QOCNHW+DIN-Black";
	color: #FFFFFF;
}
.stl_15 {
	line-height: 1.231em;
}
@font-face {
	font-family:"CGAUUR+DIN-Bold";
	src:url("ecbddb71-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 0.666667em;
	font-family: "CGAUUR+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_17 {
	line-height: 1.221em;
}
@font-face {
	font-family:"LDNTFJ+Frutiger-Light";
	src:url("8f9d243a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_18 {
	font-size: 0.666667em;
	font-family: "LDNTFJ+Frutiger-Light";
	color: #221E1F;
}
.stl_19 {
	line-height: 1.161em;
}
.stl_20 {
	letter-spacing: -0.0007em;
}

.ie .stl_20 {
	letter-spacing: -0.0075px;
}
@font-face {
	font-family:"HJSEWV+Frutiger-LightItalic";
	src:url("2bce301a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_21 {
	font-size: 0.666667em;
	font-family: "HJSEWV+Frutiger-LightItalic", "Times New Roman";
	color: #221E1F;
}
.stl_22 {
	line-height: 1.167em;
}
.stl_23 {
	letter-spacing: -0.0004em;
}

.ie .stl_23 {
	letter-spacing: -0.0039px;
}
.stl_24 {
	letter-spacing: -0.0024em;
}

.ie .stl_24 {
	letter-spacing: -0.0252px;
}
.stl_25 {
	font-size: 0.75em;
	font-family: "QOCNHW+DIN-Black";
	color: #221E1F;
}
.stl_26 {
	font-size: 0.683333em;
	font-family: "LDNTFJ+Frutiger-Light";
	color: #221E1F;
}
.stl_27 {
	letter-spacing: 0.0001em;
}

.ie .stl_27 {
	letter-spacing: 0.0007px;
}
@font-face {
	font-family:"OGTQLR+Frutiger-Roman";
	src:url("6d7b9762-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_28 {
	font-size: 0.683333em;
	font-family: "OGTQLR+Frutiger-Roman";
	color: #221E1F;
}
.stl_29 {
	line-height: 1.185em;
}
@font-face {
	font-family:"ILLBGU+Frutiger-Bold";
	src:url("b91d1b58-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_30 {
	font-size: 0.583333em;
	font-family: "ILLBGU+Frutiger-Bold";
	color: #221E1F;
}
.stl_31 {
	letter-spacing: 0.0002em;
}

.ie .stl_31 {
	letter-spacing: 0.0015px;
}
.stl_32 {
	font-size: 0.4665em;
	font-family: "ILLBGU+Frutiger-Bold";
	color: #221E1F;
}
.stl_33 {
	font-size: 0.583333em;
	font-family: "OGTQLR+Frutiger-Roman";
	color: #221E1F;
}
.stl_34 {
	letter-spacing: -0.0003em;
}

.ie .stl_34 {
	letter-spacing: -0.0031px;
}
.stl_35 {
	letter-spacing: -0.0017em;
}

.ie .stl_35 {
	letter-spacing: -0.0162px;
}
.stl_36 {
	letter-spacing: -0.0021em;
}

.ie .stl_36 {
	letter-spacing: -0.02px;
}
.stl_37 {
	font-size: 0.625333em;
	font-family: "OGTQLR+Frutiger-Roman";
	color: #EF1D7B;
}
.stl_38 {
	font-size: 0.75em;
	font-family: "CHRUNF+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"RILUNC+??";
	src:url("562b241e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_39 {
	font-size: 1em;
	font-family: "RILUNC+??", "Times New Roman";
	color: #60BF00;
}
.stl_40 {
	line-height: 1.107422em;
}
.stl_41 {
	letter-spacing: 0.0147em;
}

.ie .stl_41 {
	letter-spacing: 0.235px;
}
@font-face {
	font-family:"FCACWR+Times-Roman";
	src:url("d9c136fa-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_42 {
	font-size: 1.166667em;
	font-family: "FCACWR+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_43 {
	letter-spacing: 0.0126em;
}

.ie .stl_43 {
	letter-spacing: 0.235px;
}
.stl_44 {
	font-size: 1.166667em;
	font-family: "CHRUNF+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_45 {
	font-size: 0.833333em;
	font-family: "QOCNHW+DIN-Black";
	color: #F7931D;
}
@font-face {
	font-family:"RCELJE+Helvetica";
	src:url("2c82aa2a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_46 {
	font-size: 0.583333em;
	font-family: "RCELJE+Helvetica";
	color: #999999;
}
.stl_47 {
	line-height: 1.117188em;
}
.stl_48 {
	letter-spacing: -0.0043em;
}

.ie .stl_48 {
	letter-spacing: -0.052px;
}
@font-face {
	font-family:"NBHSOC+ZapfDingbats";
	src:url("a8d0fa5b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_49 {
	font-size: 0.833333em;
	font-family: "NBHSOC+ZapfDingbats";
	color: #F7931D;
}
.stl_50 {
	line-height: 0.963em;
}
.stl_51 {
	font-size: 0.75em;
	font-family: "ILLBGU+Frutiger-Bold";
	color: #221E1F;
}
.stl_52 {
	letter-spacing: -0.0002em;
}

.ie .stl_52 {
	letter-spacing: -0.0015px;
}
@font-face {
	font-family:"AONAPL+Frutiger-Italic";
	src:url("8e893e09-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_53 {
	font-size: 0.583333em;
	font-family: "AONAPL+Frutiger-Italic";
	color: #221E1F;
}
.stl_54 {
	line-height: 1.18em;
}
.stl_55 {
	font-size: 0.625333em;
	font-family: "OGTQLR+Frutiger-Roman";
	color: #0168B4;
}
.stl_56 {
	letter-spacing: -0.0016em;
}

.ie .stl_56 {
	letter-spacing: -0.0192px;
}
.stl_57 {
	font-size: 0.625333em;
	font-family: "AONAPL+Frutiger-Italic";
	color: #EF1D7B;
}
.stl_58 {
	letter-spacing: -0.002em;
}

.ie .stl_58 {
	letter-spacing: -0.024px;
}
.stl_59 {
	font-size: 0.625333em;
	font-family: "LDNTFJ+Frutiger-Light";
	color: #221E1F;
}
.stl_60 {
	font-size: 0.625333em;
	font-family: "ILLBGU+Frutiger-Bold";
	color: #F7931D;
}
.stl_61 {
	font-size: 0.625333em;
	font-family: "ILLBGU+Frutiger-Bold";
	color: #C41766;
}
.stl_62 {
	letter-spacing: -0.001em;
}

.ie .stl_62 {
	letter-spacing: -0.01px;
}
