sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"BJKPOW+Frutiger-Black";
	src:url("df353388-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "BJKPOW+Frutiger-Black";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: 0.0009em;
}

.ie .stl_09 {
	letter-spacing: 0.008px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "BJKPOW+Frutiger-Black";
	color: #221E1F;
}
.stl_11 {
	letter-spacing: 0.0011em;
}

.ie .stl_11 {
	letter-spacing: 0.008px;
}
@font-face {
	font-family:"FCNTJN+Frutiger-Cn";
	src:url("3f9a1156-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 2em;
	font-family: "FCNTJN+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_13 {
	line-height: 1.179em;
}
.stl_14 {
	letter-spacing: 0em;
}

.ie .stl_14 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"HHOFRT+DIN-Black";
	src:url("8d59a023-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 1em;
	font-family: "HHOFRT+DIN-Black";
	color: #FFFFFF;
}
.stl_16 {
	line-height: 1.231em;
}
@font-face {
	font-family:"SROGFR+DIN-Bold";
	src:url("cc43a39d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 0.666667em;
	font-family: "SROGFR+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_18 {
	line-height: 1.221em;
}
@font-face {
	font-family:"RQFFFO+Frutiger-Light";
	src:url("d81a71e1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 0.666667em;
	font-family: "RQFFFO+Frutiger-Light";
	color: #221E1F;
}
.stl_20 {
	line-height: 1.161em;
}
.stl_21 {
	font-size: 0.75em;
	font-family: "HHOFRT+DIN-Black";
	color: #221E1F;
}
.stl_22 {
	font-size: 0.683333em;
	font-family: "RQFFFO+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"TBGVVV+Frutiger-LightItalic";
	src:url("1196ee62-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_23 {
	font-size: 0.683333em;
	font-family: "TBGVVV+Frutiger-LightItalic";
	color: #221E1F;
}
.stl_24 {
	line-height: 1.167em;
}
.stl_25 {
	letter-spacing: -0.0043em;
}

.ie .stl_25 {
	letter-spacing: -0.052px;
}
.stl_26 {
	font-size: 0.546583em;
	font-family: "RQFFFO+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"EGCJRK+Frutiger-Roman";
	src:url("058703e4-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_27 {
	font-size: 0.625333em;
	font-family: "EGCJRK+Frutiger-Roman";
	color: #0168B4;
}
.stl_28 {
	line-height: 1.185em;
}
.stl_29 {
	letter-spacing: -0.0008em;
}

.ie .stl_29 {
	letter-spacing: -0.0084px;
}
@font-face {
	font-family:"WRSRMK+ZapfDingbats";
	src:url("e027cec5-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_30 {
	font-size: 0.833333em;
	font-family: "WRSRMK+ZapfDingbats";
	color: #F7931D;
}
.stl_31 {
	line-height: 0.963em;
}
@font-face {
	font-family:"ICTIAM+Frutiger-Bold";
	src:url("99c13189-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_32 {
	font-size: 0.75em;
	font-family: "ICTIAM+Frutiger-Bold";
	color: #221E1F;
}
.stl_33 {
	letter-spacing: -0.0016em;
}

.ie .stl_33 {
	letter-spacing: -0.0192px;
}
.stl_34 {
	font-size: 0.75em;
	font-family: "FCNTJN+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"JSGCCV+??";
	src:url("676943c2-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_35 {
	font-size: 1em;
	font-family: "JSGCCV+??", "Times New Roman";
	color: #60BF00;
}
.stl_36 {
	line-height: 1.107422em;
}
.stl_37 {
	letter-spacing: 0.0147em;
}

.ie .stl_37 {
	letter-spacing: 0.235px;
}
@font-face {
	font-family:"NGKIAP+Times-Roman";
	src:url("4dbd1faa-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_38 {
	font-size: 1.166667em;
	font-family: "NGKIAP+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_39 {
	letter-spacing: 0.0126em;
}

.ie .stl_39 {
	letter-spacing: 0.235px;
}
.stl_40 {
	letter-spacing: 0.0008em;
}

.ie .stl_40 {
	letter-spacing: 0.0078px;
}
.stl_41 {
	letter-spacing: 0.001em;
}

.ie .stl_41 {
	letter-spacing: 0.0078px;
}
.stl_42 {
	font-size: 1.166667em;
	font-family: "FCNTJN+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_43 {
	font-size: 0.833333em;
	font-family: "HHOFRT+DIN-Black";
	color: #F7931D;
}
@font-face {
	font-family:"LOJLNS+Symbol";
	src:url("1ee95c35-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_44 {
	font-size: 0.683333em;
	font-family: "LOJLNS+Symbol", "Times New Roman";
	color: #221E1F;
}
.stl_45 {
	line-height: 1.303em;
}
