sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"PHWEDM+Frutiger-Black";
	src:url("fbc75e13-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "PHWEDM+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: -0.0001em;
}

.ie .stl_09 {
	letter-spacing: -0.0007px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "PHWEDM+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"AKRSGQ+Frutiger-Cn";
	src:url("19e5b602-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 2em;
	font-family: "AKRSGQ+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_12 {
	line-height: 1.179em;
}
.stl_13 {
	letter-spacing: 0em;
}

.ie .stl_13 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"LFMTCK+DIN-Black";
	src:url("197421cc-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "LFMTCK+DIN-Black";
	color: #FFFFFF;
}
.stl_15 {
	line-height: 1.231em;
}
@font-face {
	font-family:"JSLDJC+DIN-Bold";
	src:url("f6f0673b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 0.666667em;
	font-family: "JSLDJC+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_17 {
	line-height: 1.221em;
}
@font-face {
	font-family:"AFCLGI+Frutiger-Light";
	src:url("4a6a484d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_18 {
	font-size: 0.666667em;
	font-family: "AFCLGI+Frutiger-Light";
	color: #221E1F;
}
.stl_19 {
	line-height: 1.161em;
}
.stl_20 {
	letter-spacing: -0.0008em;
}

.ie .stl_20 {
	letter-spacing: -0.0089px;
}
.stl_21 {
	font-size: 0.75em;
	font-family: "LFMTCK+DIN-Black";
	color: #221E1F;
}
.stl_22 {
	font-size: 0.683333em;
	font-family: "AFCLGI+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"KSTIRM+Frutiger-LightItalic";
	src:url("eb087b81-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_23 {
	font-size: 0.683333em;
	font-family: "KSTIRM+Frutiger-LightItalic";
	color: #221E1F;
}
.stl_24 {
	line-height: 1.167em;
}
.stl_25 {
	letter-spacing: -0.0022em;
}

.ie .stl_25 {
	letter-spacing: -0.0267px;
}
@font-face {
	font-family:"HJCGDD+ZapfDingbats";
	src:url("2754ef07-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_26 {
	font-size: 0.833333em;
	font-family: "HJCGDD+ZapfDingbats";
	color: #F7931D;
}
.stl_27 {
	line-height: 0.963em;
}
@font-face {
	font-family:"WNUWAK+Frutiger-Bold";
	src:url("f7b017ad-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_28 {
	font-size: 0.75em;
	font-family: "WNUWAK+Frutiger-Bold";
	color: #221E1F;
}
.stl_29 {
	line-height: 1.185em;
}
@font-face {
	font-family:"WQRWNV+Frutiger-Roman";
	src:url("40a346a5-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_30 {
	font-size: 0.625333em;
	font-family: "WQRWNV+Frutiger-Roman";
	color: #EF1D7B;
}
.stl_31 {
	font-size: 0.75em;
	font-family: "AKRSGQ+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"MQVEOV+Times-Roman";
	src:url("69c88133-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_32 {
	font-size: 1.166667em;
	font-family: "MQVEOV+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_33 {
	line-height: 1.107422em;
}
.stl_34 {
	font-size: 1.166667em;
	font-family: "AKRSGQ+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_35 {
	font-size: 0.833333em;
	font-family: "LFMTCK+DIN-Black";
	color: #F7931D;
}
.stl_36 {
	font-size: 0.60025em;
	font-family: "AFCLGI+Frutiger-Light";
	color: #221E1F;
}
.stl_37 {
	letter-spacing: -0.0013em;
}

.ie .stl_37 {
	letter-spacing: -0.0128px;
}
.stl_38 {
	letter-spacing: -0.0023em;
}

.ie .stl_38 {
	letter-spacing: -0.0218px;
}
.stl_39 {
	letter-spacing: -0.0046em;
}

.ie .stl_39 {
	letter-spacing: -0.0442px;
}
.stl_40 {
	letter-spacing: -0.0007em;
}

.ie .stl_40 {
	letter-spacing: -0.0072px;
}
.stl_41 {
	letter-spacing: -0.0014em;
}

.ie .stl_41 {
	letter-spacing: -0.013px;
}
.stl_42 {
	letter-spacing: -0.0016em;
}

.ie .stl_42 {
	letter-spacing: -0.0152px;
}
.stl_43 {
	letter-spacing: -0.0054em;
}

.ie .stl_43 {
	letter-spacing: -0.0514px;
}
.stl_44 {
	letter-spacing: -0.0062em;
}

.ie .stl_44 {
	letter-spacing: -0.0598px;
}
.stl_45 {
	letter-spacing: -0.0172em;
}

.ie .stl_45 {
	letter-spacing: -0.1657px;
}
.stl_46 {
	font-size: 0.569917em;
	font-family: "AFCLGI+Frutiger-Light";
	color: #221E1F;
}
.stl_47 {
	letter-spacing: -0.0182em;
}

.ie .stl_47 {
	letter-spacing: -0.1657px;
}
.stl_48 {
	letter-spacing: -0.0024em;
}

.ie .stl_48 {
	letter-spacing: -0.0227px;
}
.stl_49 {
	letter-spacing: -0.0025em;
}

.ie .stl_49 {
	letter-spacing: -0.0242px;
}
.stl_50 {
	letter-spacing: -0.0132em;
}

.ie .stl_50 {
	letter-spacing: -0.1268px;
}
.stl_51 {
	letter-spacing: -0.0026em;
}

.ie .stl_51 {
	letter-spacing: -0.0252px;
}
.stl_52 {
	letter-spacing: -0.0029em;
}

.ie .stl_52 {
	letter-spacing: -0.0279px;
}
.stl_53 {
	letter-spacing: -0.0012em;
}

.ie .stl_53 {
	letter-spacing: -0.0117px;
}
.stl_54 {
	letter-spacing: -0.0003em;
}

.ie .stl_54 {
	letter-spacing: -0.0029px;
}
.stl_55 {
	font-size: 0.437917em;
	font-family: "AFCLGI+Frutiger-Light";
	color: #221E1F;
}
.stl_56 {
	letter-spacing: -0.0004em;
}

.ie .stl_56 {
	letter-spacing: -0.0029px;
}
.stl_57 {
	font-size: 0.75em;
	font-family: "AFCLGI+Frutiger-Light";
	color: #221E1F;
}
.stl_58 {
	letter-spacing: -0.002em;
}

.ie .stl_58 {
	letter-spacing: -0.0196px;
}
.stl_59 {
	font-size: 0.583333em;
	font-family: "AFCLGI+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"KQRNIQ+??";
	src:url("bee6bbc6-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_60 {
	font-size: 1em;
	font-family: "KQRNIQ+??", "Times New Roman";
	color: #60BF00;
}
.stl_61 {
	letter-spacing: 0.0147em;
}

.ie .stl_61 {
	letter-spacing: 0.235px;
}
.stl_62 {
	letter-spacing: 0.0126em;
}

.ie .stl_62 {
	letter-spacing: 0.235px;
}
.stl_63 {
	font-size: 0.583333em;
	font-family: "WNUWAK+Frutiger-Bold";
	color: #221E1F;
}
.stl_64 {
	font-size: 0.4665em;
	font-family: "WNUWAK+Frutiger-Bold";
	color: #221E1F;
}
.stl_65 {
	font-size: 0.583333em;
	font-family: "WQRWNV+Frutiger-Roman";
	color: #221E1F;
}
.stl_66 {
	letter-spacing: -0.0019em;
}

.ie .stl_66 {
	letter-spacing: -0.018px;
}
@font-face {
	font-family:"NNIKRQ+MathematicalPi-One";
	src:url("2a854c72-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_67 {
	font-size: 0.583333em;
	font-family: "NNIKRQ+MathematicalPi-One", "Times New Roman";
	color: #221E1F;
}
.stl_68 {
	line-height: 0.989em;
}
.stl_69 {
	font-size: 0.425833em;
	font-family: "WQRWNV+Frutiger-Roman";
	color: #221E1F;
}
@font-face {
	font-family:"DEUWWB+Helvetica";
	src:url("d82cfa7e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_70 {
	font-size: 0.583333em;
	font-family: "DEUWWB+Helvetica";
	color: #999999;
}
.stl_71 {
	line-height: 1.117188em;
}
.stl_72 {
	font-size: 0.625333em;
	font-family: "WQRWNV+Frutiger-Roman";
	color: #0168B4;
}
.stl_73 {
	letter-spacing: -0.015em;
}

.ie .stl_73 {
	letter-spacing: -0.164px;
}
.stl_74 {
	letter-spacing: -0.01em;
}

.ie .stl_74 {
	letter-spacing: -0.1093px;
}
.stl_75 {
	font-size: 0.625333em;
	font-family: "AFCLGI+Frutiger-Light";
	color: #221E1F;
}
.stl_76 {
	font-size: 0.625333em;
	font-family: "WNUWAK+Frutiger-Bold";
	color: #F7931D;
}
