sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"AGPWGN+Frutiger-Black";
	src:url("0b635fd7-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "AGPWGN+Frutiger-Black";
	color: #FFFFFF;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: 0em;
}

.ie .stl_09 {
	letter-spacing: 0.0002px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "AGPWGN+Frutiger-Black";
	color: #FFFFFF;
}
.stl_11 {
	font-size: 0.583333em;
	font-family: "AGPWGN+Frutiger-Black";
	color: #221E1F;
}
.stl_12 {
	font-size: 0.4665em;
	font-family: "AGPWGN+Frutiger-Black";
	color: #221E1F;
}
@font-face {
	font-family:"GIUBWB+Frutiger-Cn";
	src:url("80cec5c5-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 2em;
	font-family: "GIUBWB+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_14 {
	line-height: 1.179em;
}
@font-face {
	font-family:"VGSNEU+DIN-Black";
	src:url("d2070157-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 1em;
	font-family: "VGSNEU+DIN-Black";
	color: #FFFFFF;
}
.stl_16 {
	line-height: 1.231em;
}
@font-face {
	font-family:"KOEWBO+DIN-Bold";
	src:url("1d9be6fa-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 0.666667em;
	font-family: "KOEWBO+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_18 {
	line-height: 1.221em;
}
@font-face {
	font-family:"TVTDRE+Frutiger-Light";
	src:url("fc67f35a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 0.666667em;
	font-family: "TVTDRE+Frutiger-Light";
	color: #221E1F;
}
.stl_20 {
	line-height: 1.161em;
}
.stl_21 {
	letter-spacing: -0.0004em;
}

.ie .stl_21 {
	letter-spacing: -0.0046px;
}
.stl_22 {
	letter-spacing: -0.0005em;
}

.ie .stl_22 {
	letter-spacing: -0.0055px;
}
.stl_23 {
	font-size: 0.75em;
	font-family: "VGSNEU+DIN-Black";
	color: #221E1F;
}
@font-face {
	font-family:"CRRQGW+Frutiger-Italic";
	src:url("4c13b42b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_24 {
	font-size: 0.683333em;
	font-family: "CRRQGW+Frutiger-Italic", "Times New Roman";
	color: #221E1F;
}
.stl_25 {
	line-height: 1.18em;
}
@font-face {
	font-family:"DBRVAL+Frutiger-Roman";
	src:url("8dcf3523-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_26 {
	font-size: 0.683333em;
	font-family: "DBRVAL+Frutiger-Roman";
	color: #221E1F;
}
.stl_27 {
	line-height: 1.185em;
}
.stl_28 {
	font-size: 0.625333em;
	font-family: "DBRVAL+Frutiger-Roman";
	color: #0168B4;
}
.stl_29 {
	font-size: 0.583333em;
	font-family: "DBRVAL+Frutiger-Roman";
	color: #221E1F;
}
.stl_30 {
	letter-spacing: -0.0006em;
}

.ie .stl_30 {
	letter-spacing: -0.0054px;
}
.stl_31 {
	font-size: 0.583333em;
	font-family: "CRRQGW+Frutiger-Italic", "Times New Roman";
	color: #221E1F;
}
.stl_32 {
	letter-spacing: -0.0022em;
}

.ie .stl_32 {
	letter-spacing: -0.0267px;
}
@font-face {
	font-family:"FRQCWQ+ZapfDingbats";
	src:url("50d1c155-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_33 {
	font-size: 0.833333em;
	font-family: "FRQCWQ+ZapfDingbats";
	color: #F7931D;
}
.stl_34 {
	line-height: 0.963em;
}
@font-face {
	font-family:"KOUPON+Frutiger-Bold";
	src:url("3334aff2-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_35 {
	font-size: 0.75em;
	font-family: "KOUPON+Frutiger-Bold";
	color: #221E1F;
}
.stl_36 {
	font-size: 0.683333em;
	font-family: "TVTDRE+Frutiger-Light";
	color: #221E1F;
}
.stl_37 {
	letter-spacing: 0.0001em;
}

.ie .stl_37 {
	letter-spacing: 0.0009px;
}
@font-face {
	font-family:"LATPQO+Frutiger-LightItalic";
	src:url("678d5358-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_38 {
	font-size: 0.683333em;
	font-family: "LATPQO+Frutiger-LightItalic", "Times New Roman";
	color: #221E1F;
}
.stl_39 {
	line-height: 1.167em;
}
.stl_40 {
	font-size: 0.625333em;
	font-family: "DBRVAL+Frutiger-Roman";
	color: #EF1D7B;
}
.stl_41 {
	font-size: 0.75em;
	font-family: "GIUBWB+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"OMVKHC+??";
	src:url("bade7eb7-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_42 {
	font-size: 1em;
	font-family: "OMVKHC+??", "Times New Roman";
	color: #60BF00;
}
.stl_43 {
	line-height: 1.107422em;
}
.stl_44 {
	letter-spacing: 0.0147em;
}

.ie .stl_44 {
	letter-spacing: 0.235px;
}
@font-face {
	font-family:"LHRRHL+Times-Roman";
	src:url("dc6fc09e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_45 {
	font-size: 1.166667em;
	font-family: "LHRRHL+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_46 {
	letter-spacing: 0.0126em;
}

.ie .stl_46 {
	letter-spacing: 0.235px;
}
@font-face {
	font-family:"UAICEM+Helvetica";
	src:url("0de9bbb1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_47 {
	font-size: 0.833333em;
	font-family: "UAICEM+Helvetica", "Times New Roman";
	color: #000000;
}
.stl_48 {
	line-height: 1.117188em;
}
.stl_49 {
	font-size: 1.166667em;
	font-family: "GIUBWB+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_50 {
	font-size: 0.833333em;
	font-family: "VGSNEU+DIN-Black";
	color: #F7931D;
}
.stl_51 {
	font-size: 0.546583em;
	font-family: "TVTDRE+Frutiger-Light";
	color: #221E1F;
}
.stl_52 {
	letter-spacing: -0.0016em;
}

.ie .stl_52 {
	letter-spacing: -0.0192px;
}
.stl_53 {
	font-size: 0.683333em;
	font-family: "KOUPON+Frutiger-Bold";
	color: #F7931D;
}
.stl_54 {
	letter-spacing: -0.0001em;
}

.ie .stl_54 {
	letter-spacing: -0.001px;
}
.stl_55 {
	letter-spacing: -0.001em;
}

.ie .stl_55 {
	letter-spacing: -0.0109px;
}
.stl_56 {
	letter-spacing: -0.0044em;
}

.ie .stl_56 {
	letter-spacing: -0.0479px;
}
.stl_57 {
	letter-spacing: -0.002em;
}

.ie .stl_57 {
	letter-spacing: -0.024px;
}
.stl_58 {
	font-size: 0.625333em;
	font-family: "TVTDRE+Frutiger-Light";
	color: #221E1F;
}
.stl_59 {
	font-size: 0.625333em;
	font-family: "KOUPON+Frutiger-Bold";
	color: #C41766;
}
