sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"WHWQTE+Frutiger-Black";
	src:url("4253d1ed-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "WHWQTE+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: -0.0001em;
}

.ie .stl_09 {
	letter-spacing: -0.001px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "WHWQTE+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"SPRMLT+Frutiger-Cn";
	src:url("0259eb8e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 2em;
	font-family: "SPRMLT+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_12 {
	line-height: 1.179em;
}
.stl_13 {
	letter-spacing: 0em;
}

.ie .stl_13 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"JIQVLC+DIN-Black";
	src:url("ce913c63-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "JIQVLC+DIN-Black";
	color: #FFFFFF;
}
.stl_15 {
	line-height: 1.231em;
}
@font-face {
	font-family:"TOBTIV+DIN-Bold";
	src:url("b220c93e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 0.666667em;
	font-family: "TOBTIV+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_17 {
	line-height: 1.221em;
}
@font-face {
	font-family:"KPFMPE+Frutiger-Light";
	src:url("416a6f54-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_18 {
	font-size: 0.666667em;
	font-family: "KPFMPE+Frutiger-Light";
	color: #221E1F;
}
.stl_19 {
	line-height: 1.161em;
}
.stl_20 {
	letter-spacing: -0.0018em;
}

.ie .stl_20 {
	letter-spacing: -0.0188px;
}
.stl_21 {
	font-size: 0.75em;
	font-family: "JIQVLC+DIN-Black";
	color: #221E1F;
}
@font-face {
	font-family:"LTAKOB+Frutiger-Roman";
	src:url("89e6089d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_22 {
	font-size: 0.625333em;
	font-family: "LTAKOB+Frutiger-Roman";
	color: #0168B4;
}
.stl_23 {
	line-height: 1.185em;
}
@font-face {
	font-family:"PVBJUP+Symbol";
	src:url("06bbdb7f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_24 {
	font-size: 0.625333em;
	font-family: "PVBJUP+Symbol", "Times New Roman";
	color: #0168B4;
}
.stl_25 {
	line-height: 1.303em;
}
.stl_26 {
	font-size: 0.683333em;
	font-family: "KPFMPE+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"NJWPEE+Frutiger-LightItalic";
	src:url("fa642b9d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_27 {
	font-size: 0.683333em;
	font-family: "NJWPEE+Frutiger-LightItalic";
	color: #221E1F;
}
.stl_28 {
	line-height: 1.167em;
}
.stl_29 {
	letter-spacing: -0.01em;
}

.ie .stl_29 {
	letter-spacing: -0.1093px;
}
@font-face {
	font-family:"JQQBCE+Frutiger-Bold";
	src:url("a1f1903f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_30 {
	font-size: 0.683333em;
	font-family: "JQQBCE+Frutiger-Bold";
	color: #221E1F;
}
.stl_31 {
	font-size: 0.60025em;
	font-family: "KPFMPE+Frutiger-Light";
	color: #221E1F;
}
.stl_32 {
	letter-spacing: -0.0013em;
}

.ie .stl_32 {
	letter-spacing: -0.0127px;
}
.stl_33 {
	letter-spacing: -0.0015em;
}

.ie .stl_33 {
	letter-spacing: -0.0144px;
}
.stl_34 {
	letter-spacing: -0.0022em;
}

.ie .stl_34 {
	letter-spacing: -0.0209px;
}
.stl_35 {
	letter-spacing: -0.0011em;
}

.ie .stl_35 {
	letter-spacing: -0.0109px;
}
.stl_36 {
	font-size: 0.60025em;
	font-family: "NJWPEE+Frutiger-LightItalic";
	color: #221E1F;
}
.stl_37 {
	letter-spacing: -0.0043em;
}

.ie .stl_37 {
	letter-spacing: -0.052px;
}
@font-face {
	font-family:"MIVPTU+ZapfDingbats";
	src:url("6660b22f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_38 {
	font-size: 0.833333em;
	font-family: "MIVPTU+ZapfDingbats";
	color: #F7931D;
}
.stl_39 {
	line-height: 0.963em;
}
.stl_40 {
	font-size: 0.75em;
	font-family: "JQQBCE+Frutiger-Bold";
	color: #221E1F;
}
.stl_41 {
	font-size: 0.75em;
	font-family: "SPRMLT+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"UFGNGG+Times-Roman";
	src:url("9270c1b0-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_42 {
	font-size: 1.166667em;
	font-family: "UFGNGG+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_43 {
	line-height: 1.107422em;
}
.stl_44 {
	font-size: 1.166667em;
	font-family: "SPRMLT+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_45 {
	font-size: 0.833333em;
	font-family: "JIQVLC+DIN-Black";
	color: #F7931D;
}
.stl_46 {
	font-size: 0.583333em;
	font-family: "JQQBCE+Frutiger-Bold";
	color: #221E1F;
}
.stl_47 {
	font-size: 0.4665em;
	font-family: "JQQBCE+Frutiger-Bold";
	color: #221E1F;
}
.stl_48 {
	font-size: 0.583333em;
	font-family: "LTAKOB+Frutiger-Roman";
	color: #221E1F;
}
.stl_49 {
	letter-spacing: -0.0044em;
}

.ie .stl_49 {
	letter-spacing: -0.0406px;
}
.stl_50 {
	letter-spacing: -0.0016em;
}

.ie .stl_50 {
	letter-spacing: -0.0192px;
}
@font-face {
	font-family:"OVTTDA+??";
	src:url("e92fe681-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_51 {
	font-size: 1em;
	font-family: "OVTTDA+??", "Times New Roman";
	color: #60BF00;
}
.stl_52 {
	letter-spacing: 0.0147em;
}

.ie .stl_52 {
	letter-spacing: 0.235px;
}
.stl_53 {
	letter-spacing: 0.0126em;
}

.ie .stl_53 {
	letter-spacing: 0.235px;
}
.stl_54 {
	letter-spacing: -0.0017em;
}

.ie .stl_54 {
	letter-spacing: -0.0167px;
}
.stl_55 {
	letter-spacing: -0.002em;
}

.ie .stl_55 {
	letter-spacing: -0.024px;
}
