sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"MDNQPM+Frutiger-Black";
	src:url("a3bcc7cb-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "MDNQPM+Frutiger-Black";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: 0em;
}

.ie .stl_09 {
	letter-spacing: 0.0002px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "MDNQPM+Frutiger-Black";
	color: #221E1F;
}
@font-face {
	font-family:"UUHWQN+Frutiger-Cn";
	src:url("6e996130-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 2em;
	font-family: "UUHWQN+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_12 {
	line-height: 1.179em;
}
@font-face {
	font-family:"QGWOVC+DIN-Black";
	src:url("7a375b16-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 1em;
	font-family: "QGWOVC+DIN-Black";
	color: #FFFFFF;
}
.stl_14 {
	line-height: 1.231em;
}
@font-face {
	font-family:"RMBCFR+DIN-Bold";
	src:url("d73ec4a9-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 0.666667em;
	font-family: "RMBCFR+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_16 {
	line-height: 1.221em;
}
@font-face {
	font-family:"QHHDPU+Frutiger-Light";
	src:url("8edcaeda-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 0.666667em;
	font-family: "QHHDPU+Frutiger-Light";
	color: #221E1F;
}
.stl_18 {
	line-height: 1.161em;
}
.stl_19 {
	letter-spacing: -0.0007em;
}

.ie .stl_19 {
	letter-spacing: -0.007px;
}
.stl_20 {
	letter-spacing: -0.0009em;
}

.ie .stl_20 {
	letter-spacing: -0.0096px;
}
.stl_21 {
	letter-spacing: -0.0004em;
}

.ie .stl_21 {
	letter-spacing: -0.0039px;
}
.stl_22 {
	font-size: 0.75em;
	font-family: "QGWOVC+DIN-Black";
	color: #221E1F;
}
.stl_23 {
	font-size: 0.683333em;
	font-family: "QHHDPU+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"QJDMFU+Frutiger-Roman";
	src:url("a8b39680-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_24 {
	font-size: 0.583333em;
	font-family: "QJDMFU+Frutiger-Roman";
	color: #221E1F;
}
.stl_25 {
	line-height: 1.185em;
}
.stl_26 {
	letter-spacing: -0.0017em;
}

.ie .stl_26 {
	letter-spacing: -0.0159px;
}
.stl_27 {
	font-size: 0.625333em;
	font-family: "QJDMFU+Frutiger-Roman";
	color: #0168B4;
}
.stl_28 {
	letter-spacing: -0.0019em;
}

.ie .stl_28 {
	letter-spacing: -0.0192px;
}
.stl_29 {
	font-size: 0.75em;
	font-family: "UUHWQN+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"GCTIPD+??";
	src:url("14dec315-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_30 {
	font-size: 1em;
	font-family: "GCTIPD+??", "Times New Roman";
	color: #60BF00;
}
.stl_31 {
	line-height: 1.107422em;
}
.stl_32 {
	letter-spacing: 0.0147em;
}

.ie .stl_32 {
	letter-spacing: 0.235px;
}
@font-face {
	font-family:"QGQSEU+Times-Roman";
	src:url("c4d199bc-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_33 {
	font-size: 1.166667em;
	font-family: "QGQSEU+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_34 {
	letter-spacing: 0.0126em;
}

.ie .stl_34 {
	letter-spacing: 0.235px;
}
.stl_35 {
	font-size: 1.166667em;
	font-family: "UUHWQN+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_36 {
	font-size: 0.833333em;
	font-family: "QGWOVC+DIN-Black";
	color: #F7931D;
}
@font-face {
	font-family:"RGDJPA+Frutiger-Bold";
	src:url("76cba82c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_37 {
	font-size: 0.683333em;
	font-family: "RGDJPA+Frutiger-Bold";
	color: #F7931D;
}
.stl_38 {
	font-size: 0.683333em;
	font-family: "QJDMFU+Frutiger-Roman";
	color: #221E1F;
}
.stl_39 {
	letter-spacing: 0.0001em;
}

.ie .stl_39 {
	letter-spacing: 0.0005px;
}
@font-face {
	font-family:"TBGGNO+Frutiger-LightItalic";
	src:url("e577f528-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_40 {
	font-size: 0.683333em;
	font-family: "TBGGNO+Frutiger-LightItalic", "Times New Roman";
	color: #221E1F;
}
.stl_41 {
	line-height: 1.167em;
}
.stl_42 {
	font-size: 0.499em;
	font-family: "QHHDPU+Frutiger-Light";
	color: #221E1F;
}
.stl_43 {
	font-size: 0.583333em;
	font-family: "RGDJPA+Frutiger-Bold";
	color: #221E1F;
}
.stl_44 {
	font-size: 0.4665em;
	font-family: "RGDJPA+Frutiger-Bold";
	color: #221E1F;
}
.stl_45 {
	letter-spacing: -0.0018em;
}

.ie .stl_45 {
	letter-spacing: -0.0168px;
}
@font-face {
	font-family:"QTTNGO+Frutiger-Italic";
	src:url("d0508978-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_46 {
	font-size: 0.583333em;
	font-family: "QTTNGO+Frutiger-Italic";
	color: #221E1F;
}
.stl_47 {
	line-height: 1.18em;
}
.stl_48 {
	letter-spacing: -0.0028em;
}

.ie .stl_48 {
	letter-spacing: -0.0266px;
}
.stl_49 {
	letter-spacing: -0.0039em;
}

.ie .stl_49 {
	letter-spacing: -0.0364px;
}
.stl_50 {
	letter-spacing: -0.0022em;
}

.ie .stl_50 {
	letter-spacing: -0.0267px;
}
@font-face {
	font-family:"QTFCTQ+ZapfDingbats";
	src:url("a3f7b6dc-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_51 {
	font-size: 0.833333em;
	font-family: "QTFCTQ+ZapfDingbats";
	color: #F7931D;
}
.stl_52 {
	line-height: 0.963em;
}
.stl_53 {
	font-size: 0.75em;
	font-family: "RGDJPA+Frutiger-Bold";
	color: #221E1F;
}
.stl_54 {
	letter-spacing: -0.0016em;
}

.ie .stl_54 {
	letter-spacing: -0.0192px;
}
@font-face {
	font-family:"FTNVTG+Helvetica";
	src:url("3098bdfa-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_55 {
	font-size: 0.833333em;
	font-family: "FTNVTG+Helvetica", "Times New Roman";
	color: #000000;
}
.stl_56 {
	line-height: 1.117188em;
}
.stl_57 {
	letter-spacing: -0.002em;
}

.ie .stl_57 {
	letter-spacing: -0.024px;
}
.stl_58 {
	font-size: 0.625333em;
	font-family: "QHHDPU+Frutiger-Light";
	color: #221E1F;
}
.stl_59 {
	font-size: 0.625333em;
	font-family: "RGDJPA+Frutiger-Bold";
	color: #C41766;
}
.stl_60 {
	letter-spacing: -0.001em;
}

.ie .stl_60 {
	letter-spacing: -0.0097px;
}
