sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"PNVLIS+Frutiger-Black";
	src:url("02f8dc63-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "PNVLIS+Frutiger-Black";
	color: #FFFFFF;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: 0.0008em;
}

.ie .stl_09 {
	letter-spacing: 0.0079px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "PNVLIS+Frutiger-Black";
	color: #FFFFFF;
}
.stl_11 {
	letter-spacing: 0.0011em;
}

.ie .stl_11 {
	letter-spacing: 0.0079px;
}
.stl_12 {
	font-size: 0.583333em;
	font-family: "PNVLIS+Frutiger-Black";
	color: #221E1F;
}
.stl_13 {
	letter-spacing: 0.0009em;
}

.ie .stl_13 {
	letter-spacing: 0.008px;
}
.stl_14 {
	font-size: 0.4665em;
	font-family: "PNVLIS+Frutiger-Black";
	color: #221E1F;
}
@font-face {
	font-family:"NGEVIT+Frutiger-Cn";
	src:url("a6e730fb-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 2em;
	font-family: "NGEVIT+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_16 {
	line-height: 1.179em;
}
.stl_17 {
	letter-spacing: 0em;
}

.ie .stl_17 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"PVPICU+DIN-Black";
	src:url("824a2347-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_18 {
	font-size: 1em;
	font-family: "PVPICU+DIN-Black";
	color: #FFFFFF;
}
.stl_19 {
	line-height: 1.231em;
}
@font-face {
	font-family:"SSUIGW+DIN-Bold";
	src:url("7bb1a4e7-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_20 {
	font-size: 0.666667em;
	font-family: "SSUIGW+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_21 {
	line-height: 1.221em;
}
@font-face {
	font-family:"KIQFFI+Frutiger-Light";
	src:url("f33053dc-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_22 {
	font-size: 0.666667em;
	font-family: "KIQFFI+Frutiger-Light";
	color: #221E1F;
}
.stl_23 {
	line-height: 1.161em;
}
.stl_24 {
	letter-spacing: -0.0003em;
}

.ie .stl_24 {
	letter-spacing: -0.0036px;
}
@font-face {
	font-family:"OCCTGM+Frutiger-Roman";
	src:url("a52c86de-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_25 {
	font-size: 0.625333em;
	font-family: "OCCTGM+Frutiger-Roman";
	color: #0168B4;
}
.stl_26 {
	line-height: 1.185em;
}
.stl_27 {
	font-size: 0.75em;
	font-family: "PVPICU+DIN-Black";
	color: #221E1F;
}
.stl_28 {
	letter-spacing: -0.0021em;
}

.ie .stl_28 {
	letter-spacing: -0.0257px;
}
@font-face {
	font-family:"MVKLFK+ZapfDingbats";
	src:url("e9d9f7b0-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_29 {
	font-size: 0.833333em;
	font-family: "MVKLFK+ZapfDingbats";
	color: #F7931D;
}
.stl_30 {
	line-height: 0.963em;
}
@font-face {
	font-family:"EUUPCW+Frutiger-Bold";
	src:url("ca4f3369-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_31 {
	font-size: 0.75em;
	font-family: "EUUPCW+Frutiger-Bold";
	color: #221E1F;
}
.stl_32 {
	font-size: 0.683333em;
	font-family: "KIQFFI+Frutiger-Light";
	color: #221E1F;
}
.stl_33 {
	font-size: 0.583333em;
	font-family: "EUUPCW+Frutiger-Bold";
	color: #221E1F;
}
.stl_34 {
	font-size: 0.4665em;
	font-family: "EUUPCW+Frutiger-Bold";
	color: #221E1F;
}
.stl_35 {
	font-size: 0.583333em;
	font-family: "OCCTGM+Frutiger-Roman";
	color: #221E1F;
}
@font-face {
	font-family:"OSCCBQ+EuropeanPi-Four";
	src:url("238c3d11-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_36 {
	font-size: 1em;
	font-family: "OSCCBQ+EuropeanPi-Four", "Times New Roman";
	color: #221E1F;
}
.stl_37 {
	line-height: 1.035em;
}
.stl_38 {
	font-size: 0.75em;
	font-family: "NGEVIT+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"GTILKO+??";
	src:url("e698e1df-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_39 {
	font-size: 1em;
	font-family: "GTILKO+??", "Times New Roman";
	color: #60BF00;
}
.stl_40 {
	line-height: 1.107422em;
}
.stl_41 {
	letter-spacing: 0.0147em;
}

.ie .stl_41 {
	letter-spacing: 0.235px;
}
@font-face {
	font-family:"VSJOEK+Times-Roman";
	src:url("28b2cdd9-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_42 {
	font-size: 1.166667em;
	font-family: "VSJOEK+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_43 {
	letter-spacing: 0.0126em;
}

.ie .stl_43 {
	letter-spacing: 0.235px;
}
.stl_44 {
	letter-spacing: 0.001em;
}

.ie .stl_44 {
	letter-spacing: 0.0078px;
}
.stl_45 {
	font-size: 1.166667em;
	font-family: "NGEVIT+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_46 {
	font-size: 0.833333em;
	font-family: "PVPICU+DIN-Black";
	color: #F7931D;
}
@font-face {
	font-family:"QMQITT+Frutiger-Italic";
	src:url("33d1ab72-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_47 {
	font-size: 0.583333em;
	font-family: "QMQITT+Frutiger-Italic", "Times New Roman";
	color: #221E1F;
}
.stl_48 {
	line-height: 1.18em;
}
.stl_49 {
	letter-spacing: -0.0007em;
}

.ie .stl_49 {
	letter-spacing: -0.0067px;
}
.stl_50 {
	letter-spacing: -0.0016em;
}

.ie .stl_50 {
	letter-spacing: -0.0192px;
}
@font-face {
	font-family:"PGJBBH+Frutiger-LightItalic";
	src:url("18603baf-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_51 {
	font-size: 0.683333em;
	font-family: "PGJBBH+Frutiger-LightItalic";
	color: #221E1F;
}
.stl_52 {
	line-height: 1.167em;
}
.stl_53 {
	font-size: 0.683333em;
	font-family: "EUUPCW+Frutiger-Bold";
	color: #221E1F;
}
.stl_54 {
	letter-spacing: -0.0018em;
}

.ie .stl_54 {
	letter-spacing: -0.0197px;
}
.stl_55 {
	font-size: 0.60025em;
	font-family: "KIQFFI+Frutiger-Light";
	color: #221E1F;
}
.stl_56 {
	letter-spacing: -0.0027em;
}

.ie .stl_56 {
	letter-spacing: -0.0259px;
}
.stl_57 {
	letter-spacing: -0.028em;
}

.ie .stl_57 {
	letter-spacing: -0.2689px;
}
.stl_58 {
	letter-spacing: -0.0009em;
}

.ie .stl_58 {
	letter-spacing: -0.0092px;
}
.stl_59 {
	letter-spacing: -0.0108em;
}

.ie .stl_59 {
	letter-spacing: -0.1078px;
}
@font-face {
	font-family:"TVAKCW+Helvetica";
	src:url("5a9f6268-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_60 {
	font-size: 0.833333em;
	font-family: "TVAKCW+Helvetica", "Times New Roman";
	color: #000000;
}
.stl_61 {
	line-height: 1.117188em;
}
.stl_62 {
	letter-spacing: -0.002em;
}

.ie .stl_62 {
	letter-spacing: -0.024px;
}
.stl_63 {
	letter-spacing: -0.0001em;
}

.ie .stl_63 {
	letter-spacing: -0.0005px;
}
.stl_64 {
	font-size: 0.625333em;
	font-family: "KIQFFI+Frutiger-Light";
	color: #221E1F;
}
.stl_65 {
	letter-spacing: -0.0064em;
}

.ie .stl_65 {
	letter-spacing: -0.0645px;
}
.stl_66 {
	font-size: 0.625333em;
	font-family: "EUUPCW+Frutiger-Bold";
	color: #B55CA5;
}
