sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"NJFDAT+Frutiger-Black";
	src:url("a243fc7f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "NJFDAT+Frutiger-Black";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: 0em;
}

.ie .stl_09 {
	letter-spacing: 0.0001px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "NJFDAT+Frutiger-Black";
	color: #221E1F;
}
@font-face {
	font-family:"LQKPWS+Frutiger-Cn";
	src:url("74ced520-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 2em;
	font-family: "LQKPWS+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_12 {
	line-height: 1.179em;
}
@font-face {
	font-family:"ACJERD+DIN-Black";
	src:url("e417d6d0-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 1em;
	font-family: "ACJERD+DIN-Black";
	color: #FFFFFF;
}
.stl_14 {
	line-height: 1.231em;
}
@font-face {
	font-family:"RVQQUQ+DIN-Bold";
	src:url("8f3c4996-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 0.666667em;
	font-family: "RVQQUQ+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_16 {
	line-height: 1.221em;
}
@font-face {
	font-family:"THPTBD+Frutiger-Light";
	src:url("37199fca-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 0.666667em;
	font-family: "THPTBD+Frutiger-Light";
	color: #221E1F;
}
.stl_18 {
	line-height: 1.161em;
}
.stl_19 {
	letter-spacing: -0.0011em;
}

.ie .stl_19 {
	letter-spacing: -0.0113px;
}
.stl_20 {
	letter-spacing: -0.0007em;
}

.ie .stl_20 {
	letter-spacing: -0.0078px;
}
.stl_21 {
	letter-spacing: -0.0023em;
}

.ie .stl_21 {
	letter-spacing: -0.0246px;
}
.stl_22 {
	letter-spacing: -0.0008em;
}

.ie .stl_22 {
	letter-spacing: -0.0087px;
}
.stl_23 {
	font-size: 0.75em;
	font-family: "ACJERD+DIN-Black";
	color: #221E1F;
}
.stl_24 {
	font-size: 0.683333em;
	font-family: "THPTBD+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"NIWCDR+Frutiger-Bold";
	src:url("16f324db-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_25 {
	font-size: 0.583333em;
	font-family: "NIWCDR+Frutiger-Bold";
	color: #221E1F;
}
.stl_26 {
	line-height: 1.185em;
}
.stl_27 {
	letter-spacing: -0.0001em;
}

.ie .stl_27 {
	letter-spacing: -0.0008px;
}
.stl_28 {
	font-size: 0.4665em;
	font-family: "NIWCDR+Frutiger-Bold";
	color: #221E1F;
}
@font-face {
	font-family:"IJCJWO+Frutiger-Roman";
	src:url("fa561f1c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_29 {
	font-size: 0.583333em;
	font-family: "IJCJWO+Frutiger-Roman";
	color: #221E1F;
}
.stl_30 {
	letter-spacing: -0.0003em;
}

.ie .stl_30 {
	letter-spacing: -0.0031px;
}
.stl_31 {
	letter-spacing: -0.0018em;
}

.ie .stl_31 {
	letter-spacing: -0.0168px;
}
@font-face {
	font-family:"LQQNLI+EuropeanPi-Four";
	src:url("32ab7ab6-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_32 {
	font-size: 1em;
	font-family: "LQQNLI+EuropeanPi-Four", "Times New Roman";
	color: #221E1F;
}
.stl_33 {
	line-height: 1.035em;
}
.stl_34 {
	font-size: 0.75em;
	font-family: "LQKPWS+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"RDEJTW+??";
	src:url("7f99d011-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_35 {
	font-size: 1em;
	font-family: "RDEJTW+??", "Times New Roman";
	color: #60BF00;
}
.stl_36 {
	line-height: 1.107422em;
}
.stl_37 {
	letter-spacing: 0.0147em;
}

.ie .stl_37 {
	letter-spacing: 0.235px;
}
@font-face {
	font-family:"PAHHUF+Times-Roman";
	src:url("172fddc4-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_38 {
	font-size: 1.166667em;
	font-family: "PAHHUF+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_39 {
	letter-spacing: 0.0126em;
}

.ie .stl_39 {
	letter-spacing: 0.235px;
}
