sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"EETNSF+Frutiger-Black";
	src:url("25ac08d6-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "EETNSF+Frutiger-Black";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: 0em;
}

.ie .stl_09 {
	letter-spacing: 0.0002px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "EETNSF+Frutiger-Black";
	color: #221E1F;
}
@font-face {
	font-family:"JRIROB+Frutiger-Cn";
	src:url("d2e92fd6-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 2em;
	font-family: "JRIROB+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_12 {
	line-height: 1.179em;
}
@font-face {
	font-family:"KQGPCR+DIN-Black";
	src:url("0b697bdf-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 1em;
	font-family: "KQGPCR+DIN-Black";
	color: #FFFFFF;
}
.stl_14 {
	line-height: 1.231em;
}
@font-face {
	font-family:"SVRETO+DIN-Bold";
	src:url("fea3fce5-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 0.666667em;
	font-family: "SVRETO+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_16 {
	line-height: 1.221em;
}
@font-face {
	font-family:"CKONTI+Frutiger-Light";
	src:url("023800e4-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 0.666667em;
	font-family: "CKONTI+Frutiger-Light";
	color: #221E1F;
}
.stl_18 {
	line-height: 1.161em;
}
.stl_19 {
	letter-spacing: -0.0009em;
}

.ie .stl_19 {
	letter-spacing: -0.0091px;
}
.stl_20 {
	letter-spacing: -0.0013em;
}

.ie .stl_20 {
	letter-spacing: -0.0137px;
}
.stl_21 {
	font-size: 0.75em;
	font-family: "KQGPCR+DIN-Black";
	color: #221E1F;
}
@font-face {
	font-family:"UVEHUP+Frutiger-Bold";
	src:url("a06156ab-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_22 {
	font-size: 0.683333em;
	font-family: "UVEHUP+Frutiger-Bold";
	color: #F7931D;
}
.stl_23 {
	line-height: 1.185em;
}
.stl_24 {
	font-size: 0.683333em;
	font-family: "CKONTI+Frutiger-Light";
	color: #221E1F;
}
.stl_25 {
	letter-spacing: -0.0022em;
}

.ie .stl_25 {
	letter-spacing: -0.0267px;
}
@font-face {
	font-family:"TQGGUQ+ZapfDingbats";
	src:url("4e6c69da-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_26 {
	font-size: 0.833333em;
	font-family: "TQGGUQ+ZapfDingbats";
	color: #F7931D;
}
.stl_27 {
	line-height: 0.963em;
}
.stl_28 {
	font-size: 0.75em;
	font-family: "UVEHUP+Frutiger-Bold";
	color: #221E1F;
}
.stl_29 {
	font-size: 0.75em;
	font-family: "JRIROB+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"HRUTFH+Times-Roman";
	src:url("275ff368-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_30 {
	font-size: 1.166667em;
	font-family: "HRUTFH+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_31 {
	line-height: 1.107422em;
}
.stl_32 {
	font-size: 1.166667em;
	font-family: "JRIROB+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_33 {
	font-size: 0.833333em;
	font-family: "KQGPCR+DIN-Black";
	color: #F7931D;
}
@font-face {
	font-family:"NNGMSN+Frutiger-LightItalic";
	src:url("86b51496-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_34 {
	font-size: 0.683333em;
	font-family: "NNGMSN+Frutiger-LightItalic", "Times New Roman";
	color: #221E1F;
}
.stl_35 {
	line-height: 1.167em;
}
.stl_36 {
	letter-spacing: -0.0016em;
}

.ie .stl_36 {
	letter-spacing: -0.0192px;
}
.stl_37 {
	letter-spacing: -0.0012em;
}

.ie .stl_37 {
	letter-spacing: -0.0131px;
}
@font-face {
	font-family:"NLMKFE+Frutiger-Roman";
	src:url("1aced18b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_38 {
	font-size: 0.625333em;
	font-family: "NLMKFE+Frutiger-Roman";
	color: #0168B4;
}
.stl_39 {
	letter-spacing: -0.0014em;
}

.ie .stl_39 {
	letter-spacing: -0.0151px;
}
@font-face {
	font-family:"ORRNFB+??";
	src:url("c978a8b9-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_40 {
	font-size: 1em;
	font-family: "ORRNFB+??", "Times New Roman";
	color: #60BF00;
}
.stl_41 {
	letter-spacing: 0.0147em;
}

.ie .stl_41 {
	letter-spacing: 0.235px;
}
.stl_42 {
	letter-spacing: 0.0126em;
}

.ie .stl_42 {
	letter-spacing: 0.235px;
}
.stl_43 {
	letter-spacing: -0.002em;
}

.ie .stl_43 {
	letter-spacing: -0.024px;
}
.stl_44 {
	font-size: 0.625333em;
	font-family: "CKONTI+Frutiger-Light";
	color: #221E1F;
}
.stl_45 {
	font-size: 0.625333em;
	font-family: "UVEHUP+Frutiger-Bold";
	color: #F7931D;
}
.stl_46 {
	font-size: 0.625333em;
	font-family: "UVEHUP+Frutiger-Bold";
	color: #C41766;
}
.stl_47 {
	letter-spacing: -0.001em;
}

.ie .stl_47 {
	letter-spacing: -0.0097px;
}
