sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"MUNALE+Frutiger-Black";
	src:url("bcad5eab-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "MUNALE+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: -0.0001em;
}

.ie .stl_09 {
	letter-spacing: -0.001px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "MUNALE+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"LUDQGP+Frutiger-Cn";
	src:url("7d05d2db-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 2em;
	font-family: "LUDQGP+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_12 {
	line-height: 1.179em;
}
.stl_13 {
	letter-spacing: 0em;
}

.ie .stl_13 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"NTWNCS+DIN-Black";
	src:url("654d1508-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "NTWNCS+DIN-Black";
	color: #FFFFFF;
}
.stl_15 {
	line-height: 1.231em;
}
@font-face {
	font-family:"RECUEE+DIN-Bold";
	src:url("1d96ed66-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 0.666667em;
	font-family: "RECUEE+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_17 {
	line-height: 1.221em;
}
@font-face {
	font-family:"CVTICJ+Frutiger-Light";
	src:url("f3a1973b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_18 {
	font-size: 0.666667em;
	font-family: "CVTICJ+Frutiger-Light";
	color: #221E1F;
}
.stl_19 {
	line-height: 1.161em;
}
.stl_20 {
	letter-spacing: -0.0015em;
}

.ie .stl_20 {
	letter-spacing: -0.0156px;
}
.stl_21 {
	letter-spacing: -0.0011em;
}

.ie .stl_21 {
	letter-spacing: -0.0116px;
}
.stl_22 {
	letter-spacing: -0.0007em;
}

.ie .stl_22 {
	letter-spacing: -0.0077px;
}
.stl_23 {
	font-size: 0.75em;
	font-family: "NTWNCS+DIN-Black";
	color: #221E1F;
}
.stl_24 {
	font-size: 0.683333em;
	font-family: "CVTICJ+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"MTFUDS+Frutiger-Bold";
	src:url("286e1b4c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_25 {
	font-size: 0.683333em;
	font-family: "MTFUDS+Frutiger-Bold";
	color: #F7931D;
}
.stl_26 {
	line-height: 1.185em;
}
.stl_27 {
	font-size: 0.75em;
	font-family: "LUDQGP+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"FAAALI+Times-Roman";
	src:url("e13553a2-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_28 {
	font-size: 1.166667em;
	font-family: "FAAALI+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_29 {
	line-height: 1.107422em;
}
.stl_30 {
	font-size: 1.166667em;
	font-family: "LUDQGP+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_31 {
	font-size: 0.833333em;
	font-family: "NTWNCS+DIN-Black";
	color: #F7931D;
}
.stl_32 {
	font-size: 0.683333em;
	font-family: "MTFUDS+Frutiger-Bold";
	color: #221E1F;
}
.stl_33 {
	font-size: 0.60025em;
	font-family: "CVTICJ+Frutiger-Light";
	color: #221E1F;
}
.stl_34 {
	letter-spacing: -0.0017em;
}

.ie .stl_34 {
	letter-spacing: -0.0162px;
}
.stl_35 {
	letter-spacing: -0.0026em;
}

.ie .stl_35 {
	letter-spacing: -0.0253px;
}
.stl_36 {
	letter-spacing: -0.0059em;
}

.ie .stl_36 {
	letter-spacing: -0.0571px;
}
.stl_37 {
	letter-spacing: -0.0014em;
}

.ie .stl_37 {
	letter-spacing: -0.0151px;
}
.stl_38 {
	letter-spacing: -0.0022em;
}

.ie .stl_38 {
	letter-spacing: -0.0241px;
}
@font-face {
	font-family:"NTDTTK+Frutiger-Roman";
	src:url("cc1d2585-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_39 {
	font-size: 0.625333em;
	font-family: "NTDTTK+Frutiger-Roman";
	color: #0168B4;
}
.stl_40 {
	letter-spacing: -0.003em;
}

.ie .stl_40 {
	letter-spacing: -0.0297px;
}
@font-face {
	font-family:"FLUOFV+Frutiger-BoldItalic";
	src:url("d6d2460f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_41 {
	font-size: 0.625333em;
	font-family: "FLUOFV+Frutiger-BoldItalic";
	color: #221E1F;
}
.stl_42 {
	font-size: 0.625333em;
	font-family: "NTDTTK+Frutiger-Roman";
	color: #EF1D7B;
}
.stl_43 {
	letter-spacing: -0.0003em;
}

.ie .stl_43 {
	letter-spacing: -0.0026px;
}
.stl_44 {
	font-size: 0.625333em;
	font-family: "MTFUDS+Frutiger-Bold";
	color: #221E1F;
}
@font-face {
	font-family:"GCQBTU+??";
	src:url("cc26e832-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_45 {
	font-size: 1em;
	font-family: "GCQBTU+??", "Times New Roman";
	color: #60BF00;
}
.stl_46 {
	letter-spacing: 0.0147em;
}

.ie .stl_46 {
	letter-spacing: 0.235px;
}
.stl_47 {
	letter-spacing: 0.0126em;
}

.ie .stl_47 {
	letter-spacing: 0.235px;
}
.stl_48 {
	letter-spacing: -0.0043em;
}

.ie .stl_48 {
	letter-spacing: -0.052px;
}
@font-face {
	font-family:"RFTSIC+ZapfDingbats";
	src:url("7a43125f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_49 {
	font-size: 0.833333em;
	font-family: "RFTSIC+ZapfDingbats";
	color: #F7931D;
}
.stl_50 {
	line-height: 0.963em;
}
.stl_51 {
	font-size: 0.75em;
	font-family: "MTFUDS+Frutiger-Bold";
	color: #221E1F;
}
.stl_52 {
	letter-spacing: -0.0021em;
}

.ie .stl_52 {
	letter-spacing: -0.0209px;
}
.stl_53 {
	letter-spacing: -0.0008em;
}

.ie .stl_53 {
	letter-spacing: -0.0089px;
}
.stl_54 {
	font-size: 0.546583em;
	font-family: "CVTICJ+Frutiger-Light";
	color: #221E1F;
}
.stl_55 {
	font-size: 0.499em;
	font-family: "CVTICJ+Frutiger-Light";
	color: #221E1F;
}
.stl_56 {
	letter-spacing: -0.0016em;
}

.ie .stl_56 {
	letter-spacing: -0.0192px;
}
@font-face {
	font-family:"OLAGKW+Frutiger-LightItalic";
	src:url("539c5110-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_57 {
	font-size: 0.683333em;
	font-family: "OLAGKW+Frutiger-LightItalic";
	color: #221E1F;
}
.stl_58 {
	line-height: 1.167em;
}
.stl_59 {
	font-size: 0.583333em;
	font-family: "CVTICJ+Frutiger-Light";
	color: #221E1F;
}
.stl_60 {
	letter-spacing: -0.0006em;
}

.ie .stl_60 {
	letter-spacing: -0.0055px;
}
.stl_61 {
	font-size: 0.625333em;
	font-family: "CVTICJ+Frutiger-Light";
	color: #221E1F;
}
.stl_62 {
	font-size: 0.625333em;
	font-family: "MTFUDS+Frutiger-Bold";
	color: #F7931D;
}
.stl_63 {
	font-size: 0.625333em;
	font-family: "MTFUDS+Frutiger-Bold";
	color: #C41766;
}
.stl_64 {
	letter-spacing: -0.001em;
}

.ie .stl_64 {
	letter-spacing: -0.01px;
}
