sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"LGWQUC+Frutiger-Black";
	src:url("3abd469d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "LGWQUC+Frutiger-Black";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: 0.0009em;
}

.ie .stl_09 {
	letter-spacing: 0.008px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "LGWQUC+Frutiger-Black";
	color: #221E1F;
}
.stl_11 {
	letter-spacing: 0.0011em;
}

.ie .stl_11 {
	letter-spacing: 0.008px;
}
@font-face {
	font-family:"QGOUQV+Frutiger-Cn";
	src:url("b33db819-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 2em;
	font-family: "QGOUQV+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_13 {
	line-height: 1.179em;
}
.stl_14 {
	letter-spacing: 0em;
}

.ie .stl_14 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"IVUVHM+DIN-Black";
	src:url("35e0335a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 1em;
	font-family: "IVUVHM+DIN-Black";
	color: #FFFFFF;
}
.stl_16 {
	line-height: 1.231em;
}
@font-face {
	font-family:"ABLANB+DIN-Bold";
	src:url("43973084-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 0.666667em;
	font-family: "ABLANB+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_18 {
	line-height: 1.221em;
}
@font-face {
	font-family:"PHMLWA+Frutiger-Light";
	src:url("c7da1b2d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 0.666667em;
	font-family: "PHMLWA+Frutiger-Light";
	color: #221E1F;
}
.stl_20 {
	line-height: 1.161em;
}
.stl_21 {
	letter-spacing: -0.0011em;
}

.ie .stl_21 {
	letter-spacing: -0.0123px;
}
.stl_22 {
	letter-spacing: -0.0022em;
}

.ie .stl_22 {
	letter-spacing: -0.0234px;
}
.stl_23 {
	letter-spacing: -0.0015em;
}

.ie .stl_23 {
	letter-spacing: -0.0163px;
}
.stl_24 {
	font-size: 0.75em;
	font-family: "IVUVHM+DIN-Black";
	color: #221E1F;
}
.stl_25 {
	font-size: 0.683333em;
	font-family: "PHMLWA+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"DWNSTP+Frutiger-LightItalic";
	src:url("114bf710-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_26 {
	font-size: 0.683333em;
	font-family: "DWNSTP+Frutiger-LightItalic";
	color: #221E1F;
}
.stl_27 {
	line-height: 1.167em;
}
.stl_28 {
	font-size: 0.499em;
	font-family: "PHMLWA+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"AQLFVJ+Frutiger-Roman";
	src:url("f30a2f4f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_29 {
	font-size: 0.625333em;
	font-family: "AQLFVJ+Frutiger-Roman";
	color: #EF1D7B;
}
.stl_30 {
	line-height: 1.185em;
}
@font-face {
	font-family:"IWRFVB+Frutiger-Italic";
	src:url("0fb15514-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_31 {
	font-size: 0.625333em;
	font-family: "IWRFVB+Frutiger-Italic";
	color: #EF1D7B;
}
.stl_32 {
	line-height: 1.18em;
}
@font-face {
	font-family:"CLHDHJ+Frutiger-Bold";
	src:url("c6cfeb0d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_33 {
	font-size: 0.683333em;
	font-family: "CLHDHJ+Frutiger-Bold";
	color: #221E1F;
}
.stl_34 {
	font-size: 0.60025em;
	font-family: "PHMLWA+Frutiger-Light";
	color: #221E1F;
}
.stl_35 {
	letter-spacing: -0.0043em;
}

.ie .stl_35 {
	letter-spacing: -0.0412px;
}
.stl_36 {
	letter-spacing: 0.0005em;
}

.ie .stl_36 {
	letter-spacing: 0.0048px;
}
.stl_37 {
	letter-spacing: -0.0027em;
}

.ie .stl_37 {
	letter-spacing: -0.0262px;
}
.stl_38 {
	letter-spacing: -0.0021em;
}

.ie .stl_38 {
	letter-spacing: -0.0197px;
}
.stl_39 {
	letter-spacing: -0.0029em;
}

.ie .stl_39 {
	letter-spacing: -0.0275px;
}
.stl_40 {
	letter-spacing: -0.0019em;
}

.ie .stl_40 {
	letter-spacing: -0.0184px;
}
.stl_41 {
	font-size: 0.60025em;
	font-family: "DWNSTP+Frutiger-LightItalic";
	color: #221E1F;
}
.stl_42 {
	letter-spacing: -0.0012em;
}

.ie .stl_42 {
	letter-spacing: -0.0116px;
}
.stl_43 {
	font-size: 0.75em;
	font-family: "QGOUQV+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"IKQNJA+??";
	src:url("852737c6-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_44 {
	font-size: 1em;
	font-family: "IKQNJA+??", "Times New Roman";
	color: #60BF00;
}
.stl_45 {
	line-height: 1.107422em;
}
.stl_46 {
	letter-spacing: 0.0147em;
}

.ie .stl_46 {
	letter-spacing: 0.235px;
}
@font-face {
	font-family:"PEHVMG+Times-Roman";
	src:url("b888dce1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_47 {
	font-size: 1.166667em;
	font-family: "PEHVMG+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_48 {
	letter-spacing: 0.0126em;
}

.ie .stl_48 {
	letter-spacing: 0.235px;
}
.stl_49 {
	letter-spacing: 0.0008em;
}

.ie .stl_49 {
	letter-spacing: 0.0078px;
}
.stl_50 {
	letter-spacing: 0.001em;
}

.ie .stl_50 {
	letter-spacing: 0.0078px;
}
.stl_51 {
	font-size: 1.166667em;
	font-family: "QGOUQV+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_52 {
	font-size: 0.833333em;
	font-family: "IVUVHM+DIN-Black";
	color: #F7931D;
}
.stl_53 {
	letter-spacing: -0.0042em;
}

.ie .stl_53 {
	letter-spacing: -0.05px;
}
@font-face {
	font-family:"GLLDQE+ZapfDingbats";
	src:url("7044a0c8-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_54 {
	font-size: 0.833333em;
	font-family: "GLLDQE+ZapfDingbats";
	color: #F7931D;
}
.stl_55 {
	line-height: 0.963em;
}
.stl_56 {
	font-size: 0.75em;
	font-family: "CLHDHJ+Frutiger-Bold";
	color: #221E1F;
}
.stl_57 {
	letter-spacing: -0.01em;
}

.ie .stl_57 {
	letter-spacing: -0.1093px;
}
.stl_58 {
	font-size: 0.625333em;
	font-family: "AQLFVJ+Frutiger-Roman";
	color: #0168B4;
}
.stl_59 {
	letter-spacing: -0.0087em;
}

.ie .stl_59 {
	letter-spacing: -0.0873px;
}
.stl_60 {
	letter-spacing: -0.0016em;
}

.ie .stl_60 {
	letter-spacing: -0.0192px;
}
.stl_61 {
	letter-spacing: 0.0001em;
}

.ie .stl_61 {
	letter-spacing: 0.0009px;
}
.stl_62 {
	font-size: 0.683333em;
	font-family: "AQLFVJ+Frutiger-Roman";
	color: #221E1F;
}
.stl_63 {
	font-size: 0.683333em;
	font-family: "IWRFVB+Frutiger-Italic";
	color: #221E1F;
}
.stl_64 {
	letter-spacing: -0.0006em;
}

.ie .stl_64 {
	letter-spacing: -0.006px;
}
.stl_65 {
	font-size: 0.625333em;
	font-family: "IWRFVB+Frutiger-Italic";
	color: #0168B4;
}
.stl_66 {
	font-size: 0.583333em;
	font-family: "CLHDHJ+Frutiger-Bold";
	color: #221E1F;
}
.stl_67 {
	font-size: 0.4665em;
	font-family: "CLHDHJ+Frutiger-Bold";
	color: #221E1F;
}
.stl_68 {
	font-size: 0.583333em;
	font-family: "AQLFVJ+Frutiger-Roman";
	color: #221E1F;
}
.stl_69 {
	letter-spacing: -0.0014em;
}

.ie .stl_69 {
	letter-spacing: -0.0133px;
}
@font-face {
	font-family:"MIJUDE+EuropeanPi-Four";
	src:url("8655554f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_70 {
	font-size: 1em;
	font-family: "MIJUDE+EuropeanPi-Four", "Times New Roman";
	color: #221E1F;
}
.stl_71 {
	line-height: 1.035em;
}
