sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"CFPEAP+Frutiger-Black";
	src:url("564280ed-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "CFPEAP+Frutiger-Black";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: 0.0009em;
}

.ie .stl_09 {
	letter-spacing: 0.008px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "CFPEAP+Frutiger-Black";
	color: #221E1F;
}
.stl_11 {
	letter-spacing: 0.0011em;
}

.ie .stl_11 {
	letter-spacing: 0.008px;
}
@font-face {
	font-family:"WLHVDQ+Frutiger-Cn";
	src:url("5a72acc1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 2em;
	font-family: "WLHVDQ+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_13 {
	line-height: 1.179em;
}
.stl_14 {
	letter-spacing: 0em;
}

.ie .stl_14 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"JNEDGB+DIN-Black";
	src:url("eb2df25f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 1em;
	font-family: "JNEDGB+DIN-Black";
	color: #FFFFFF;
}
.stl_16 {
	line-height: 1.231em;
}
@font-face {
	font-family:"KWJBPJ+DIN-Bold";
	src:url("b53c8257-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 0.666667em;
	font-family: "KWJBPJ+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_18 {
	line-height: 1.221em;
}
@font-face {
	font-family:"MHNUKJ+Frutiger-Light";
	src:url("020e6764-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 0.666667em;
	font-family: "MHNUKJ+Frutiger-Light";
	color: #221E1F;
}
.stl_20 {
	line-height: 1.161em;
}
.stl_21 {
	letter-spacing: -0.0007em;
}

.ie .stl_21 {
	letter-spacing: -0.008px;
}
.stl_22 {
	letter-spacing: -0.0028em;
}

.ie .stl_22 {
	letter-spacing: -0.0301px;
}
.stl_23 {
	letter-spacing: -0.001em;
}

.ie .stl_23 {
	letter-spacing: -0.0103px;
}
@font-face {
	font-family:"CMCJDH+Frutiger-Roman";
	src:url("247c578c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_24 {
	font-size: 0.625333em;
	font-family: "CMCJDH+Frutiger-Roman";
	color: #EF1D7B;
}
.stl_25 {
	line-height: 1.185em;
}
.stl_26 {
	font-size: 0.75em;
	font-family: "JNEDGB+DIN-Black";
	color: #221E1F;
}
.stl_27 {
	font-size: 0.683333em;
	font-family: "MHNUKJ+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"GPBNPJ+Frutiger-LightItalic";
	src:url("0c609d62-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_28 {
	font-size: 0.683333em;
	font-family: "GPBNPJ+Frutiger-LightItalic", "Times New Roman";
	color: #221E1F;
}
.stl_29 {
	line-height: 1.167em;
}
.stl_30 {
	font-size: 0.583333em;
	font-family: "CMCJDH+Frutiger-Roman";
	color: #221E1F;
}
.stl_31 {
	letter-spacing: -0.0019em;
}

.ie .stl_31 {
	letter-spacing: -0.0179px;
}
.stl_32 {
	letter-spacing: -0.0017em;
}

.ie .stl_32 {
	letter-spacing: -0.0162px;
}
.stl_33 {
	font-size: 0.75em;
	font-family: "WLHVDQ+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"QUMVGP+??";
	src:url("0ac76ebd-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_34 {
	font-size: 1em;
	font-family: "QUMVGP+??", "Times New Roman";
	color: #60BF00;
}
.stl_35 {
	line-height: 1.107422em;
}
.stl_36 {
	letter-spacing: 0.0147em;
}

.ie .stl_36 {
	letter-spacing: 0.235px;
}
@font-face {
	font-family:"EWHBLA+Times-Roman";
	src:url("e6f2dfee-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_37 {
	font-size: 1.166667em;
	font-family: "EWHBLA+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_38 {
	letter-spacing: 0.0126em;
}

.ie .stl_38 {
	letter-spacing: 0.235px;
}
.stl_39 {
	letter-spacing: 0.0008em;
}

.ie .stl_39 {
	letter-spacing: 0.0078px;
}
.stl_40 {
	letter-spacing: 0.001em;
}

.ie .stl_40 {
	letter-spacing: 0.0078px;
}
.stl_41 {
	font-size: 1.166667em;
	font-family: "WLHVDQ+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_42 {
	font-size: 0.833333em;
	font-family: "JNEDGB+DIN-Black";
	color: #F7931D;
}
@font-face {
	font-family:"ARMIUI+Frutiger-Bold";
	src:url("9db4cc38-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_43 {
	font-size: 0.683333em;
	font-family: "ARMIUI+Frutiger-Bold";
	color: #221E1F;
}
@font-face {
	font-family:"NRNISN+Frutiger-BoldItalic";
	src:url("a77d2456-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_44 {
	font-size: 0.683333em;
	font-family: "NRNISN+Frutiger-BoldItalic", "Times New Roman";
	color: #221E1F;
}
.stl_45 {
	font-size: 0.60025em;
	font-family: "MHNUKJ+Frutiger-Light";
	color: #221E1F;
}
.stl_46 {
	letter-spacing: -0.004em;
}

.ie .stl_46 {
	letter-spacing: -0.0384px;
}
.stl_47 {
	letter-spacing: -0.0033em;
}

.ie .stl_47 {
	letter-spacing: -0.032px;
}
.stl_48 {
	letter-spacing: -0.002em;
}

.ie .stl_48 {
	letter-spacing: -0.0192px;
}
.stl_49 {
	letter-spacing: -0.039em;
}

.ie .stl_49 {
	letter-spacing: -0.3746px;
}
.stl_50 {
	letter-spacing: -0.003em;
}

.ie .stl_50 {
	letter-spacing: -0.0288px;
}
.stl_51 {
	letter-spacing: 0.0066em;
}

.ie .stl_51 {
	letter-spacing: 0.0632px;
}
.stl_52 {
	letter-spacing: -0.0013em;
}

.ie .stl_52 {
	letter-spacing: -0.0121px;
}
.stl_53 {
	letter-spacing: -0.0138em;
}

.ie .stl_53 {
	letter-spacing: -0.1325px;
}
.stl_54 {
	letter-spacing: -0.014em;
}

.ie .stl_54 {
	letter-spacing: -0.1345px;
}
.stl_55 {
	font-size: 0.583333em;
	font-family: "ARMIUI+Frutiger-Bold";
	color: #221E1F;
}
.stl_56 {
	letter-spacing: -0.0001em;
}

.ie .stl_56 {
	letter-spacing: -0.0005px;
}
.stl_57 {
	font-size: 0.4665em;
	font-family: "ARMIUI+Frutiger-Bold";
	color: #221E1F;
}
.stl_58 {
	letter-spacing: -0.0002em;
}

.ie .stl_58 {
	letter-spacing: -0.0017px;
}
@font-face {
	font-family:"GLAFTC+Frutiger-Italic";
	src:url("2922e33e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_59 {
	font-size: 0.583333em;
	font-family: "GLAFTC+Frutiger-Italic";
	color: #221E1F;
}
.stl_60 {
	line-height: 1.18em;
}
.stl_61 {
	letter-spacing: -0.0042em;
}

.ie .stl_61 {
	letter-spacing: -0.05px;
}
@font-face {
	font-family:"PGTIQI+ZapfDingbats";
	src:url("9cc31bb1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_62 {
	font-size: 0.833333em;
	font-family: "PGTIQI+ZapfDingbats";
	color: #F7931D;
}
.stl_63 {
	line-height: 0.963em;
}
.stl_64 {
	font-size: 0.75em;
	font-family: "ARMIUI+Frutiger-Bold";
	color: #221E1F;
}
.stl_65 {
	letter-spacing: -0.0016em;
}

.ie .stl_65 {
	letter-spacing: -0.0192px;
}
.stl_66 {
	letter-spacing: 0.0001em;
}

.ie .stl_66 {
	letter-spacing: 0.0006px;
}
@font-face {
	font-family:"RWFLWP+Helvetica";
	src:url("db337dde-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_67 {
	font-size: 0.833333em;
	font-family: "RWFLWP+Helvetica", "Times New Roman";
	color: #000000;
}
.stl_68 {
	line-height: 1.117188em;
}
.stl_69 {
	font-size: 0.625333em;
	font-family: "CMCJDH+Frutiger-Roman";
	color: #0168B4;
}
.stl_70 {
	letter-spacing: -0.0022em;
}

.ie .stl_70 {
	letter-spacing: -0.0219px;
}
.stl_71 {
	font-size: 0.625333em;
	font-family: "GLAFTC+Frutiger-Italic";
	color: #0168B4;
}
.stl_72 {
	letter-spacing: -0.0005em;
}

.ie .stl_72 {
	letter-spacing: -0.0053px;
}
