sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"RLPHLE+Frutiger-Black";
	src:url("b8e828b0-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "RLPHLE+Frutiger-Black";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: 0.0013em;
}

.ie .stl_09 {
	letter-spacing: 0.012px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "RLPHLE+Frutiger-Black";
	color: #221E1F;
}
.stl_11 {
	letter-spacing: 0.0016em;
}

.ie .stl_11 {
	letter-spacing: 0.012px;
}
@font-face {
	font-family:"DCWDNM+Frutiger-Cn";
	src:url("422f9379-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 2em;
	font-family: "DCWDNM+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_13 {
	line-height: 1.179em;
}
.stl_14 {
	letter-spacing: 0em;
}

.ie .stl_14 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"SCDQDU+DIN-Black";
	src:url("3e4a932d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 1em;
	font-family: "SCDQDU+DIN-Black";
	color: #FFFFFF;
}
.stl_16 {
	line-height: 1.231em;
}
@font-face {
	font-family:"URDCEA+DIN-Bold";
	src:url("e539107b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 0.666667em;
	font-family: "URDCEA+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_18 {
	line-height: 1.221em;
}
@font-face {
	font-family:"WPPJBM+Frutiger-Light";
	src:url("f89f2d30-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 0.666667em;
	font-family: "WPPJBM+Frutiger-Light";
	color: #221E1F;
}
.stl_20 {
	line-height: 1.161em;
}
.stl_21 {
	letter-spacing: -0.0017em;
}

.ie .stl_21 {
	letter-spacing: -0.018px;
}
.stl_22 {
	letter-spacing: -0.0004em;
}

.ie .stl_22 {
	letter-spacing: -0.0042px;
}
.stl_23 {
	font-size: 0.75em;
	font-family: "SCDQDU+DIN-Black";
	color: #221E1F;
}
.stl_24 {
	font-size: 0.683333em;
	font-family: "WPPJBM+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"BNPVRB+Frutiger-LightItalic";
	src:url("0c923285-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_25 {
	font-size: 0.683333em;
	font-family: "BNPVRB+Frutiger-LightItalic";
	color: #221E1F;
}
.stl_26 {
	line-height: 1.167em;
}
@font-face {
	font-family:"AFVDNS+Frutiger-Roman";
	src:url("70702b74-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_27 {
	font-size: 0.625333em;
	font-family: "AFVDNS+Frutiger-Roman";
	color: #0168B4;
}
.stl_28 {
	line-height: 1.185em;
}
.stl_29 {
	font-size: 0.75em;
	font-family: "DCWDNM+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"DIDOND+Times-Roman";
	src:url("7292f546-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_30 {
	font-size: 1.166667em;
	font-family: "DIDOND+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_31 {
	line-height: 1.107422em;
}
.stl_32 {
	font-size: 1.166667em;
	font-family: "DCWDNM+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_33 {
	font-size: 0.833333em;
	font-family: "SCDQDU+DIN-Black";
	color: #F7931D;
}
@font-face {
	font-family:"QDLUFN+Frutiger-Bold";
	src:url("b1a4e237-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_34 {
	font-size: 0.583333em;
	font-family: "QDLUFN+Frutiger-Bold";
	color: #221E1F;
}
.stl_35 {
	font-size: 0.4665em;
	font-family: "QDLUFN+Frutiger-Bold";
	color: #221E1F;
}
.stl_36 {
	font-size: 0.583333em;
	font-family: "AFVDNS+Frutiger-Roman";
	color: #221E1F;
}
.stl_37 {
	letter-spacing: -0.0016em;
}

.ie .stl_37 {
	letter-spacing: -0.0151px;
}
.stl_38 {
	letter-spacing: -0.0022em;
}

.ie .stl_38 {
	letter-spacing: -0.0267px;
}
@font-face {
	font-family:"NNLVVN+ZapfDingbats";
	src:url("79fe9cad-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_39 {
	font-size: 0.833333em;
	font-family: "NNLVVN+ZapfDingbats";
	color: #F7931D;
}
.stl_40 {
	line-height: 0.963em;
}
.stl_41 {
	font-size: 0.75em;
	font-family: "QDLUFN+Frutiger-Bold";
	color: #221E1F;
}
@font-face {
	font-family:"WRBKAQ+??";
	src:url("6b96723a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_42 {
	font-size: 1em;
	font-family: "WRBKAQ+??", "Times New Roman";
	color: #60BF00;
}
.stl_43 {
	letter-spacing: 0.0147em;
}

.ie .stl_43 {
	letter-spacing: 0.235px;
}
.stl_44 {
	letter-spacing: 0.0126em;
}

.ie .stl_44 {
	letter-spacing: 0.235px;
}
.stl_45 {
	font-size: 0.625333em;
	font-family: "AFVDNS+Frutiger-Roman";
	color: #EF1D7B;
}
.stl_46 {
	font-size: 0.683333em;
	font-family: "QDLUFN+Frutiger-Bold";
	color: #F7931D;
}
.stl_47 {
	letter-spacing: -0.0027em;
}

.ie .stl_47 {
	letter-spacing: -0.0267px;
}
.stl_48 {
	letter-spacing: -0.002em;
}

.ie .stl_48 {
	letter-spacing: -0.024px;
}
.stl_49 {
	letter-spacing: -0.0001em;
}

.ie .stl_49 {
	letter-spacing: -0.0005px;
}
.stl_50 {
	letter-spacing: -0.0018em;
}

.ie .stl_50 {
	letter-spacing: -0.0168px;
}
.stl_51 {
	letter-spacing: -0.0033em;
}

.ie .stl_51 {
	letter-spacing: -0.0312px;
}
@font-face {
	font-family:"TLOQCG+EuroSans-Regular";
	src:url("3d4fcfed-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_52 {
	font-size: 0.583333em;
	font-family: "TLOQCG+EuroSans-Regular", "Times New Roman";
	color: #221E1F;
}
.stl_53 {
	line-height: 0.697em;
}
.stl_54 {
	font-size: 0.625333em;
	font-family: "WPPJBM+Frutiger-Light";
	color: #221E1F;
}
.stl_55 {
	font-size: 0.625333em;
	font-family: "QDLUFN+Frutiger-Bold";
	color: #F7931D;
}
.stl_56 {
	letter-spacing: 0.0001em;
}

.ie .stl_56 {
	letter-spacing: 0.0005px;
}
.stl_57 {
	font-size: 0.625333em;
	font-family: "QDLUFN+Frutiger-Bold";
	color: #C41766;
}
