sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"MPSRWM+Frutiger-Black";
	src:url("e78917f3-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "MPSRWM+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: 0em;
}

.ie .stl_09 {
	letter-spacing: 0.0004px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "MPSRWM+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"MLNFNG+Frutiger-Cn";
	src:url("aa244466-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 2em;
	font-family: "MLNFNG+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_12 {
	line-height: 1.179em;
}
@font-face {
	font-family:"QSMQPN+DIN-Black";
	src:url("84ff687b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 1em;
	font-family: "QSMQPN+DIN-Black";
	color: #FFFFFF;
}
.stl_14 {
	line-height: 1.231em;
}
.stl_15 {
	letter-spacing: -0.02em;
}

.ie .stl_15 {
	letter-spacing: -0.32px;
}
@font-face {
	font-family:"AFSTUH+DIN-Bold";
	src:url("c3b10873-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 0.666667em;
	font-family: "AFSTUH+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_17 {
	line-height: 1.221em;
}
@font-face {
	font-family:"PIDGVG+Frutiger-Light";
	src:url("ada9c5c9-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_18 {
	font-size: 0.666667em;
	font-family: "PIDGVG+Frutiger-Light";
	color: #221E1F;
}
.stl_19 {
	line-height: 1.161em;
}
.stl_20 {
	letter-spacing: -0.0013em;
}

.ie .stl_20 {
	letter-spacing: -0.014px;
}
.stl_21 {
	letter-spacing: -0.0023em;
}

.ie .stl_21 {
	letter-spacing: -0.0244px;
}
.stl_22 {
	font-size: 0.75em;
	font-family: "QSMQPN+DIN-Black";
	color: #221E1F;
}
.stl_23 {
	font-size: 0.683333em;
	font-family: "PIDGVG+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"JEQNSM+Frutiger-Roman";
	src:url("742a4144-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_24 {
	font-size: 0.683333em;
	font-family: "JEQNSM+Frutiger-Roman";
	color: #221E1F;
}
.stl_25 {
	line-height: 1.185em;
}
.stl_26 {
	font-size: 0.625333em;
	font-family: "JEQNSM+Frutiger-Roman";
	color: #0168B4;
}
.stl_27 {
	letter-spacing: -0.0002em;
}

.ie .stl_27 {
	letter-spacing: -0.0023px;
}
.stl_28 {
	font-size: 0.75em;
	font-family: "MLNFNG+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"KOGUEH+Times-Roman";
	src:url("0d493448-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_29 {
	font-size: 1.166667em;
	font-family: "KOGUEH+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_30 {
	line-height: 1.107422em;
}
.stl_31 {
	letter-spacing: 0.0001em;
}

.ie .stl_31 {
	letter-spacing: 0.0005px;
}
.stl_32 {
	font-size: 1.166667em;
	font-family: "MLNFNG+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_33 {
	font-size: 0.833333em;
	font-family: "QSMQPN+DIN-Black";
	color: #F7931D;
}
.stl_34 {
	letter-spacing: -0.0022em;
}

.ie .stl_34 {
	letter-spacing: -0.0267px;
}
@font-face {
	font-family:"BOPEQW+ZapfDingbats";
	src:url("762b18f0-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_35 {
	font-size: 0.833333em;
	font-family: "BOPEQW+ZapfDingbats";
	color: #F7931D;
}
.stl_36 {
	line-height: 0.963em;
}
@font-face {
	font-family:"LLJQCK+Frutiger-Bold";
	src:url("abc01b29-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_37 {
	font-size: 0.75em;
	font-family: "LLJQCK+Frutiger-Bold";
	color: #221E1F;
}
@font-face {
	font-family:"DJBUAU+Frutiger-LightItalic";
	src:url("a1d75de0-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_38 {
	font-size: 0.683333em;
	font-family: "DJBUAU+Frutiger-LightItalic";
	color: #221E1F;
}
.stl_39 {
	line-height: 1.167em;
}
.stl_40 {
	font-size: 0.683333em;
	font-family: "LLJQCK+Frutiger-Bold";
	color: #F7931D;
}
.stl_41 {
	letter-spacing: -0.0006em;
}

.ie .stl_41 {
	letter-spacing: -0.0062px;
}
@font-face {
	font-family:"QHNOQC+??";
	src:url("297a7e38-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_42 {
	font-size: 1em;
	font-family: "QHNOQC+??", "Times New Roman";
	color: #60BF00;
}
.stl_43 {
	letter-spacing: 0.0147em;
}

.ie .stl_43 {
	letter-spacing: 0.235px;
}
.stl_44 {
	letter-spacing: 0.0126em;
}

.ie .stl_44 {
	letter-spacing: 0.235px;
}
.stl_45 {
	font-size: 0.583333em;
	font-family: "JEQNSM+Frutiger-Roman";
	color: #221E1F;
}
.stl_46 {
	letter-spacing: -0.0027em;
}

.ie .stl_46 {
	letter-spacing: -0.0254px;
}
.stl_47 {
	letter-spacing: -0.0004em;
}

.ie .stl_47 {
	letter-spacing: -0.004px;
}
.stl_48 {
	font-size: 0.4665em;
	font-family: "JEQNSM+Frutiger-Roman";
	color: #221E1F;
}
.stl_49 {
	letter-spacing: -0.0005em;
}

.ie .stl_49 {
	letter-spacing: -0.004px;
}
.stl_50 {
	letter-spacing: -0.002em;
}

.ie .stl_50 {
	letter-spacing: -0.024px;
}
.stl_51 {
	font-size: 0.546583em;
	font-family: "PIDGVG+Frutiger-Light";
	color: #221E1F;
}
.stl_52 {
	font-size: 0.583333em;
	font-family: "LLJQCK+Frutiger-Bold";
	color: #221E1F;
}
.stl_53 {
	letter-spacing: 0.0003em;
}

.ie .stl_53 {
	letter-spacing: 0.0032px;
}
.stl_54 {
	font-size: 0.4665em;
	font-family: "LLJQCK+Frutiger-Bold";
	color: #221E1F;
}
.stl_55 {
	letter-spacing: 0.0004em;
}

.ie .stl_55 {
	letter-spacing: 0.0032px;
}
.stl_56 {
	letter-spacing: -0.0018em;
}

.ie .stl_56 {
	letter-spacing: -0.0168px;
}
.stl_57 {
	font-size: 0.625333em;
	font-family: "PIDGVG+Frutiger-Light";
	color: #221E1F;
}
.stl_58 {
	letter-spacing: -0.0016em;
}

.ie .stl_58 {
	letter-spacing: -0.0157px;
}
.stl_59 {
	font-size: 0.625333em;
	font-family: "LLJQCK+Frutiger-Bold";
	color: #F7931D;
}
