sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"WLLVAP+Frutiger-Black";
	src:url("fce48f79-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "WLLVAP+Frutiger-Black";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: 0em;
}

.ie .stl_09 {
	letter-spacing: 0.0002px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "WLLVAP+Frutiger-Black";
	color: #221E1F;
}
@font-face {
	font-family:"LJNUJU+Frutiger-Cn";
	src:url("09cf2514-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 2em;
	font-family: "LJNUJU+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_12 {
	line-height: 1.179em;
}
@font-face {
	font-family:"HKCDTD+DIN-Black";
	src:url("8334c2b6-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 1em;
	font-family: "HKCDTD+DIN-Black";
	color: #FFFFFF;
}
.stl_14 {
	line-height: 1.231em;
}
@font-face {
	font-family:"FABJJI+DIN-Bold";
	src:url("a56f0237-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 0.666667em;
	font-family: "FABJJI+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_16 {
	line-height: 1.221em;
}
@font-face {
	font-family:"QKPRVK+Frutiger-Light";
	src:url("eddc8c96-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 0.666667em;
	font-family: "QKPRVK+Frutiger-Light";
	color: #221E1F;
}
.stl_18 {
	line-height: 1.161em;
}
.stl_19 {
	letter-spacing: -0.0009em;
}

.ie .stl_19 {
	letter-spacing: -0.0091px;
}
.stl_20 {
	font-size: 0.75em;
	font-family: "HKCDTD+DIN-Black";
	color: #221E1F;
}
.stl_21 {
	font-size: 0.683333em;
	font-family: "QKPRVK+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"TGDNAA+Frutiger-Bold";
	src:url("c019f693-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_22 {
	font-size: 0.683333em;
	font-family: "TGDNAA+Frutiger-Bold";
	color: #221E1F;
}
.stl_23 {
	line-height: 1.185em;
}
.stl_24 {
	font-size: 0.60025em;
	font-family: "QKPRVK+Frutiger-Light";
	color: #221E1F;
}
.stl_25 {
	letter-spacing: -0.0008em;
}

.ie .stl_25 {
	letter-spacing: -0.0075px;
}
.stl_26 {
	letter-spacing: -0.0007em;
}

.ie .stl_26 {
	letter-spacing: -0.0064px;
}
.stl_27 {
	letter-spacing: -0.002em;
}

.ie .stl_27 {
	letter-spacing: -0.0188px;
}
.stl_28 {
	letter-spacing: -0.0025em;
}

.ie .stl_28 {
	letter-spacing: -0.0243px;
}
.stl_29 {
	letter-spacing: -0.0012em;
}

.ie .stl_29 {
	letter-spacing: -0.0115px;
}
.stl_30 {
	letter-spacing: -0.0019em;
}

.ie .stl_30 {
	letter-spacing: -0.0179px;
}
@font-face {
	font-family:"WVGDNP+EuropeanPi-Three";
	src:url("213454a4-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_31 {
	font-size: 0.666667em;
	font-family: "WVGDNP+EuropeanPi-Three", "Times New Roman";
	color: #F7931D;
}
.stl_32 {
	line-height: 1.295em;
}
.stl_33 {
	font-size: 0.75em;
	font-family: "LJNUJU+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"QIAUPP+Times-Roman";
	src:url("8252059b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_34 {
	font-size: 1.166667em;
	font-family: "QIAUPP+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_35 {
	line-height: 1.107422em;
}
.stl_36 {
	font-size: 1.166667em;
	font-family: "LJNUJU+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_37 {
	font-size: 0.833333em;
	font-family: "HKCDTD+DIN-Black";
	color: #F7931D;
}
.stl_38 {
	letter-spacing: -0.0038em;
}

.ie .stl_38 {
	letter-spacing: -0.0368px;
}
.stl_39 {
	letter-spacing: -0.0031em;
}

.ie .stl_39 {
	letter-spacing: -0.0299px;
}
.stl_40 {
	letter-spacing: -0.0033em;
}

.ie .stl_40 {
	letter-spacing: -0.0318px;
}
.stl_41 {
	letter-spacing: -0.0026em;
}

.ie .stl_41 {
	letter-spacing: -0.0246px;
}
.stl_42 {
	letter-spacing: -0.0017em;
}

.ie .stl_42 {
	letter-spacing: -0.0167px;
}
.stl_43 {
	letter-spacing: -0.0014em;
}

.ie .stl_43 {
	letter-spacing: -0.0134px;
}
.stl_44 {
	letter-spacing: -0.0192em;
}

.ie .stl_44 {
	letter-spacing: -0.1844px;
}
.stl_45 {
	letter-spacing: -0.0006em;
}

.ie .stl_45 {
	letter-spacing: -0.0057px;
}
@font-face {
	font-family:"MMJVLG+Frutiger-LightItalic";
	src:url("e8e62979-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_46 {
	font-size: 0.60025em;
	font-family: "MMJVLG+Frutiger-LightItalic";
	color: #221E1F;
}
.stl_47 {
	line-height: 1.167em;
}
.stl_48 {
	letter-spacing: -0.0043em;
}

.ie .stl_48 {
	letter-spacing: -0.052px;
}
@font-face {
	font-family:"GIPBKH+ZapfDingbats";
	src:url("663faac4-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_49 {
	font-size: 0.833333em;
	font-family: "GIPBKH+ZapfDingbats";
	color: #F7931D;
}
.stl_50 {
	line-height: 0.963em;
}
.stl_51 {
	font-size: 0.75em;
	font-family: "TGDNAA+Frutiger-Bold";
	color: #221E1F;
}
.stl_52 {
	letter-spacing: 0.0001em;
}

.ie .stl_52 {
	letter-spacing: 0.0007px;
}
.stl_53 {
	font-size: 0.683333em;
	font-family: "MMJVLG+Frutiger-LightItalic";
	color: #221E1F;
}
.stl_54 {
	font-size: 0.583333em;
	font-family: "TGDNAA+Frutiger-Bold";
	color: #221E1F;
}
.stl_55 {
	font-size: 0.4665em;
	font-family: "TGDNAA+Frutiger-Bold";
	color: #221E1F;
}
@font-face {
	font-family:"GLOOOJ+Frutiger-Roman";
	src:url("6946d1aa-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_56 {
	font-size: 0.583333em;
	font-family: "GLOOOJ+Frutiger-Roman";
	color: #221E1F;
}
@font-face {
	font-family:"VFRHSK+??";
	src:url("badfe1fd-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_57 {
	font-size: 1em;
	font-family: "VFRHSK+??", "Times New Roman";
	color: #60BF00;
}
.stl_58 {
	letter-spacing: 0.0147em;
}

.ie .stl_58 {
	letter-spacing: 0.235px;
}
.stl_59 {
	letter-spacing: 0.0126em;
}

.ie .stl_59 {
	letter-spacing: 0.235px;
}
.stl_60 {
	letter-spacing: -0.0016em;
}

.ie .stl_60 {
	letter-spacing: -0.0192px;
}
.stl_61 {
	font-size: 0.683333em;
	font-family: "TGDNAA+Frutiger-Bold";
	color: #F7931D;
}
.stl_62 {
	font-size: 0.625333em;
	font-family: "GLOOOJ+Frutiger-Roman";
	color: #0168B4;
}
.stl_63 {
	letter-spacing: -0.0102em;
}

.ie .stl_63 {
	letter-spacing: -0.1118px;
}
.stl_64 {
	letter-spacing: -0.02em;
}

.ie .stl_64 {
	letter-spacing: -0.2187px;
}
.stl_65 {
	letter-spacing: -0.0036em;
}

.ie .stl_65 {
	letter-spacing: -0.0394px;
}
