sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"RTUCNK+Frutiger-Black";
	src:url("eee33a6f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "RTUCNK+Frutiger-Black";
	color: #FFFFFF;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: 0.0001em;
}

.ie .stl_09 {
	letter-spacing: 0.0006px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "RTUCNK+Frutiger-Black";
	color: #FFFFFF;
}
.stl_11 {
	font-size: 0.583333em;
	font-family: "RTUCNK+Frutiger-Black";
	color: #221E1F;
}
.stl_12 {
	font-size: 0.4665em;
	font-family: "RTUCNK+Frutiger-Black";
	color: #221E1F;
}
@font-face {
	font-family:"JKHADS+Frutiger-Cn";
	src:url("142ba5c4-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 2em;
	font-family: "JKHADS+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_14 {
	line-height: 1.179em;
}
.stl_15 {
	letter-spacing: 0em;
}

.ie .stl_15 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"BVPALN+DIN-Black";
	src:url("242bfc90-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 1em;
	font-family: "BVPALN+DIN-Black";
	color: #FFFFFF;
}
.stl_17 {
	line-height: 1.231em;
}
@font-face {
	font-family:"NCSTDF+DIN-Bold";
	src:url("739ddb91-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_18 {
	font-size: 0.666667em;
	font-family: "NCSTDF+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_19 {
	line-height: 1.221em;
}
@font-face {
	font-family:"DBTNCG+Frutiger-Light";
	src:url("ca97ab0f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_20 {
	font-size: 0.666667em;
	font-family: "DBTNCG+Frutiger-Light";
	color: #221E1F;
}
.stl_21 {
	line-height: 1.161em;
}
.stl_22 {
	letter-spacing: -0.0003em;
}

.ie .stl_22 {
	letter-spacing: -0.0036px;
}
.stl_23 {
	letter-spacing: -0.0008em;
}

.ie .stl_23 {
	letter-spacing: -0.0085px;
}
.stl_24 {
	letter-spacing: -0.0012em;
}

.ie .stl_24 {
	letter-spacing: -0.0128px;
}
.stl_25 {
	font-size: 0.75em;
	font-family: "BVPALN+DIN-Black";
	color: #221E1F;
}
.stl_26 {
	letter-spacing: -0.0034em;
}

.ie .stl_26 {
	letter-spacing: -0.0411px;
}
@font-face {
	font-family:"AFLHNW+ZapfDingbats";
	src:url("673b9a46-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_27 {
	font-size: 0.833333em;
	font-family: "AFLHNW+ZapfDingbats";
	color: #F7931D;
}
.stl_28 {
	line-height: 0.963em;
}
@font-face {
	font-family:"GCKEOK+Frutiger-Bold";
	src:url("82bf8b5a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_29 {
	font-size: 0.75em;
	font-family: "GCKEOK+Frutiger-Bold";
	color: #221E1F;
}
.stl_30 {
	line-height: 1.185em;
}
@font-face {
	font-family:"KRSTMC+Frutiger-Roman";
	src:url("0a9b8044-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_31 {
	font-size: 0.625333em;
	font-family: "KRSTMC+Frutiger-Roman";
	color: #EF1D7B;
}
.stl_32 {
	font-size: 0.683333em;
	font-family: "GCKEOK+Frutiger-Bold";
	color: #F7931D;
}
.stl_33 {
	letter-spacing: -0.0022em;
}

.ie .stl_33 {
	letter-spacing: -0.0239px;
}
@font-face {
	font-family:"LHAGTA+Frutiger-BoldItalic";
	src:url("f824206c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_34 {
	font-size: 0.625333em;
	font-family: "LHAGTA+Frutiger-BoldItalic";
	color: #221E1F;
}
.stl_35 {
	font-size: 0.683333em;
	font-family: "DBTNCG+Frutiger-Light";
	color: #221E1F;
}
.stl_36 {
	font-size: 0.75em;
	font-family: "JKHADS+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"SBEQWW+??";
	src:url("5c6abaf3-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_37 {
	font-size: 1em;
	font-family: "SBEQWW+??", "Times New Roman";
	color: #60BF00;
}
.stl_38 {
	line-height: 1.107422em;
}
.stl_39 {
	letter-spacing: 0.0147em;
}

.ie .stl_39 {
	letter-spacing: 0.235px;
}
@font-face {
	font-family:"UTMILQ+Times-Roman";
	src:url("68b96017-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_40 {
	font-size: 1.166667em;
	font-family: "UTMILQ+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_41 {
	letter-spacing: 0.0126em;
}

.ie .stl_41 {
	letter-spacing: 0.235px;
}
.stl_42 {
	font-size: 1.166667em;
	font-family: "JKHADS+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_43 {
	font-size: 0.833333em;
	font-family: "BVPALN+DIN-Black";
	color: #F7931D;
}
@font-face {
	font-family:"FTPFQQ+Frutiger-LightItalic";
	src:url("5855c01d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_44 {
	font-size: 0.683333em;
	font-family: "FTPFQQ+Frutiger-LightItalic", "Times New Roman";
	color: #221E1F;
}
.stl_45 {
	line-height: 1.167em;
}
.stl_46 {
	letter-spacing: -0.0013em;
}

.ie .stl_46 {
	letter-spacing: -0.0143px;
}
.stl_47 {
	font-size: 0.583333em;
	font-family: "GCKEOK+Frutiger-Bold";
	color: #221E1F;
}
.stl_48 {
	font-size: 0.4665em;
	font-family: "GCKEOK+Frutiger-Bold";
	color: #221E1F;
}
.stl_49 {
	letter-spacing: -0.0001em;
}

.ie .stl_49 {
	letter-spacing: -0.0004px;
}
.stl_50 {
	font-size: 0.583333em;
	font-family: "KRSTMC+Frutiger-Roman";
	color: #221E1F;
}
.stl_51 {
	letter-spacing: -0.0051em;
}

.ie .stl_51 {
	letter-spacing: -0.0477px;
}
.stl_52 {
	font-size: 0.683333em;
	font-family: "GCKEOK+Frutiger-Bold";
	color: #221E1F;
}
.stl_53 {
	font-size: 0.60025em;
	font-family: "DBTNCG+Frutiger-Light";
	color: #221E1F;
}
.stl_54 {
	letter-spacing: -0.0031em;
}

.ie .stl_54 {
	letter-spacing: -0.0294px;
}
.stl_55 {
	letter-spacing: -0.007em;
}

.ie .stl_55 {
	letter-spacing: -0.0668px;
}
.stl_56 {
	letter-spacing: -0.0025em;
}

.ie .stl_56 {
	letter-spacing: -0.0244px;
}
.stl_57 {
	letter-spacing: -0.0024em;
}

.ie .stl_57 {
	letter-spacing: -0.0227px;
}
.stl_58 {
	letter-spacing: -0.0005em;
}

.ie .stl_58 {
	letter-spacing: -0.0046px;
}
.stl_59 {
	letter-spacing: -0.0046em;
}

.ie .stl_59 {
	letter-spacing: -0.0442px;
}
.stl_60 {
	letter-spacing: -0.0004em;
}

.ie .stl_60 {
	letter-spacing: -0.0039px;
}
.stl_61 {
	letter-spacing: -0.0011em;
}

.ie .stl_61 {
	letter-spacing: -0.0106px;
}
.stl_62 {
	letter-spacing: -0.0044em;
}

.ie .stl_62 {
	letter-spacing: -0.0425px;
}
.stl_63 {
	letter-spacing: -0.0028em;
}

.ie .stl_63 {
	letter-spacing: -0.0269px;
}
.stl_64 {
	letter-spacing: -0.0007em;
}

.ie .stl_64 {
	letter-spacing: -0.0071px;
}
.stl_65 {
	letter-spacing: -0.0016em;
}

.ie .stl_65 {
	letter-spacing: -0.0153px;
}
.stl_66 {
	letter-spacing: -0.0017em;
}

.ie .stl_66 {
	letter-spacing: -0.0164px;
}
.stl_67 {
	letter-spacing: -0.0014em;
}

.ie .stl_67 {
	letter-spacing: -0.0134px;
}
.stl_68 {
	letter-spacing: -0.0015em;
}

.ie .stl_68 {
	letter-spacing: -0.0148px;
}
@font-face {
	font-family:"PGALFP+EuropeanPi-Three";
	src:url("89f39f4f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_69 {
	font-size: 0.666667em;
	font-family: "PGALFP+EuropeanPi-Three", "Times New Roman";
	color: #F7931D;
}
.stl_70 {
	line-height: 1.295em;
}
.stl_71 {
	letter-spacing: -0.0155em;
}

.ie .stl_71 {
	letter-spacing: -0.1489px;
}
.stl_72 {
	letter-spacing: -0.0124em;
}

.ie .stl_72 {
	letter-spacing: -0.1195px;
}
.stl_73 {
	letter-spacing: -0.0035em;
}

.ie .stl_73 {
	letter-spacing: -0.0339px;
}
.stl_74 {
	letter-spacing: -0.0009em;
}

.ie .stl_74 {
	letter-spacing: -0.0088px;
}
.stl_75 {
	letter-spacing: -0.0131em;
}

.ie .stl_75 {
	letter-spacing: -0.1254px;
}
.stl_76 {
	font-size: 0.60025em;
	font-family: "FTPFQQ+Frutiger-LightItalic", "Times New Roman";
	color: #221E1F;
}
.stl_77 {
	font-size: 0.60025em;
	font-family: "GCKEOK+Frutiger-Bold";
	color: #221E1F;
}
.stl_78 {
	letter-spacing: -0.0023em;
}

.ie .stl_78 {
	letter-spacing: -0.0225px;
}
.stl_79 {
	letter-spacing: -0.0029em;
}

.ie .stl_79 {
	letter-spacing: -0.0279px;
}
.stl_80 {
	letter-spacing: -0.014em;
}

.ie .stl_80 {
	letter-spacing: -0.1345px;
}
.stl_81 {
	letter-spacing: -0.0006em;
}

.ie .stl_81 {
	letter-spacing: -0.0062px;
}
.stl_82 {
	letter-spacing: -0.0021em;
}

.ie .stl_82 {
	letter-spacing: -0.0206px;
}
.stl_83 {
	font-size: 0.625333em;
	font-family: "DBTNCG+Frutiger-Light";
	color: #221E1F;
}
.stl_84 {
	letter-spacing: -0.0019em;
}

.ie .stl_84 {
	letter-spacing: -0.0191px;
}
.stl_85 {
	font-size: 0.625333em;
	font-family: "GCKEOK+Frutiger-Bold";
	color: #F7931D;
}
.stl_86 {
	font-size: 0.625333em;
	font-family: "GCKEOK+Frutiger-Bold";
	color: #C41766;
}
