sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"AQVMDS+Helvetica";
	src:url("2443c229-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.833333em;
	font-family: "AQVMDS+Helvetica", "Times New Roman";
	color: #000000;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.ie .stl_09 {
	letter-spacing: -0.0006px;
}
@font-face {
	font-family:"ITTAJN+Frutiger-Black";
	src:url("156b2b68-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.583333em;
	font-family: "ITTAJN+Frutiger-Black", "Times New Roman";
	color: #FFFFFF;
}
.stl_11 {
	line-height: 1.204em;
}
.stl_12 {
	font-size: 0.4665em;
	font-family: "ITTAJN+Frutiger-Black", "Times New Roman";
	color: #FFFFFF;
}
.stl_13 {
	letter-spacing: 0.0001em;
}

.ie .stl_13 {
	letter-spacing: 0.0004px;
}
.stl_14 {
	font-size: 0.583333em;
	font-family: "ITTAJN+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
.stl_15 {
	font-size: 0.4665em;
	font-family: "ITTAJN+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"AUBLST+Frutiger-Cn";
	src:url("4b7adff2-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 2em;
	font-family: "AUBLST+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_17 {
	line-height: 1.179em;
}
@font-face {
	font-family:"DBMJPR+DIN-Black";
	src:url("2067be35-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_18 {
	font-size: 1em;
	font-family: "DBMJPR+DIN-Black";
	color: #FFFFFF;
}
.stl_19 {
	line-height: 1.231em;
}
@font-face {
	font-family:"MUMUJI+DIN-Bold";
	src:url("15d72f2e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_20 {
	font-size: 0.666667em;
	font-family: "MUMUJI+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_21 {
	line-height: 1.221em;
}
@font-face {
	font-family:"FDNGBL+Frutiger-Light";
	src:url("63f8856f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_22 {
	font-size: 0.666667em;
	font-family: "FDNGBL+Frutiger-Light";
	color: #221E1F;
}
.stl_23 {
	line-height: 1.161em;
}
.stl_24 {
	letter-spacing: -0.0029em;
}

.ie .stl_24 {
	letter-spacing: -0.0306px;
}
.stl_25 {
	letter-spacing: -0.0018em;
}

.ie .stl_25 {
	letter-spacing: -0.0188px;
}
.stl_26 {
	letter-spacing: -0.0025em;
}

.ie .stl_26 {
	letter-spacing: -0.0263px;
}
.stl_27 {
	letter-spacing: -0.0007em;
}

.ie .stl_27 {
	letter-spacing: -0.0075px;
}
.stl_28 {
	letter-spacing: -0.001em;
}

.ie .stl_28 {
	letter-spacing: -0.0104px;
}
.stl_29 {
	font-size: 0.75em;
	font-family: "DBMJPR+DIN-Black";
	color: #221E1F;
}
.stl_30 {
	font-size: 0.683333em;
	font-family: "FDNGBL+Frutiger-Light";
	color: #221E1F;
}
.stl_31 {
	font-size: 0.546583em;
	font-family: "FDNGBL+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"CEUWDW+Frutiger-Roman";
	src:url("66d5445e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_32 {
	font-size: 0.625333em;
	font-family: "CEUWDW+Frutiger-Roman";
	color: #0168B4;
}
.stl_33 {
	line-height: 1.185em;
}
.stl_34 {
	letter-spacing: -0.002em;
}

.ie .stl_34 {
	letter-spacing: -0.02px;
}
@font-face {
	font-family:"JPKLRN+Frutiger-Bold";
	src:url("5f42b108-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_35 {
	font-size: 0.683333em;
	font-family: "JPKLRN+Frutiger-Bold";
	color: #221E1F;
}
.stl_36 {
	font-size: 0.60025em;
	font-family: "FDNGBL+Frutiger-Light";
	color: #221E1F;
}
.stl_37 {
	letter-spacing: -0.0021em;
}

.ie .stl_37 {
	letter-spacing: -0.02px;
}
.stl_38 {
	letter-spacing: -0.0012em;
}

.ie .stl_38 {
	letter-spacing: -0.0111px;
}
.stl_39 {
	letter-spacing: -0.0009em;
}

.ie .stl_39 {
	letter-spacing: -0.0083px;
}
.stl_40 {
	letter-spacing: -0.0019em;
}

.ie .stl_40 {
	letter-spacing: -0.0182px;
}
.stl_41 {
	letter-spacing: -0.0098em;
}

.ie .stl_41 {
	letter-spacing: -0.0936px;
}
.stl_42 {
	letter-spacing: -0.0016em;
}

.ie .stl_42 {
	letter-spacing: -0.015px;
}
@font-face {
	font-family:"VJMVNN+EuropeanPi-Three";
	src:url("5a2dc075-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_43 {
	font-size: 0.666667em;
	font-family: "VJMVNN+EuropeanPi-Three", "Times New Roman";
	color: #F7931D;
}
.stl_44 {
	line-height: 1.295em;
}
.stl_45 {
	font-size: 0.75em;
	font-family: "AUBLST+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"GRHENR+??";
	src:url("e21a9b7f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_46 {
	font-size: 1em;
	font-family: "GRHENR+??", "Times New Roman";
	color: #60BF00;
}
.stl_47 {
	line-height: 1.107422em;
}
.stl_48 {
	letter-spacing: 0.0147em;
}

.ie .stl_48 {
	letter-spacing: 0.235px;
}
@font-face {
	font-family:"OQQFMG+Times-Roman";
	src:url("27453ec5-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_49 {
	font-size: 1.166667em;
	font-family: "OQQFMG+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_50 {
	letter-spacing: 0.0126em;
}

.ie .stl_50 {
	letter-spacing: 0.235px;
}
.stl_51 {
	font-size: 1.166667em;
	font-family: "AUBLST+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_52 {
	font-size: 0.833333em;
	font-family: "DBMJPR+DIN-Black";
	color: #F7931D;
}
.stl_53 {
	letter-spacing: -0.0022em;
}

.ie .stl_53 {
	letter-spacing: -0.0209px;
}
.stl_54 {
	letter-spacing: -0.0062em;
}

.ie .stl_54 {
	letter-spacing: -0.0595px;
}
.stl_55 {
	letter-spacing: -0.0042em;
}

.ie .stl_55 {
	letter-spacing: -0.04px;
}
@font-face {
	font-family:"FFKOCG+ZapfDingbats";
	src:url("3abbf232-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_56 {
	font-size: 0.833333em;
	font-family: "FFKOCG+ZapfDingbats";
	color: #F7931D;
}
.stl_57 {
	line-height: 0.963em;
}
.stl_58 {
	font-size: 0.75em;
	font-family: "JPKLRN+Frutiger-Bold";
	color: #221E1F;
}
.stl_59 {
	font-size: 0.683333em;
	font-family: "CEUWDW+Frutiger-Roman";
	color: #221E1F;
}
.stl_60 {
	font-size: 0.625333em;
	font-family: "CEUWDW+Frutiger-Roman";
	color: #EF1D7B;
}
@font-face {
	font-family:"CVWMHN+Frutiger-Italic";
	src:url("15ef953f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_61 {
	font-size: 0.625333em;
	font-family: "CVWMHN+Frutiger-Italic", "Times New Roman";
	color: #EF1D7B;
}
.stl_62 {
	line-height: 1.18em;
}
.stl_63 {
	letter-spacing: -0.0001em;
}

.ie .stl_63 {
	letter-spacing: -0.001px;
}
@font-face {
	font-family:"HTDABM+Frutiger-LightItalic";
	src:url("59ace101-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_64 {
	font-size: 0.683333em;
	font-family: "HTDABM+Frutiger-LightItalic";
	color: #221E1F;
}
.stl_65 {
	line-height: 1.167em;
}
.stl_66 {
	letter-spacing: -0.0056em;
}

.ie .stl_66 {
	letter-spacing: -0.0564px;
}
.stl_67 {
	letter-spacing: -0.0014em;
}

.ie .stl_67 {
	letter-spacing: -0.0142px;
}
.stl_68 {
	font-size: 0.45625em;
	font-family: "CEUWDW+Frutiger-Roman";
	color: #0168B4;
}
.stl_69 {
	letter-spacing: -0.0039em;
}

.ie .stl_69 {
	letter-spacing: -0.0389px;
}
.stl_70 {
	font-size: 0.583333em;
	font-family: "FDNGBL+Frutiger-Light";
	color: #221E1F;
}
.stl_71 {
	letter-spacing: -0.0003em;
}

.ie .stl_71 {
	letter-spacing: -0.0026px;
}
.stl_72 {
	font-size: 0.625333em;
	font-family: "FDNGBL+Frutiger-Light";
	color: #221E1F;
}
.stl_73 {
	font-size: 0.625333em;
	font-family: "JPKLRN+Frutiger-Bold";
	color: #F7931D;
}
.stl_74 {
	font-size: 0.625333em;
	font-family: "JPKLRN+Frutiger-Bold";
	color: #00A78E;
}
.stl_75 {
	font-size: 0.625333em;
	font-family: "JPKLRN+Frutiger-Bold";
	color: #C41766;
}
.stl_76 {
	letter-spacing: -0.003em;
}

.ie .stl_76 {
	letter-spacing: -0.0295px;
}
.stl_77 {
	font-size: 0.625333em;
	font-family: "JPKLRN+Frutiger-Bold";
	color: #B55CA5;
}
