sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"AIMRGN+Frutiger-Black";
	src:url("eb085f15-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "AIMRGN+Frutiger-Black";
	color: #FFFFFF;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: 0.0013em;
}

.ie .stl_09 {
	letter-spacing: 0.012px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "AIMRGN+Frutiger-Black";
	color: #FFFFFF;
}
.stl_11 {
	letter-spacing: 0.0016em;
}

.ie .stl_11 {
	letter-spacing: 0.012px;
}
.stl_12 {
	font-size: 0.583333em;
	font-family: "AIMRGN+Frutiger-Black";
	color: #221E1F;
}
.stl_13 {
	font-size: 0.4665em;
	font-family: "AIMRGN+Frutiger-Black";
	color: #221E1F;
}
@font-face {
	font-family:"RRDSQK+Frutiger-Cn";
	src:url("112eb143-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 2em;
	font-family: "RRDSQK+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_15 {
	line-height: 1.179em;
}
.stl_16 {
	letter-spacing: 0em;
}

.ie .stl_16 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"MTRQOB+DIN-Black";
	src:url("6adb2e7f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 1em;
	font-family: "MTRQOB+DIN-Black";
	color: #FFFFFF;
}
.stl_18 {
	line-height: 1.231em;
}
@font-face {
	font-family:"RAWBEM+DIN-Bold";
	src:url("b78f2437-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 0.666667em;
	font-family: "RAWBEM+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_20 {
	line-height: 1.221em;
}
@font-face {
	font-family:"GMWLWU+Frutiger-Light";
	src:url("3c0a2e10-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_21 {
	font-size: 0.666667em;
	font-family: "GMWLWU+Frutiger-Light";
	color: #221E1F;
}
.stl_22 {
	line-height: 1.161em;
}
.stl_23 {
	letter-spacing: -0.0005em;
}

.ie .stl_23 {
	letter-spacing: -0.0055px;
}
.stl_24 {
	letter-spacing: -0.0008em;
}

.ie .stl_24 {
	letter-spacing: -0.0087px;
}
.stl_25 {
	font-size: 0.75em;
	font-family: "MTRQOB+DIN-Black";
	color: #221E1F;
}
.stl_26 {
	font-size: 0.683333em;
	font-family: "GMWLWU+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"KPEGEH+Frutiger-Roman";
	src:url("679de4ad-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_27 {
	font-size: 0.625333em;
	font-family: "KPEGEH+Frutiger-Roman";
	color: #0168B4;
}
.stl_28 {
	line-height: 1.185em;
}
.stl_29 {
	font-size: 0.75em;
	font-family: "RRDSQK+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"WSLHID+??";
	src:url("03a30074-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_30 {
	font-size: 1em;
	font-family: "WSLHID+??", "Times New Roman";
	color: #60BF00;
}
.stl_31 {
	line-height: 1.107422em;
}
.stl_32 {
	letter-spacing: 0.0147em;
}

.ie .stl_32 {
	letter-spacing: 0.235px;
}
@font-face {
	font-family:"CMTJSU+Times-Roman";
	src:url("af1debb3-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_33 {
	font-size: 1.166667em;
	font-family: "CMTJSU+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_34 {
	letter-spacing: 0.0126em;
}

.ie .stl_34 {
	letter-spacing: 0.235px;
}
.stl_35 {
	font-size: 1.166667em;
	font-family: "RRDSQK+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_36 {
	font-size: 0.833333em;
	font-family: "MTRQOB+DIN-Black";
	color: #F7931D;
}
.stl_37 {
	font-size: 0.583333em;
	font-family: "KPEGEH+Frutiger-Roman";
	color: #221E1F;
}
.stl_38 {
	letter-spacing: -0.0024em;
}

.ie .stl_38 {
	letter-spacing: -0.0226px;
}
@font-face {
	font-family:"CLGTVR+Frutiger-Italic";
	src:url("bd3b12bd-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_39 {
	font-size: 0.583333em;
	font-family: "CLGTVR+Frutiger-Italic";
	color: #221E1F;
}
.stl_40 {
	line-height: 1.18em;
}
.stl_41 {
	letter-spacing: -0.0003em;
}

.ie .stl_41 {
	letter-spacing: -0.003px;
}
.stl_42 {
	letter-spacing: -0.0022em;
}

.ie .stl_42 {
	letter-spacing: -0.0267px;
}
.stl_43 {
	letter-spacing: -0.0001em;
}

.ie .stl_43 {
	letter-spacing: -0.001px;
}
@font-face {
	font-family:"ASNLUB+ZapfDingbats";
	src:url("440df69c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_44 {
	font-size: 0.833333em;
	font-family: "ASNLUB+ZapfDingbats";
	color: #F7931D;
}
.stl_45 {
	line-height: 0.963em;
}
@font-face {
	font-family:"DSPUBT+Frutiger-Bold";
	src:url("cbfdb75d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_46 {
	font-size: 0.75em;
	font-family: "DSPUBT+Frutiger-Bold";
	color: #221E1F;
}
@font-face {
	font-family:"MGDFPD+Helvetica";
	src:url("253810aa-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_47 {
	font-size: 0.833333em;
	font-family: "MGDFPD+Helvetica", "Times New Roman";
	color: #000000;
}
.stl_48 {
	line-height: 1.117188em;
}
.stl_49 {
	letter-spacing: -0.0016em;
}

.ie .stl_49 {
	letter-spacing: -0.0192px;
}
@font-face {
	font-family:"SHEEGW+Frutiger-LightItalic";
	src:url("a52d1a4c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_50 {
	font-size: 0.683333em;
	font-family: "SHEEGW+Frutiger-LightItalic";
	color: #221E1F;
}
.stl_51 {
	line-height: 1.167em;
}
.stl_52 {
	font-size: 0.625333em;
	font-family: "CLGTVR+Frutiger-Italic";
	color: #0168B4;
}
.stl_53 {
	letter-spacing: -0.002em;
}

.ie .stl_53 {
	letter-spacing: -0.024px;
}
.stl_54 {
	letter-spacing: -0.01em;
}

.ie .stl_54 {
	letter-spacing: -0.1093px;
}
.stl_55 {
	font-size: 0.583333em;
	font-family: "DSPUBT+Frutiger-Bold";
	color: #221E1F;
}
.stl_56 {
	font-size: 0.4665em;
	font-family: "DSPUBT+Frutiger-Bold";
	color: #221E1F;
}
.stl_57 {
	letter-spacing: -0.0017em;
}

.ie .stl_57 {
	letter-spacing: -0.0162px;
}
.stl_58 {
	letter-spacing: -0.0004em;
}

.ie .stl_58 {
	letter-spacing: -0.0033px;
}
.stl_59 {
	font-size: 0.625333em;
	font-family: "GMWLWU+Frutiger-Light";
	color: #221E1F;
}
.stl_60 {
	letter-spacing: 0.0001em;
}

.ie .stl_60 {
	letter-spacing: 0.001px;
}
.stl_61 {
	font-size: 0.625333em;
	font-family: "DSPUBT+Frutiger-Bold";
	color: #F7931D;
}
