sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"WEHPTO+Frutiger-Black";
	src:url("8bcbd1f9-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "WEHPTO+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: -0.0002em;
}

.ie .stl_09 {
	letter-spacing: -0.0018px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "WEHPTO+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"FCUBRG+Frutiger-Cn";
	src:url("b99bfb9a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 2em;
	font-family: "FCUBRG+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_12 {
	line-height: 1.179em;
}
.stl_13 {
	letter-spacing: 0em;
}

.ie .stl_13 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"MTSVNJ+DIN-Black";
	src:url("466da83d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "MTSVNJ+DIN-Black";
	color: #FFFFFF;
}
.stl_15 {
	line-height: 1.231em;
}
@font-face {
	font-family:"VEPJOB+DIN-Bold";
	src:url("6b9fcd72-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 0.666667em;
	font-family: "VEPJOB+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_17 {
	line-height: 1.221em;
}
@font-face {
	font-family:"UBRTKP+Frutiger-Light";
	src:url("4c3f9ffb-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_18 {
	font-size: 0.666667em;
	font-family: "UBRTKP+Frutiger-Light";
	color: #221E1F;
}
.stl_19 {
	line-height: 1.161em;
}
.stl_20 {
	letter-spacing: -0.0017em;
}

.ie .stl_20 {
	letter-spacing: -0.0186px;
}
.stl_21 {
	letter-spacing: -0.0004em;
}

.ie .stl_21 {
	letter-spacing: -0.0038px;
}
.stl_22 {
	letter-spacing: -0.0005em;
}

.ie .stl_22 {
	letter-spacing: -0.0058px;
}
.stl_23 {
	font-size: 0.75em;
	font-family: "MTSVNJ+DIN-Black";
	color: #221E1F;
}
.stl_24 {
	font-size: 0.683333em;
	font-family: "UBRTKP+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"HVTWUT+Frutiger-LightItalic";
	src:url("9fbd1d62-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_25 {
	font-size: 0.683333em;
	font-family: "HVTWUT+Frutiger-LightItalic", "Times New Roman";
	color: #221E1F;
}
.stl_26 {
	line-height: 1.167em;
}
.stl_27 {
	font-size: 0.60025em;
	font-family: "UBRTKP+Frutiger-Light";
	color: #221E1F;
}
.stl_28 {
	letter-spacing: -0.0108em;
}

.ie .stl_28 {
	letter-spacing: -0.1042px;
}
.stl_29 {
	letter-spacing: -0.0048em;
}

.ie .stl_29 {
	letter-spacing: -0.0461px;
}
.stl_30 {
	letter-spacing: -0.0042em;
}

.ie .stl_30 {
	letter-spacing: -0.04px;
}
@font-face {
	font-family:"UMDHDR+Frutiger-Roman";
	src:url("decf9103-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_31 {
	font-size: 0.583333em;
	font-family: "UMDHDR+Frutiger-Roman";
	color: #221E1F;
}
.stl_32 {
	line-height: 1.185em;
}
.stl_33 {
	letter-spacing: -0.0003em;
}

.ie .stl_33 {
	letter-spacing: -0.0032px;
}
@font-face {
	font-family:"SKWTVJ+EuropeanPi-Four";
	src:url("958dbe70-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_34 {
	font-size: 1em;
	font-family: "SKWTVJ+EuropeanPi-Four", "Times New Roman";
	color: #221E1F;
}
.stl_35 {
	line-height: 1.035em;
}
.stl_36 {
	font-size: 0.75em;
	font-family: "FCUBRG+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"BETENV+Times-Roman";
	src:url("636fc570-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_37 {
	font-size: 1.166667em;
	font-family: "BETENV+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_38 {
	line-height: 1.107422em;
}
.stl_39 {
	font-size: 1.166667em;
	font-family: "FCUBRG+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_40 {
	font-size: 0.833333em;
	font-family: "MTSVNJ+DIN-Black";
	color: #F7931D;
}
.stl_41 {
	letter-spacing: -0.0031em;
}

.ie .stl_41 {
	letter-spacing: -0.0288px;
}
.stl_42 {
	font-size: 0.625333em;
	font-family: "UMDHDR+Frutiger-Roman";
	color: #EF1D7B;
}
.stl_43 {
	letter-spacing: -0.0022em;
}

.ie .stl_43 {
	letter-spacing: -0.0267px;
}
@font-face {
	font-family:"CPSVUG+ZapfDingbats";
	src:url("c46dbbd1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_44 {
	font-size: 0.833333em;
	font-family: "CPSVUG+ZapfDingbats";
	color: #F7931D;
}
.stl_45 {
	line-height: 0.963em;
}
@font-face {
	font-family:"QKQUIO+Frutiger-Bold";
	src:url("dea4a54f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_46 {
	font-size: 0.75em;
	font-family: "QKQUIO+Frutiger-Bold";
	color: #221E1F;
}
@font-face {
	font-family:"HJMOEP+??";
	src:url("41af4008-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_47 {
	font-size: 1em;
	font-family: "HJMOEP+??", "Times New Roman";
	color: #60BF00;
}
.stl_48 {
	letter-spacing: 0.0147em;
}

.ie .stl_48 {
	letter-spacing: 0.235px;
}
.stl_49 {
	letter-spacing: 0.0126em;
}

.ie .stl_49 {
	letter-spacing: 0.235px;
}
.stl_50 {
	letter-spacing: -0.0016em;
}

.ie .stl_50 {
	letter-spacing: -0.0192px;
}
.stl_51 {
	font-size: 0.683333em;
	font-family: "UMDHDR+Frutiger-Roman";
	color: #221E1F;
}
.stl_52 {
	font-size: 0.546583em;
	font-family: "UBRTKP+Frutiger-Light";
	color: #221E1F;
}
.stl_53 {
	font-size: 0.625333em;
	font-family: "UMDHDR+Frutiger-Roman";
	color: #0168B4;
}
.stl_54 {
	letter-spacing: -0.0019em;
}

.ie .stl_54 {
	letter-spacing: -0.019px;
}
.stl_55 {
	font-size: 0.499em;
	font-family: "UBRTKP+Frutiger-Light";
	color: #221E1F;
}
.stl_56 {
	font-size: 0.683333em;
	font-family: "QKQUIO+Frutiger-Bold";
	color: #F7931D;
}
.stl_57 {
	letter-spacing: -0.0008em;
}

.ie .stl_57 {
	letter-spacing: -0.0093px;
}
.stl_58 {
	font-size: 0.625333em;
	font-family: "QKQUIO+Frutiger-Bold";
	color: #221E1F;
}
.stl_59 {
	letter-spacing: -0.0013em;
}

.ie .stl_59 {
	letter-spacing: -0.0126px;
}
.stl_60 {
	letter-spacing: -0.0009em;
}

.ie .stl_60 {
	letter-spacing: -0.0091px;
}
.stl_61 {
	letter-spacing: -0.002em;
}

.ie .stl_61 {
	letter-spacing: -0.024px;
}
