sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"SAMPRC+Frutiger-Black";
	src:url("8bb95e55-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "SAMPRC+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: -0.0002em;
}

.ie .stl_09 {
	letter-spacing: -0.0015px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "SAMPRC+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"PHVFBL+Frutiger-Cn";
	src:url("06c8561c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 2em;
	font-family: "PHVFBL+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_12 {
	line-height: 1.179em;
}
.stl_13 {
	letter-spacing: 0em;
}

.ie .stl_13 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"MBGIUS+DIN-Black";
	src:url("ca7251d4-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "MBGIUS+DIN-Black";
	color: #FFFFFF;
}
.stl_15 {
	line-height: 1.231em;
}
@font-face {
	font-family:"AGWQHT+DIN-Bold";
	src:url("62067d0a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 0.666667em;
	font-family: "AGWQHT+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_17 {
	line-height: 1.221em;
}
@font-face {
	font-family:"GMHDRS+Frutiger-Light";
	src:url("ac984156-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_18 {
	font-size: 0.666667em;
	font-family: "GMHDRS+Frutiger-Light";
	color: #221E1F;
}
.stl_19 {
	line-height: 1.161em;
}
.stl_20 {
	letter-spacing: -0.0006em;
}

.ie .stl_20 {
	letter-spacing: -0.0066px;
}
.stl_21 {
	letter-spacing: -0.0008em;
}

.ie .stl_21 {
	letter-spacing: -0.0083px;
}
.stl_22 {
	letter-spacing: -0.0007em;
}

.ie .stl_22 {
	letter-spacing: -0.0075px;
}
.stl_23 {
	font-size: 0.75em;
	font-family: "MBGIUS+DIN-Black";
	color: #221E1F;
}
.stl_24 {
	font-size: 0.683333em;
	font-family: "GMHDRS+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"UMHDIF+Frutiger-Roman";
	src:url("5e927812-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_25 {
	font-size: 0.625333em;
	font-family: "UMHDIF+Frutiger-Roman";
	color: #EF1D7B;
}
.stl_26 {
	line-height: 1.185em;
}
.stl_27 {
	font-size: 0.625333em;
	font-family: "UMHDIF+Frutiger-Roman";
	color: #0168B4;
}
.stl_28 {
	letter-spacing: -0.0005em;
}

.ie .stl_28 {
	letter-spacing: -0.0048px;
}
.stl_29 {
	font-size: 0.75em;
	font-family: "PHVFBL+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"FFBOEK+??";
	src:url("dc4031cf-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_30 {
	font-size: 1em;
	font-family: "FFBOEK+??", "Times New Roman";
	color: #60BF00;
}
.stl_31 {
	line-height: 1.107422em;
}
.stl_32 {
	letter-spacing: 0.0147em;
}

.ie .stl_32 {
	letter-spacing: 0.235px;
}
@font-face {
	font-family:"RCHMKC+Times-Roman";
	src:url("cbd8195b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_33 {
	font-size: 1.166667em;
	font-family: "RCHMKC+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_34 {
	letter-spacing: 0.0126em;
}

.ie .stl_34 {
	letter-spacing: 0.235px;
}
.stl_35 {
	font-size: 1.166667em;
	font-family: "PHVFBL+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_36 {
	font-size: 0.833333em;
	font-family: "MBGIUS+DIN-Black";
	color: #F7931D;
}
@font-face {
	font-family:"IPNKPL+Frutiger-Bold";
	src:url("a9a3a805-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_37 {
	font-size: 0.583333em;
	font-family: "IPNKPL+Frutiger-Bold";
	color: #221E1F;
}
.stl_38 {
	letter-spacing: -0.0001em;
}

.ie .stl_38 {
	letter-spacing: -0.0007px;
}
.stl_39 {
	font-size: 0.4665em;
	font-family: "IPNKPL+Frutiger-Bold";
	color: #221E1F;
}
.stl_40 {
	font-size: 0.583333em;
	font-family: "UMHDIF+Frutiger-Roman";
	color: #221E1F;
}
.stl_41 {
	letter-spacing: -0.0107em;
}

.ie .stl_41 {
	letter-spacing: -0.1001px;
}
.stl_42 {
	letter-spacing: -0.0022em;
}

.ie .stl_42 {
	letter-spacing: -0.0267px;
}
@font-face {
	font-family:"KNBTUM+ZapfDingbats";
	src:url("522b973d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_43 {
	font-size: 0.833333em;
	font-family: "KNBTUM+ZapfDingbats";
	color: #F7931D;
}
.stl_44 {
	line-height: 0.963em;
}
.stl_45 {
	font-size: 0.75em;
	font-family: "IPNKPL+Frutiger-Bold";
	color: #221E1F;
}
@font-face {
	font-family:"TOBINS+Frutiger-LightItalic";
	src:url("22714295-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_46 {
	font-size: 0.683333em;
	font-family: "TOBINS+Frutiger-LightItalic", "Times New Roman";
	color: #221E1F;
}
.stl_47 {
	line-height: 1.167em;
}
.stl_48 {
	letter-spacing: 0.02em;
}

.ie .stl_48 {
	letter-spacing: 0.2187px;
}
.stl_49 {
	font-size: 0.546583em;
	font-family: "GMHDRS+Frutiger-Light";
	color: #221E1F;
}
.stl_50 {
	letter-spacing: -0.0016em;
}

.ie .stl_50 {
	letter-spacing: -0.0192px;
}
.stl_51 {
	letter-spacing: -0.0043em;
}

.ie .stl_51 {
	letter-spacing: -0.0431px;
}
.stl_52 {
	letter-spacing: -0.043em;
}

.ie .stl_52 {
	letter-spacing: -0.4013px;
}
@font-face {
	font-family:"NNRTDU+EuropeanPi-Four";
	src:url("c92069c6-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_53 {
	font-size: 1em;
	font-family: "NNRTDU+EuropeanPi-Four", "Times New Roman";
	color: #221E1F;
}
.stl_54 {
	line-height: 1.035em;
}
.stl_55 {
	letter-spacing: -0.0027em;
}

.ie .stl_55 {
	letter-spacing: -0.0275px;
}
