sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"UFNKJG+Frutiger-Black";
	src:url("b0b6070a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "UFNKJG+Frutiger-Black";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: 0.0009em;
}

.ie .stl_09 {
	letter-spacing: 0.008px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "UFNKJG+Frutiger-Black";
	color: #221E1F;
}
.stl_11 {
	letter-spacing: 0.0011em;
}

.ie .stl_11 {
	letter-spacing: 0.008px;
}
@font-face {
	font-family:"DKJBSF+Frutiger-Cn";
	src:url("cd197e3b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 2em;
	font-family: "DKJBSF+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_13 {
	line-height: 1.179em;
}
.stl_14 {
	letter-spacing: 0em;
}

.ie .stl_14 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"NMRATT+DIN-Black";
	src:url("e2b0bf1c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 1em;
	font-family: "NMRATT+DIN-Black";
	color: #FFFFFF;
}
.stl_16 {
	line-height: 1.231em;
}
@font-face {
	font-family:"EDQTLJ+DIN-Bold";
	src:url("9f38878d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 0.666667em;
	font-family: "EDQTLJ+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_18 {
	line-height: 1.221em;
}
@font-face {
	font-family:"TAMVWV+Frutiger-Light";
	src:url("afd8bc9d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 0.666667em;
	font-family: "TAMVWV+Frutiger-Light";
	color: #221E1F;
}
.stl_20 {
	line-height: 1.161em;
}
.stl_21 {
	letter-spacing: -0.0004em;
}

.ie .stl_21 {
	letter-spacing: -0.0043px;
}
.stl_22 {
	letter-spacing: -0.0009em;
}

.ie .stl_22 {
	letter-spacing: -0.0096px;
}
.stl_23 {
	font-size: 0.75em;
	font-family: "NMRATT+DIN-Black";
	color: #221E1F;
}
.stl_24 {
	font-size: 0.683333em;
	font-family: "TAMVWV+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"OWPMWC+Frutiger-Bold";
	src:url("79c86443-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_25 {
	font-size: 0.583333em;
	font-family: "OWPMWC+Frutiger-Bold";
	color: #221E1F;
}
.stl_26 {
	line-height: 1.185em;
}
.stl_27 {
	font-size: 0.4665em;
	font-family: "OWPMWC+Frutiger-Bold";
	color: #221E1F;
}
@font-face {
	font-family:"GLHPCC+Frutiger-Roman";
	src:url("298f3130-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_28 {
	font-size: 0.583333em;
	font-family: "GLHPCC+Frutiger-Roman";
	color: #221E1F;
}
.stl_29 {
	letter-spacing: -0.0003em;
}

.ie .stl_29 {
	letter-spacing: -0.0031px;
}
.stl_30 {
	font-size: 0.625333em;
	font-family: "GLHPCC+Frutiger-Roman";
	color: #EF1D7B;
}
.stl_31 {
	letter-spacing: -0.0021em;
}

.ie .stl_31 {
	letter-spacing: -0.0257px;
}
.stl_32 {
	font-size: 0.625333em;
	font-family: "GLHPCC+Frutiger-Roman";
	color: #0168B4;
}
.stl_33 {
	font-size: 0.75em;
	font-family: "DKJBSF+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"AUPTFR+??";
	src:url("00c9ced5-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_34 {
	font-size: 1em;
	font-family: "AUPTFR+??", "Times New Roman";
	color: #60BF00;
}
.stl_35 {
	line-height: 1.107422em;
}
.stl_36 {
	letter-spacing: 0.0147em;
}

.ie .stl_36 {
	letter-spacing: 0.235px;
}
@font-face {
	font-family:"FTBPFF+Times-Roman";
	src:url("befa291e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_37 {
	font-size: 1.166667em;
	font-family: "FTBPFF+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_38 {
	letter-spacing: 0.0126em;
}

.ie .stl_38 {
	letter-spacing: 0.235px;
}
.stl_39 {
	letter-spacing: 0.0008em;
}

.ie .stl_39 {
	letter-spacing: 0.0078px;
}
.stl_40 {
	letter-spacing: 0.001em;
}

.ie .stl_40 {
	letter-spacing: 0.0078px;
}
.stl_41 {
	font-size: 1.166667em;
	font-family: "DKJBSF+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_42 {
	font-size: 0.833333em;
	font-family: "NMRATT+DIN-Black";
	color: #F7931D;
}
@font-face {
	font-family:"VGSRFQ+ZapfDingbats";
	src:url("18d1e821-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_43 {
	font-size: 0.833333em;
	font-family: "VGSRFQ+ZapfDingbats";
	color: #F7931D;
}
.stl_44 {
	line-height: 0.963em;
}
.stl_45 {
	font-size: 0.75em;
	font-family: "OWPMWC+Frutiger-Bold";
	color: #221E1F;
}
.stl_46 {
	font-size: 0.683333em;
	font-family: "OWPMWC+Frutiger-Bold";
	color: #221E1F;
}
.stl_47 {
	letter-spacing: 0.0005em;
}

.ie .stl_47 {
	letter-spacing: 0.0051px;
}
.stl_48 {
	font-size: 0.60025em;
	font-family: "TAMVWV+Frutiger-Light";
	color: #221E1F;
}
.stl_49 {
	letter-spacing: -0.0071em;
}

.ie .stl_49 {
	letter-spacing: -0.0685px;
}
.stl_50 {
	font-size: 0.437917em;
	font-family: "TAMVWV+Frutiger-Light";
	color: #221E1F;
}
.stl_51 {
	letter-spacing: -0.0098em;
}

.ie .stl_51 {
	letter-spacing: -0.0685px;
}
.stl_52 {
	letter-spacing: -0.0007em;
}

.ie .stl_52 {
	letter-spacing: -0.0071px;
}
.stl_53 {
	letter-spacing: -0.001em;
}

.ie .stl_53 {
	letter-spacing: -0.0071px;
}
.stl_54 {
	letter-spacing: -0.0029em;
}

.ie .stl_54 {
	letter-spacing: -0.0275px;
}
.stl_55 {
	letter-spacing: -0.002em;
}

.ie .stl_55 {
	letter-spacing: -0.0192px;
}
.stl_56 {
	letter-spacing: -0.0093em;
}

.ie .stl_56 {
	letter-spacing: -0.0893px;
}
.stl_57 {
	letter-spacing: -0.0112em;
}

.ie .stl_57 {
	letter-spacing: -0.1076px;
}
.stl_58 {
	letter-spacing: -0.0018em;
}

.ie .stl_58 {
	letter-spacing: -0.0173px;
}
.stl_59 {
	font-size: 0.546583em;
	font-family: "TAMVWV+Frutiger-Light";
	color: #221E1F;
}
.stl_60 {
	font-size: 0.683333em;
	font-family: "OWPMWC+Frutiger-Bold";
	color: #F7931D;
}
.stl_61 {
	letter-spacing: -0.0066em;
}

.ie .stl_61 {
	letter-spacing: -0.0718px;
}
.stl_62 {
	letter-spacing: -0.0016em;
}

.ie .stl_62 {
	letter-spacing: -0.0192px;
}
.stl_63 {
	letter-spacing: -0.0033em;
}

.ie .stl_63 {
	letter-spacing: -0.0307px;
}
