sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"OPJOTK+Frutiger-Black";
	src:url("43c7bc11-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "OPJOTK+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: -0.0002em;
}

.ie .stl_09 {
	letter-spacing: -0.0015px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "OPJOTK+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"NQEVNT+Frutiger-Cn";
	src:url("ad79b1ed-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 2em;
	font-family: "NQEVNT+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_12 {
	line-height: 1.179em;
}
.stl_13 {
	letter-spacing: 0em;
}

.ie .stl_13 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"JFEVWA+DIN-Black";
	src:url("337cd6b9-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "JFEVWA+DIN-Black";
	color: #FFFFFF;
}
.stl_15 {
	line-height: 1.231em;
}
@font-face {
	font-family:"TRSEKJ+DIN-Bold";
	src:url("da22e12a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 0.666667em;
	font-family: "TRSEKJ+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_17 {
	line-height: 1.221em;
}
@font-face {
	font-family:"NRDMDD+Frutiger-Light";
	src:url("cd8d47d7-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_18 {
	font-size: 0.666667em;
	font-family: "NRDMDD+Frutiger-Light";
	color: #221E1F;
}
.stl_19 {
	line-height: 1.161em;
}
.stl_20 {
	letter-spacing: -0.0021em;
}

.ie .stl_20 {
	letter-spacing: -0.0225px;
}
.stl_21 {
	letter-spacing: -0.0007em;
}

.ie .stl_21 {
	letter-spacing: -0.0071px;
}
.stl_22 {
	letter-spacing: -0.0004em;
}

.ie .stl_22 {
	letter-spacing: -0.0041px;
}
.stl_23 {
	font-size: 0.75em;
	font-family: "JFEVWA+DIN-Black";
	color: #221E1F;
}
.stl_24 {
	font-size: 0.683333em;
	font-family: "NRDMDD+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"SNRVOF+Frutiger-Roman";
	src:url("4860c497-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_25 {
	font-size: 0.683333em;
	font-family: "SNRVOF+Frutiger-Roman";
	color: #221E1F;
}
.stl_26 {
	line-height: 1.185em;
}
@font-face {
	font-family:"AENKFO+Frutiger-LightItalic";
	src:url("2f4f6c95-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_27 {
	font-size: 0.683333em;
	font-family: "AENKFO+Frutiger-LightItalic";
	color: #221E1F;
}
.stl_28 {
	line-height: 1.167em;
}
.stl_29 {
	letter-spacing: -0.015em;
}

.ie .stl_29 {
	letter-spacing: -0.164px;
}
@font-face {
	font-family:"KMWRNL+Symbol";
	src:url("33ae0f4e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_30 {
	font-size: 0.683333em;
	font-family: "KMWRNL+Symbol", "Times New Roman";
	color: #221E1F;
}
.stl_31 {
	line-height: 1.303em;
}
@font-face {
	font-family:"OGAURH+Frutiger-Bold";
	src:url("fe839a4a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_32 {
	font-size: 0.583333em;
	font-family: "OGAURH+Frutiger-Bold";
	color: #221E1F;
}
.stl_33 {
	letter-spacing: -0.0001em;
}

.ie .stl_33 {
	letter-spacing: -0.0008px;
}
.stl_34 {
	font-size: 0.4665em;
	font-family: "OGAURH+Frutiger-Bold";
	color: #221E1F;
}
.stl_35 {
	font-size: 0.583333em;
	font-family: "SNRVOF+Frutiger-Roman";
	color: #221E1F;
}
.stl_36 {
	font-size: 0.75em;
	font-family: "NQEVNT+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"BQBPKF+??";
	src:url("312d4191-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_37 {
	font-size: 1em;
	font-family: "BQBPKF+??", "Times New Roman";
	color: #60BF00;
}
.stl_38 {
	line-height: 1.107422em;
}
.stl_39 {
	letter-spacing: 0.0147em;
}

.ie .stl_39 {
	letter-spacing: 0.235px;
}
@font-face {
	font-family:"VGWSJA+Times-Roman";
	src:url("8a935aae-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_40 {
	font-size: 1.166667em;
	font-family: "VGWSJA+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_41 {
	letter-spacing: 0.0126em;
}

.ie .stl_41 {
	letter-spacing: 0.235px;
}
.stl_42 {
	font-size: 1.166667em;
	font-family: "NQEVNT+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_43 {
	font-size: 0.833333em;
	font-family: "JFEVWA+DIN-Black";
	color: #F7931D;
}
.stl_44 {
	letter-spacing: -0.01em;
}

.ie .stl_44 {
	letter-spacing: -0.1093px;
}
.stl_45 {
	font-size: 0.683333em;
	font-family: "OGAURH+Frutiger-Bold";
	color: #F7931D;
}
.stl_46 {
	letter-spacing: -0.0022em;
}

.ie .stl_46 {
	letter-spacing: -0.0267px;
}
.stl_47 {
	font-size: 0.546583em;
	font-family: "NRDMDD+Frutiger-Light";
	color: #221E1F;
}
.stl_48 {
	letter-spacing: -0.0016em;
}

.ie .stl_48 {
	letter-spacing: -0.0192px;
}
@font-face {
	font-family:"UQDLSS+ZapfDingbats";
	src:url("762b85c2-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_49 {
	font-size: 0.833333em;
	font-family: "UQDLSS+ZapfDingbats";
	color: #F7931D;
}
.stl_50 {
	line-height: 0.963em;
}
.stl_51 {
	font-size: 0.75em;
	font-family: "OGAURH+Frutiger-Bold";
	color: #221E1F;
}
.stl_52 {
	letter-spacing: -0.0048em;
}

.ie .stl_52 {
	letter-spacing: -0.0529px;
}
.stl_53 {
	letter-spacing: -0.002em;
}

.ie .stl_53 {
	letter-spacing: -0.024px;
}
.stl_54 {
	letter-spacing: -0.0014em;
}

.ie .stl_54 {
	letter-spacing: -0.0157px;
}
