sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"ULTHUW+Frutiger-Black";
	src:url("f1d79d78-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "ULTHUW+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: -0.0002em;
}

.ie .stl_09 {
	letter-spacing: -0.0018px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "ULTHUW+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"BQNLHC+Frutiger-Cn";
	src:url("387f3e78-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 2em;
	font-family: "BQNLHC+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_12 {
	line-height: 1.179em;
}
.stl_13 {
	letter-spacing: 0em;
}

.ie .stl_13 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"MNSINP+DIN-Black";
	src:url("5731eeee-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "MNSINP+DIN-Black";
	color: #FFFFFF;
}
.stl_15 {
	line-height: 1.231em;
}
@font-face {
	font-family:"SSUBRD+DIN-Bold";
	src:url("29edd874-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 0.666667em;
	font-family: "SSUBRD+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_17 {
	line-height: 1.221em;
}
@font-face {
	font-family:"PFSSEM+Frutiger-Light";
	src:url("53956461-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_18 {
	font-size: 0.666667em;
	font-family: "PFSSEM+Frutiger-Light";
	color: #221E1F;
}
.stl_19 {
	line-height: 1.161em;
}
.stl_20 {
	letter-spacing: -0.0005em;
}

.ie .stl_20 {
	letter-spacing: -0.0056px;
}
.stl_21 {
	letter-spacing: -0.0007em;
}

.ie .stl_21 {
	letter-spacing: -0.0075px;
}
.stl_22 {
	letter-spacing: -0.0004em;
}

.ie .stl_22 {
	letter-spacing: -0.0039px;
}
.stl_23 {
	font-size: 0.75em;
	font-family: "MNSINP+DIN-Black";
	color: #221E1F;
}
.stl_24 {
	font-size: 0.683333em;
	font-family: "PFSSEM+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"HOKSGR+Frutiger-Roman";
	src:url("c90bbbe5-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_25 {
	font-size: 0.625333em;
	font-family: "HOKSGR+Frutiger-Roman";
	color: #EF1D7B;
}
.stl_26 {
	line-height: 1.185em;
}
@font-face {
	font-family:"MNSETH+Frutiger-LightItalic";
	src:url("66f2cfcf-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_27 {
	font-size: 0.683333em;
	font-family: "MNSETH+Frutiger-LightItalic", "Times New Roman";
	color: #221E1F;
}
.stl_28 {
	line-height: 1.167em;
}
.stl_29 {
	font-size: 0.60025em;
	font-family: "PFSSEM+Frutiger-Light";
	color: #221E1F;
}
.stl_30 {
	letter-spacing: -0.0022em;
}

.ie .stl_30 {
	letter-spacing: -0.0212px;
}
.stl_31 {
	letter-spacing: -0.002em;
}

.ie .stl_31 {
	letter-spacing: -0.0192px;
}
.stl_32 {
	letter-spacing: -0.0034em;
}

.ie .stl_32 {
	letter-spacing: -0.0327px;
}
.stl_33 {
	letter-spacing: -0.0013em;
}

.ie .stl_33 {
	letter-spacing: -0.0126px;
}
.stl_34 {
	letter-spacing: -0.0019em;
}

.ie .stl_34 {
	letter-spacing: -0.0184px;
}
.stl_35 {
	letter-spacing: -0.0018em;
}

.ie .stl_35 {
	letter-spacing: -0.0168px;
}
.stl_36 {
	letter-spacing: -0.0014em;
}

.ie .stl_36 {
	letter-spacing: -0.0132px;
}
.stl_37 {
	letter-spacing: -0.0025em;
}

.ie .stl_37 {
	letter-spacing: -0.024px;
}
.stl_38 {
	letter-spacing: -0.0021em;
}

.ie .stl_38 {
	letter-spacing: -0.0198px;
}
.stl_39 {
	letter-spacing: -0.0016em;
}

.ie .stl_39 {
	letter-spacing: -0.0151px;
}
.stl_40 {
	letter-spacing: -0.0023em;
}

.ie .stl_40 {
	letter-spacing: -0.0224px;
}
.stl_41 {
	letter-spacing: -0.0035em;
}

.ie .stl_41 {
	letter-spacing: -0.0336px;
}
.stl_42 {
	letter-spacing: -0.0033em;
}

.ie .stl_42 {
	letter-spacing: -0.032px;
}
@font-face {
	font-family:"OLJJWM+EuropeanPi-Three";
	src:url("b0d60504-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_43 {
	font-size: 0.666667em;
	font-family: "OLJJWM+EuropeanPi-Three", "Times New Roman";
	color: #F7931D;
}
.stl_44 {
	line-height: 1.295em;
}
.stl_45 {
	font-size: 0.75em;
	font-family: "BQNLHC+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"UUSTDC+Times-Roman";
	src:url("3911b12c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_46 {
	font-size: 1.166667em;
	font-family: "UUSTDC+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_47 {
	line-height: 1.107422em;
}
.stl_48 {
	font-size: 1.166667em;
	font-family: "BQNLHC+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_49 {
	font-size: 0.833333em;
	font-family: "MNSINP+DIN-Black";
	color: #F7931D;
}
.stl_50 {
	letter-spacing: -0.008em;
}

.ie .stl_50 {
	letter-spacing: -0.0768px;
}
.stl_51 {
	letter-spacing: -0.0116em;
}

.ie .stl_51 {
	letter-spacing: -0.1116px;
}
.stl_52 {
	letter-spacing: -0.0141em;
}

.ie .stl_52 {
	letter-spacing: -0.1354px;
}
.stl_53 {
	font-size: 0.60025em;
	font-family: "HOKSGR+Frutiger-Roman";
	color: #221E1F;
}
.stl_54 {
	letter-spacing: -0.0058em;
}

.ie .stl_54 {
	letter-spacing: -0.0554px;
}
.stl_55 {
	letter-spacing: -0.0046em;
}

.ie .stl_55 {
	letter-spacing: -0.0442px;
}
.stl_56 {
	letter-spacing: -0.0031em;
}

.ie .stl_56 {
	letter-spacing: -0.0293px;
}
.stl_57 {
	letter-spacing: -0.007em;
}

.ie .stl_57 {
	letter-spacing: -0.0672px;
}
.stl_58 {
	letter-spacing: -0.0015em;
}

.ie .stl_58 {
	letter-spacing: -0.0147px;
}
.stl_59 {
	letter-spacing: -0.016em;
}

.ie .stl_59 {
	letter-spacing: -0.1537px;
}
.stl_60 {
	font-size: 0.683333em;
	font-family: "HOKSGR+Frutiger-Roman";
	color: #221E1F;
}
.stl_61 {
	font-size: 0.546583em;
	font-family: "PFSSEM+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"MUFHIV+??";
	src:url("cd4a4074-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_62 {
	font-size: 1em;
	font-family: "MUFHIV+??", "Times New Roman";
	color: #60BF00;
}
.stl_63 {
	letter-spacing: 0.0147em;
}

.ie .stl_63 {
	letter-spacing: 0.235px;
}
.stl_64 {
	letter-spacing: 0.0126em;
}

.ie .stl_64 {
	letter-spacing: 0.235px;
}
@font-face {
	font-family:"CNWFDM+ZapfDingbats";
	src:url("4229e3be-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_65 {
	font-size: 0.833333em;
	font-family: "CNWFDM+ZapfDingbats";
	color: #F7931D;
}
.stl_66 {
	line-height: 0.963em;
}
@font-face {
	font-family:"KHELQH+Frutiger-Bold";
	src:url("9b4a2ce1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_67 {
	font-size: 0.75em;
	font-family: "KHELQH+Frutiger-Bold";
	color: #221E1F;
}
.stl_68 {
	letter-spacing: 0.0001em;
}

.ie .stl_68 {
	letter-spacing: 0.0007px;
}
@font-face {
	font-family:"BVQCTL+Frutiger-Italic";
	src:url("de4a21be-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_69 {
	font-size: 0.625333em;
	font-family: "BVQCTL+Frutiger-Italic";
	color: #0168B4;
}
.stl_70 {
	line-height: 1.18em;
}
.stl_71 {
	font-size: 0.625333em;
	font-family: "HOKSGR+Frutiger-Roman";
	color: #0168B4;
}
.stl_72 {
	font-size: 0.499em;
	font-family: "PFSSEM+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"DGSRKL+Symbol";
	src:url("65dd57c3-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_73 {
	font-size: 0.683333em;
	font-family: "DGSRKL+Symbol", "Times New Roman";
	color: #221E1F;
}
.stl_74 {
	line-height: 1.303em;
}
