sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"ASEEBQ+Frutiger-Black";
	src:url("2babd70c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "ASEEBQ+Frutiger-Black";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: 0.0006em;
}

.ie .stl_09 {
	letter-spacing: 0.0056px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "ASEEBQ+Frutiger-Black";
	color: #221E1F;
}
.stl_11 {
	letter-spacing: 0.0008em;
}

.ie .stl_11 {
	letter-spacing: 0.0056px;
}
@font-face {
	font-family:"WRJLGD+Frutiger-Cn";
	src:url("bf311809-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 2em;
	font-family: "WRJLGD+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_13 {
	line-height: 1.179em;
}
.stl_14 {
	letter-spacing: 0em;
}

.ie .stl_14 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"QDWPIG+DIN-Black";
	src:url("87e76f40-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 1em;
	font-family: "QDWPIG+DIN-Black";
	color: #FFFFFF;
}
.stl_16 {
	line-height: 1.231em;
}
.stl_17 {
	letter-spacing: -0.0002em;
}

.ie .stl_17 {
	letter-spacing: -0.0029px;
}
.stl_18 {
	font-size: 0.72975em;
	font-family: "QDWPIG+DIN-Black";
	color: #FFFFFF;
}
@font-face {
	font-family:"KRWIUN+DIN-Bold";
	src:url("3c41600f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 0.666667em;
	font-family: "KRWIUN+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_20 {
	line-height: 1.221em;
}
@font-face {
	font-family:"ELGAMK+Frutiger-Light";
	src:url("161f3854-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_21 {
	font-size: 0.666667em;
	font-family: "ELGAMK+Frutiger-Light";
	color: #221E1F;
}
.stl_22 {
	line-height: 1.161em;
}
.stl_23 {
	letter-spacing: -0.0007em;
}

.ie .stl_23 {
	letter-spacing: -0.0078px;
}
.stl_24 {
	letter-spacing: -0.0035em;
}

.ie .stl_24 {
	letter-spacing: -0.0372px;
}
.stl_25 {
	letter-spacing: -0.0004em;
}

.ie .stl_25 {
	letter-spacing: -0.0039px;
}
.stl_26 {
	letter-spacing: -0.0022em;
}

.ie .stl_26 {
	letter-spacing: -0.023px;
}
.stl_27 {
	font-size: 0.75em;
	font-family: "QDWPIG+DIN-Black";
	color: #221E1F;
}
.stl_28 {
	font-size: 0.683333em;
	font-family: "ELGAMK+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"MFTTCG+Frutiger-LightItalic";
	src:url("5763fa87-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_29 {
	font-size: 0.683333em;
	font-family: "MFTTCG+Frutiger-LightItalic";
	color: #221E1F;
}
.stl_30 {
	line-height: 1.167em;
}
@font-face {
	font-family:"WEBCAV+Frutiger-Roman";
	src:url("b56aaa12-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_31 {
	font-size: 0.683333em;
	font-family: "WEBCAV+Frutiger-Roman";
	color: #221E1F;
}
.stl_32 {
	line-height: 1.185em;
}
.stl_33 {
	font-size: 0.583333em;
	font-family: "WEBCAV+Frutiger-Roman";
	color: #221E1F;
}
@font-face {
	font-family:"GFOSCA+EuropeanPi-Four";
	src:url("c57e96d3-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_34 {
	font-size: 1em;
	font-family: "GFOSCA+EuropeanPi-Four", "Times New Roman";
	color: #221E1F;
}
.stl_35 {
	line-height: 1.035em;
}
.stl_36 {
	font-size: 0.583333em;
	font-family: "ELGAMK+Frutiger-Light";
	color: #221E1F;
}
.stl_37 {
	letter-spacing: -0.0003em;
}

.ie .stl_37 {
	letter-spacing: -0.0028px;
}
.stl_38 {
	font-size: 0.583333em;
	font-family: "MFTTCG+Frutiger-LightItalic";
	color: #221E1F;
}
.stl_39 {
	letter-spacing: -0.001em;
}

.ie .stl_39 {
	letter-spacing: -0.0093px;
}
.stl_40 {
	font-size: 0.75em;
	font-family: "WRJLGD+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"EIUVUS+??";
	src:url("67ab21f3-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_41 {
	font-size: 1em;
	font-family: "EIUVUS+??", "Times New Roman";
	color: #60BF00;
}
.stl_42 {
	line-height: 1.107422em;
}
.stl_43 {
	letter-spacing: 0.0147em;
}

.ie .stl_43 {
	letter-spacing: 0.235px;
}
@font-face {
	font-family:"KFSIHG+Times-Roman";
	src:url("456ebf21-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_44 {
	font-size: 1.166667em;
	font-family: "KFSIHG+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_45 {
	letter-spacing: 0.0126em;
}

.ie .stl_45 {
	letter-spacing: 0.235px;
}
.stl_46 {
	letter-spacing: 0.0007em;
}

.ie .stl_46 {
	letter-spacing: 0.0056px;
}
.stl_47 {
	font-size: 1.166667em;
	font-family: "WRJLGD+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_48 {
	font-size: 0.833333em;
	font-family: "QDWPIG+DIN-Black";
	color: #F7931D;
}
@font-face {
	font-family:"POCNNC+Optima";
	src:url("15b14809-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_49 {
	font-size: 0.583333em;
	font-family: "POCNNC+Optima", "Times New Roman";
	color: #221E1F;
}
.stl_50 {
	line-height: 1.195em;
}
.stl_51 {
	font-size: 0.625333em;
	font-family: "WEBCAV+Frutiger-Roman";
	color: #0168B4;
}
@font-face {
	font-family:"TDQBCM+ZapfDingbats";
	src:url("2d0fc893-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_52 {
	font-size: 0.833333em;
	font-family: "TDQBCM+ZapfDingbats";
	color: #F7931D;
}
.stl_53 {
	line-height: 0.963em;
}
@font-face {
	font-family:"RRCHFK+Frutiger-Bold";
	src:url("55125627-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_54 {
	font-size: 0.75em;
	font-family: "RRCHFK+Frutiger-Bold";
	color: #221E1F;
}
@font-face {
	font-family:"ACTVQI+Symbol";
	src:url("03c2a52f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_55 {
	font-size: 0.683333em;
	font-family: "ACTVQI+Symbol", "Times New Roman";
	color: #221E1F;
}
.stl_56 {
	line-height: 1.303em;
}
.stl_57 {
	font-size: 0.583333em;
	font-family: "RRCHFK+Frutiger-Bold";
	color: #221E1F;
}
.stl_58 {
	letter-spacing: -0.0001em;
}

.ie .stl_58 {
	letter-spacing: -0.0007px;
}
.stl_59 {
	font-size: 0.4665em;
	font-family: "RRCHFK+Frutiger-Bold";
	color: #221E1F;
}
.stl_60 {
	font-size: 0.583333em;
	font-family: "ASEEBQ+Frutiger-Black";
	color: #FFFFFF;
}
.stl_61 {
	font-size: 0.4665em;
	font-family: "ASEEBQ+Frutiger-Black";
	color: #FFFFFF;
}
.stl_62 {
	letter-spacing: -0.0014em;
}

.ie .stl_62 {
	letter-spacing: -0.0128px;
}
.stl_63 {
	font-size: 0.625333em;
	font-family: "WEBCAV+Frutiger-Roman";
	color: #EF1D7B;
}
.stl_64 {
	letter-spacing: -0.0016em;
}

.ie .stl_64 {
	letter-spacing: -0.0192px;
}
.stl_65 {
	font-size: 0.683333em;
	font-family: "RRCHFK+Frutiger-Bold";
	color: #F7931D;
}
.stl_66 {
	letter-spacing: -0.0009em;
}

.ie .stl_66 {
	letter-spacing: -0.0093px;
}
.stl_67 {
	letter-spacing: -0.0019em;
}

.ie .stl_67 {
	letter-spacing: -0.0185px;
}
.stl_68 {
	letter-spacing: -0.0027em;
}

.ie .stl_68 {
	letter-spacing: -0.0273px;
}
.stl_69 {
	letter-spacing: -0.0005em;
}

.ie .stl_69 {
	letter-spacing: -0.0053px;
}
.stl_70 {
	letter-spacing: -0.0011em;
}

.ie .stl_70 {
	letter-spacing: -0.0116px;
}
.stl_71 {
	letter-spacing: -0.002em;
}

.ie .stl_71 {
	letter-spacing: -0.024px;
}
.stl_72 {
	font-size: 0.625333em;
	font-family: "ELGAMK+Frutiger-Light";
	color: #221E1F;
}
.stl_73 {
	letter-spacing: -0.0006em;
}

.ie .stl_73 {
	letter-spacing: -0.0063px;
}
.stl_74 {
	font-size: 0.625333em;
	font-family: "RRCHFK+Frutiger-Bold";
	color: #F7931D;
}
