sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"RBCQDS+Helvetica";
	src:url("4b313777-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.833333em;
	font-family: "RBCQDS+Helvetica", "Times New Roman";
	color: #000000;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.ie .stl_09 {
	letter-spacing: -0.0006px;
}
@font-face {
	font-family:"TQMWTF+Frutiger-Black";
	src:url("0bae55fd-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.583333em;
	font-family: "TQMWTF+Frutiger-Black";
	color: #221E1F;
}
.stl_11 {
	line-height: 1.204em;
}
.stl_12 {
	font-size: 0.4665em;
	font-family: "TQMWTF+Frutiger-Black";
	color: #221E1F;
}
@font-face {
	font-family:"HSOIBN+Frutiger-Cn";
	src:url("dadcc94c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 2em;
	font-family: "HSOIBN+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_14 {
	line-height: 1.179em;
}
@font-face {
	font-family:"PVFHGO+DIN-Black";
	src:url("b77f7f1d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 1em;
	font-family: "PVFHGO+DIN-Black";
	color: #FFFFFF;
}
.stl_16 {
	line-height: 1.231em;
}
@font-face {
	font-family:"LETETG+DIN-Bold";
	src:url("d23f85a2-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 0.666667em;
	font-family: "LETETG+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_18 {
	line-height: 1.221em;
}
@font-face {
	font-family:"KVFGUH+Frutiger-Light";
	src:url("1881033c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 0.666667em;
	font-family: "KVFGUH+Frutiger-Light";
	color: #221E1F;
}
.stl_20 {
	line-height: 1.161em;
}
.stl_21 {
	letter-spacing: -0.0005em;
}

.ie .stl_21 {
	letter-spacing: -0.0056px;
}
.stl_22 {
	font-size: 0.75em;
	font-family: "PVFHGO+DIN-Black";
	color: #221E1F;
}
.stl_23 {
	font-size: 0.683333em;
	font-family: "KVFGUH+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"MRFWQO+Frutiger-LightItalic";
	src:url("be04da5f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_24 {
	font-size: 0.683333em;
	font-family: "MRFWQO+Frutiger-LightItalic";
	color: #221E1F;
}
.stl_25 {
	line-height: 1.167em;
}
@font-face {
	font-family:"OFCVDQ+Frutiger-Bold";
	src:url("afca47c1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_26 {
	font-size: 0.683333em;
	font-family: "OFCVDQ+Frutiger-Bold";
	color: #221E1F;
}
.stl_27 {
	line-height: 1.185em;
}
.stl_28 {
	font-size: 0.60025em;
	font-family: "KVFGUH+Frutiger-Light";
	color: #221E1F;
}
.stl_29 {
	letter-spacing: -0.0011em;
}

.ie .stl_29 {
	letter-spacing: -0.0107px;
}
.stl_30 {
	letter-spacing: -0.0016em;
}

.ie .stl_30 {
	letter-spacing: -0.0153px;
}
.stl_31 {
	letter-spacing: -0.0017em;
}

.ie .stl_31 {
	letter-spacing: -0.0164px;
}
.stl_32 {
	letter-spacing: -0.0029em;
}

.ie .stl_32 {
	letter-spacing: -0.0282px;
}
.stl_33 {
	letter-spacing: -0.0037em;
}

.ie .stl_33 {
	letter-spacing: -0.0351px;
}
.stl_34 {
	letter-spacing: -0.0021em;
}

.ie .stl_34 {
	letter-spacing: -0.0206px;
}
.stl_35 {
	letter-spacing: -0.0033em;
}

.ie .stl_35 {
	letter-spacing: -0.0319px;
}
.stl_36 {
	letter-spacing: -0.0019em;
}

.ie .stl_36 {
	letter-spacing: -0.0181px;
}
.stl_37 {
	letter-spacing: -0.0022em;
}

.ie .stl_37 {
	letter-spacing: -0.0207px;
}
.stl_38 {
	letter-spacing: -0.0035em;
}

.ie .stl_38 {
	letter-spacing: -0.0339px;
}
.stl_39 {
	letter-spacing: -0.0009em;
}

.ie .stl_39 {
	letter-spacing: -0.0083px;
}
.stl_40 {
	letter-spacing: -0.0014em;
}

.ie .stl_40 {
	letter-spacing: -0.0134px;
}
.stl_41 {
	font-size: 0.75em;
	font-family: "HSOIBN+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"IMOSAR+Times-Roman";
	src:url("6330cd6d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_42 {
	font-size: 1.166667em;
	font-family: "IMOSAR+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_43 {
	line-height: 1.107422em;
}
.stl_44 {
	font-size: 1.166667em;
	font-family: "HSOIBN+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_45 {
	font-size: 0.833333em;
	font-family: "PVFHGO+DIN-Black";
	color: #F7931D;
}
.stl_46 {
	letter-spacing: -0.0043em;
}

.ie .stl_46 {
	letter-spacing: -0.052px;
}
@font-face {
	font-family:"EIPPVB+ZapfDingbats";
	src:url("f83a5417-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_47 {
	font-size: 0.833333em;
	font-family: "EIPPVB+ZapfDingbats";
	color: #F7931D;
}
.stl_48 {
	line-height: 0.963em;
}
.stl_49 {
	font-size: 0.75em;
	font-family: "OFCVDQ+Frutiger-Bold";
	color: #221E1F;
}
@font-face {
	font-family:"GMGEKA+Frutiger-Roman";
	src:url("215809f6-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_50 {
	font-size: 0.683333em;
	font-family: "GMGEKA+Frutiger-Roman";
	color: #221E1F;
}
@font-face {
	font-family:"NASMBL+??";
	src:url("9e7af2f9-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_51 {
	font-size: 1em;
	font-family: "NASMBL+??", "Times New Roman";
	color: #60BF00;
}
.stl_52 {
	letter-spacing: 0.0147em;
}

.ie .stl_52 {
	letter-spacing: 0.235px;
}
.stl_53 {
	letter-spacing: 0.0126em;
}

.ie .stl_53 {
	letter-spacing: 0.235px;
}
.stl_54 {
	font-size: 0.625333em;
	font-family: "GMGEKA+Frutiger-Roman";
	color: #0168B4;
}
@font-face {
	font-family:"QQMBJK+Symbol";
	src:url("acdaa2a8-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_55 {
	font-size: 0.683333em;
	font-family: "QQMBJK+Symbol", "Times New Roman";
	color: #221E1F;
}
.stl_56 {
	line-height: 1.303em;
}
.stl_57 {
	letter-spacing: -0.002em;
}

.ie .stl_57 {
	letter-spacing: -0.024px;
}
