sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"TLSTQG+Frutiger-Black";
	src:url("fd1f37b1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "TLSTQG+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: -0.0001em;
}

.ie .stl_09 {
	letter-spacing: -0.0008px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "TLSTQG+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"BFBJJN+Frutiger-Cn";
	src:url("c15a3f8e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 2em;
	font-family: "BFBJJN+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_12 {
	line-height: 1.179em;
}
.stl_13 {
	letter-spacing: 0em;
}

.ie .stl_13 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"IGDRQE+DIN-Black";
	src:url("ac8f9caf-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "IGDRQE+DIN-Black";
	color: #FFFFFF;
}
.stl_15 {
	line-height: 1.231em;
}
.stl_16 {
	font-size: 0.72975em;
	font-family: "IGDRQE+DIN-Black";
	color: #FFFFFF;
}
@font-face {
	font-family:"FAJSHV+DIN-Bold";
	src:url("2e0bb129-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 0.666667em;
	font-family: "FAJSHV+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_18 {
	line-height: 1.221em;
}
@font-face {
	font-family:"TVPLLT+Frutiger-Light";
	src:url("ebfced9b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 0.666667em;
	font-family: "TVPLLT+Frutiger-Light";
	color: #221E1F;
}
.stl_20 {
	line-height: 1.161em;
}
.stl_21 {
	letter-spacing: -0.0015em;
}

.ie .stl_21 {
	letter-spacing: -0.0156px;
}
@font-face {
	font-family:"HQHQKT+Frutiger-Roman";
	src:url("6a79bd4e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_22 {
	font-size: 0.625333em;
	font-family: "HQHQKT+Frutiger-Roman";
	color: #0168B4;
}
.stl_23 {
	line-height: 1.185em;
}
.stl_24 {
	letter-spacing: -0.0025em;
}

.ie .stl_24 {
	letter-spacing: -0.0252px;
}
.stl_25 {
	font-size: 0.75em;
	font-family: "IGDRQE+DIN-Black";
	color: #221E1F;
}
.stl_26 {
	font-size: 0.683333em;
	font-family: "TVPLLT+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"IRRDEQ+Frutiger-Bold";
	src:url("922cad1b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_27 {
	font-size: 0.583333em;
	font-family: "IRRDEQ+Frutiger-Bold";
	color: #221E1F;
}
.stl_28 {
	letter-spacing: 0.0001em;
}

.ie .stl_28 {
	letter-spacing: 0.0005px;
}
.stl_29 {
	font-size: 0.4665em;
	font-family: "IRRDEQ+Frutiger-Bold";
	color: #221E1F;
}
.stl_30 {
	font-size: 0.583333em;
	font-family: "HQHQKT+Frutiger-Roman";
	color: #221E1F;
}
.stl_31 {
	letter-spacing: -0.0019em;
}

.ie .stl_31 {
	letter-spacing: -0.0175px;
}
.stl_32 {
	letter-spacing: -0.0004em;
}

.ie .stl_32 {
	letter-spacing: -0.0037px;
}
.stl_33 {
	letter-spacing: -0.0115em;
}

.ie .stl_33 {
	letter-spacing: -0.1073px;
}
.stl_34 {
	letter-spacing: -0.002em;
}

.ie .stl_34 {
	letter-spacing: -0.0191px;
}
.stl_35 {
	letter-spacing: -0.0018em;
}

.ie .stl_35 {
	letter-spacing: -0.0172px;
}
.stl_36 {
	letter-spacing: -0.0029em;
}

.ie .stl_36 {
	letter-spacing: -0.0268px;
}
@font-face {
	font-family:"UFFHPP+EuropeanPi-Four";
	src:url("e5ad2364-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_37 {
	font-size: 1em;
	font-family: "UFFHPP+EuropeanPi-Four", "Times New Roman";
	color: #221E1F;
}
.stl_38 {
	line-height: 1.035em;
}
.stl_39 {
	font-size: 0.583333em;
	font-family: "TVPLLT+Frutiger-Light";
	color: #221E1F;
}
.stl_40 {
	letter-spacing: -0.0005em;
}

.ie .stl_40 {
	letter-spacing: -0.0051px;
}
@font-face {
	font-family:"PLFDAW+Frutiger-LightItalic";
	src:url("28edaadd-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_41 {
	font-size: 0.583333em;
	font-family: "PLFDAW+Frutiger-LightItalic";
	color: #221E1F;
}
.stl_42 {
	line-height: 1.167em;
}
.stl_43 {
	font-size: 0.75em;
	font-family: "BFBJJN+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"WIVHPB+??";
	src:url("9674a417-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_44 {
	font-size: 1em;
	font-family: "WIVHPB+??", "Times New Roman";
	color: #60BF00;
}
.stl_45 {
	line-height: 1.107422em;
}
.stl_46 {
	letter-spacing: 0.0147em;
}

.ie .stl_46 {
	letter-spacing: 0.235px;
}
@font-face {
	font-family:"TKFKCD+Times-Roman";
	src:url("77c42281-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_47 {
	font-size: 1.166667em;
	font-family: "TKFKCD+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_48 {
	letter-spacing: 0.0126em;
}

.ie .stl_48 {
	letter-spacing: 0.235px;
}
.stl_49 {
	font-size: 1.166667em;
	font-family: "BFBJJN+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_50 {
	font-size: 0.833333em;
	font-family: "IGDRQE+DIN-Black";
	color: #F7931D;
}
.stl_51 {
	letter-spacing: -0.0032em;
}

.ie .stl_51 {
	letter-spacing: -0.0296px;
}
.stl_52 {
	letter-spacing: -0.0022em;
}

.ie .stl_52 {
	letter-spacing: -0.0267px;
}
@font-face {
	font-family:"LQQBLD+ZapfDingbats";
	src:url("d18426ab-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_53 {
	font-size: 0.833333em;
	font-family: "LQQBLD+ZapfDingbats";
	color: #F7931D;
}
.stl_54 {
	line-height: 0.963em;
}
.stl_55 {
	font-size: 0.75em;
	font-family: "IRRDEQ+Frutiger-Bold";
	color: #221E1F;
}
.stl_56 {
	letter-spacing: -0.0006em;
}

.ie .stl_56 {
	letter-spacing: -0.0062px;
}
.stl_57 {
	font-size: 0.625333em;
	font-family: "HQHQKT+Frutiger-Roman";
	color: #EF1D7B;
}
.stl_58 {
	font-size: 0.683333em;
	font-family: "IRRDEQ+Frutiger-Bold";
	color: #F7931D;
}
.stl_59 {
	font-size: 0.625333em;
	font-family: "TVPLLT+Frutiger-Light";
	color: #221E1F;
}
.stl_60 {
	font-size: 0.625333em;
	font-family: "IRRDEQ+Frutiger-Bold";
	color: #F7931D;
}
