sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"CQBQGF+Frutiger-Black";
	src:url("80166f4c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "CQBQGF+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: -0.0001em;
}

.ie .stl_09 {
	letter-spacing: -0.001px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "CQBQGF+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"KEAJDJ+Frutiger-Cn";
	src:url("01b37f21-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 2em;
	font-family: "KEAJDJ+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_12 {
	line-height: 1.179em;
}
.stl_13 {
	letter-spacing: 0em;
}

.ie .stl_13 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"SQGKCW+DIN-Black";
	src:url("a0e5b352-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "SQGKCW+DIN-Black";
	color: #FFFFFF;
}
.stl_15 {
	line-height: 1.231em;
}
@font-face {
	font-family:"JNAJRM+DIN-Bold";
	src:url("7aabc9e2-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 0.666667em;
	font-family: "JNAJRM+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_17 {
	line-height: 1.221em;
}
@font-face {
	font-family:"QROBUK+Frutiger-Light";
	src:url("b1324a21-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_18 {
	font-size: 0.666667em;
	font-family: "QROBUK+Frutiger-Light";
	color: #221E1F;
}
.stl_19 {
	line-height: 1.161em;
}
.stl_20 {
	letter-spacing: -0.0013em;
}

.ie .stl_20 {
	letter-spacing: -0.0137px;
}
.stl_21 {
	letter-spacing: -0.0011em;
}

.ie .stl_21 {
	letter-spacing: -0.0118px;
}
.stl_22 {
	font-size: 0.75em;
	font-family: "SQGKCW+DIN-Black";
	color: #221E1F;
}
.stl_23 {
	font-size: 0.683333em;
	font-family: "QROBUK+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"MNBCMC+Frutiger-Bold";
	src:url("6729398b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_24 {
	font-size: 0.683333em;
	font-family: "MNBCMC+Frutiger-Bold";
	color: #F7931D;
}
.stl_25 {
	line-height: 1.185em;
}
@font-face {
	font-family:"QHVOSG+Frutiger-Roman";
	src:url("b521f35c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_26 {
	font-size: 0.625333em;
	font-family: "QHVOSG+Frutiger-Roman";
	color: #EF1D7B;
}
.stl_27 {
	font-size: 0.75em;
	font-family: "KEAJDJ+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"TLAVTQ+Times-Roman";
	src:url("82c2189e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_28 {
	font-size: 1.166667em;
	font-family: "TLAVTQ+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_29 {
	line-height: 1.107422em;
}
@font-face {
	font-family:"TIUTDE+Helvetica";
	src:url("2ebbe167-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_30 {
	font-size: 0.833333em;
	font-family: "TIUTDE+Helvetica", "Times New Roman";
	color: #000000;
}
.stl_31 {
	line-height: 1.117188em;
}
.stl_32 {
	font-size: 1.166667em;
	font-family: "KEAJDJ+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_33 {
	font-size: 0.833333em;
	font-family: "SQGKCW+DIN-Black";
	color: #F7931D;
}
.stl_34 {
	letter-spacing: -0.0043em;
}

.ie .stl_34 {
	letter-spacing: -0.052px;
}
@font-face {
	font-family:"DTCOIE+ZapfDingbats";
	src:url("3d706c99-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_35 {
	font-size: 0.833333em;
	font-family: "DTCOIE+ZapfDingbats";
	color: #F7931D;
}
.stl_36 {
	line-height: 0.963em;
}
.stl_37 {
	font-size: 0.75em;
	font-family: "MNBCMC+Frutiger-Bold";
	color: #221E1F;
}
.stl_38 {
	font-size: 0.625333em;
	font-family: "QHVOSG+Frutiger-Roman";
	color: #0168B4;
}
.stl_39 {
	font-size: 0.546583em;
	font-family: "QROBUK+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"NUEHNH+??";
	src:url("828387ff-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_40 {
	font-size: 1em;
	font-family: "NUEHNH+??", "Times New Roman";
	color: #60BF00;
}
.stl_41 {
	letter-spacing: 0.0147em;
}

.ie .stl_41 {
	letter-spacing: 0.235px;
}
.stl_42 {
	letter-spacing: 0.0126em;
}

.ie .stl_42 {
	letter-spacing: 0.235px;
}
.stl_43 {
	letter-spacing: -0.0016em;
}

.ie .stl_43 {
	letter-spacing: -0.0192px;
}
@font-face {
	font-family:"EBIJAO+Frutiger-LightItalic";
	src:url("ca749786-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_44 {
	font-size: 0.683333em;
	font-family: "EBIJAO+Frutiger-LightItalic", "Times New Roman";
	color: #221E1F;
}
.stl_45 {
	line-height: 1.167em;
}
.stl_46 {
	font-size: 0.625333em;
	font-family: "QROBUK+Frutiger-Light";
	color: #221E1F;
}
.stl_47 {
	font-size: 0.625333em;
	font-family: "MNBCMC+Frutiger-Bold";
	color: #F7931D;
}
.stl_48 {
	font-size: 0.625333em;
	font-family: "MNBCMC+Frutiger-Bold";
	color: #C41766;
}
