sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"ELSBSO+Frutiger-Black";
	src:url("8225249b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "ELSBSO+Frutiger-Black", "Times New Roman";
	color: #FFFFFF;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: -0.0001em;
}

.ie .stl_09 {
	letter-spacing: -0.001px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "ELSBSO+Frutiger-Black", "Times New Roman";
	color: #FFFFFF;
}
.stl_11 {
	font-size: 0.583333em;
	font-family: "ELSBSO+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
.stl_12 {
	font-size: 0.4665em;
	font-family: "ELSBSO+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"SKJTDA+Frutiger-Cn";
	src:url("f1699457-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 2em;
	font-family: "SKJTDA+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_14 {
	line-height: 1.179em;
}
.stl_15 {
	letter-spacing: 0em;
}

.ie .stl_15 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"NBFPCU+DIN-Black";
	src:url("f8ddcec7-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 1em;
	font-family: "NBFPCU+DIN-Black";
	color: #FFFFFF;
}
.stl_17 {
	line-height: 1.231em;
}
@font-face {
	font-family:"TBTQJE+DIN-Bold";
	src:url("4472d57b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_18 {
	font-size: 0.666667em;
	font-family: "TBTQJE+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_19 {
	line-height: 1.221em;
}
@font-face {
	font-family:"NWGSJJ+Frutiger-Light";
	src:url("604020fc-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_20 {
	font-size: 0.666667em;
	font-family: "NWGSJJ+Frutiger-Light";
	color: #221E1F;
}
.stl_21 {
	line-height: 1.161em;
}
.stl_22 {
	letter-spacing: -0.0011em;
}

.ie .stl_22 {
	letter-spacing: -0.012px;
}
.stl_23 {
	letter-spacing: -0.0005em;
}

.ie .stl_23 {
	letter-spacing: -0.0056px;
}
.stl_24 {
	letter-spacing: -0.0006em;
}

.ie .stl_24 {
	letter-spacing: -0.0069px;
}
.stl_25 {
	font-size: 0.75em;
	font-family: "NBFPCU+DIN-Black";
	color: #221E1F;
}
.stl_26 {
	font-size: 0.683333em;
	font-family: "NWGSJJ+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"MJCJVQ+Frutiger-LightItalic";
	src:url("d1c6d6a2-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_27 {
	font-size: 0.683333em;
	font-family: "MJCJVQ+Frutiger-LightItalic";
	color: #221E1F;
}
.stl_28 {
	line-height: 1.167em;
}
@font-face {
	font-family:"BVSDOR+MathematicalPi-One";
	src:url("226b9262-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_29 {
	font-size: 0.683333em;
	font-family: "BVSDOR+MathematicalPi-One", "Times New Roman";
	color: #221E1F;
}
.stl_30 {
	line-height: 0.989em;
}
@font-face {
	font-family:"GNKSBG+Frutiger-Bold";
	src:url("f9d4e7f1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_31 {
	font-size: 0.683333em;
	font-family: "GNKSBG+Frutiger-Bold";
	color: #F7931D;
}
.stl_32 {
	line-height: 1.185em;
}
@font-face {
	font-family:"SJJGFB+Symbol";
	src:url("b97129f1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_33 {
	font-size: 0.683333em;
	font-family: "SJJGFB+Symbol", "Times New Roman";
	color: #F7931D;
}
.stl_34 {
	line-height: 1.303em;
}
@font-face {
	font-family:"SHGGGS+Frutiger-Roman";
	src:url("87212a62-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_35 {
	font-size: 0.683333em;
	font-family: "SHGGGS+Frutiger-Roman";
	color: #221E1F;
}
.stl_36 {
	font-size: 0.75em;
	font-family: "SKJTDA+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"QOFSBL+Times-Roman";
	src:url("541ae416-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_37 {
	font-size: 1.166667em;
	font-family: "QOFSBL+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_38 {
	line-height: 1.107422em;
}
.stl_39 {
	font-size: 1.166667em;
	font-family: "SKJTDA+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_40 {
	font-size: 0.833333em;
	font-family: "NBFPCU+DIN-Black";
	color: #F7931D;
}
.stl_41 {
	letter-spacing: -0.0043em;
}

.ie .stl_41 {
	letter-spacing: -0.052px;
}
@font-face {
	font-family:"CSKMUA+ZapfDingbats";
	src:url("ea09d963-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_42 {
	font-size: 0.833333em;
	font-family: "CSKMUA+ZapfDingbats";
	color: #F7931D;
}
.stl_43 {
	line-height: 0.963em;
}
.stl_44 {
	font-size: 0.75em;
	font-family: "GNKSBG+Frutiger-Bold";
	color: #221E1F;
}
.stl_45 {
	letter-spacing: -0.0012em;
}

.ie .stl_45 {
	letter-spacing: -0.0133px;
}
.stl_46 {
	font-size: 0.583333em;
	font-family: "SHGGGS+Frutiger-Roman";
	color: #221E1F;
}
.stl_47 {
	letter-spacing: -0.0037em;
}

.ie .stl_47 {
	letter-spacing: -0.0345px;
}
.stl_48 {
	font-size: 0.583333em;
	font-family: "SJJGFB+Symbol", "Times New Roman";
	color: #221E1F;
}
.stl_49 {
	letter-spacing: -0.0034em;
}

.ie .stl_49 {
	letter-spacing: -0.0314px;
}
.stl_50 {
	font-size: 0.625333em;
	font-family: "SHGGGS+Frutiger-Roman";
	color: #0168B4;
}
.stl_51 {
	letter-spacing: -0.002em;
}

.ie .stl_51 {
	letter-spacing: -0.0197px;
}
@font-face {
	font-family:"LJSMIW+??";
	src:url("bfbcfcce-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_52 {
	font-size: 1em;
	font-family: "LJSMIW+??", "Times New Roman";
	color: #60BF00;
}
.stl_53 {
	letter-spacing: 0.0147em;
}

.ie .stl_53 {
	letter-spacing: 0.235px;
}
.stl_54 {
	letter-spacing: 0.0126em;
}

.ie .stl_54 {
	letter-spacing: 0.235px;
}
.stl_55 {
	font-size: 0.546583em;
	font-family: "NWGSJJ+Frutiger-Light";
	color: #221E1F;
}
.stl_56 {
	letter-spacing: -0.0016em;
}

.ie .stl_56 {
	letter-spacing: -0.0192px;
}
.stl_57 {
	font-size: 0.625333em;
	font-family: "SHGGGS+Frutiger-Roman";
	color: #EF1D7B;
}
