sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"LQVTIB+Frutiger-Black";
	src:url("5bcf02d8-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "LQVTIB+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: 0em;
}

.ie .stl_09 {
	letter-spacing: 0.0004px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "LQVTIB+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"ENTLCT+Frutiger-Cn";
	src:url("dfd06231-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 2em;
	font-family: "ENTLCT+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_12 {
	line-height: 1.179em;
}
@font-face {
	font-family:"OFQCCC+DIN-Black";
	src:url("9f31ebb1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 1em;
	font-family: "OFQCCC+DIN-Black";
	color: #FFFFFF;
}
.stl_14 {
	line-height: 1.231em;
}
@font-face {
	font-family:"CCWVPQ+DIN-Bold";
	src:url("61012042-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 0.666667em;
	font-family: "CCWVPQ+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_16 {
	line-height: 1.221em;
}
@font-face {
	font-family:"NCQTSP+Frutiger-Light";
	src:url("36968580-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 0.666667em;
	font-family: "NCQTSP+Frutiger-Light";
	color: #221E1F;
}
.stl_18 {
	line-height: 1.161em;
}
.stl_19 {
	letter-spacing: -0.0007em;
}

.ie .stl_19 {
	letter-spacing: -0.0074px;
}
.stl_20 {
	letter-spacing: -0.002em;
}

.ie .stl_20 {
	letter-spacing: -0.0213px;
}
.stl_21 {
	font-size: 0.75em;
	font-family: "OFQCCC+DIN-Black";
	color: #221E1F;
}
.stl_22 {
	font-size: 0.683333em;
	font-family: "NCQTSP+Frutiger-Light";
	color: #221E1F;
}
.stl_23 {
	letter-spacing: -0.0022em;
}

.ie .stl_23 {
	letter-spacing: -0.0267px;
}
@font-face {
	font-family:"NJKWRE+ZapfDingbats";
	src:url("1af751c4-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_24 {
	font-size: 0.833333em;
	font-family: "NJKWRE+ZapfDingbats";
	color: #F7931D;
}
.stl_25 {
	line-height: 0.963em;
}
@font-face {
	font-family:"SAKHQF+Frutiger-Bold";
	src:url("5a2dfeef-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_26 {
	font-size: 0.75em;
	font-family: "SAKHQF+Frutiger-Bold";
	color: #221E1F;
}
.stl_27 {
	line-height: 1.185em;
}
.stl_28 {
	font-size: 0.75em;
	font-family: "ENTLCT+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"KNFVEK+Times-Roman";
	src:url("22fd5a92-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_29 {
	font-size: 1.166667em;
	font-family: "KNFVEK+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_30 {
	line-height: 1.107422em;
}
.stl_31 {
	letter-spacing: 0.0001em;
}

.ie .stl_31 {
	letter-spacing: 0.0005px;
}
.stl_32 {
	font-size: 1.166667em;
	font-family: "ENTLCT+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_33 {
	font-size: 0.833333em;
	font-family: "OFQCCC+DIN-Black";
	color: #F7931D;
}
.stl_34 {
	font-size: 0.546583em;
	font-family: "NCQTSP+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"MBFVGV+Frutiger-LightItalic";
	src:url("102ce85b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_35 {
	font-size: 0.683333em;
	font-family: "MBFVGV+Frutiger-LightItalic", "Times New Roman";
	color: #221E1F;
}
.stl_36 {
	line-height: 1.167em;
}
.stl_37 {
	letter-spacing: -0.0016em;
}

.ie .stl_37 {
	letter-spacing: -0.0192px;
}
@font-face {
	font-family:"CAGDLW+??";
	src:url("1f1b0cac-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_38 {
	font-size: 1em;
	font-family: "CAGDLW+??", "Times New Roman";
	color: #60BF00;
}
.stl_39 {
	letter-spacing: 0.0147em;
}

.ie .stl_39 {
	letter-spacing: 0.235px;
}
.stl_40 {
	letter-spacing: 0.0126em;
}

.ie .stl_40 {
	letter-spacing: 0.235px;
}
.stl_41 {
	font-size: 0.683333em;
	font-family: "SAKHQF+Frutiger-Bold";
	color: #F7931D;
}
.stl_42 {
	font-size: 0.583333em;
	font-family: "SAKHQF+Frutiger-Bold";
	color: #221E1F;
}
.stl_43 {
	letter-spacing: -0.0001em;
}

.ie .stl_43 {
	letter-spacing: -0.0011px;
}
.stl_44 {
	font-size: 0.4665em;
	font-family: "SAKHQF+Frutiger-Bold";
	color: #221E1F;
}
@font-face {
	font-family:"BJAKFR+Frutiger-Roman";
	src:url("267e516c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_45 {
	font-size: 0.583333em;
	font-family: "BJAKFR+Frutiger-Roman";
	color: #221E1F;
}
.stl_46 {
	font-size: 0.625333em;
	font-family: "BJAKFR+Frutiger-Roman";
	color: #0168B4;
}
.stl_47 {
	letter-spacing: -0.0009em;
}

.ie .stl_47 {
	letter-spacing: -0.0086px;
}
.stl_48 {
	font-size: 0.4665em;
	font-family: "BJAKFR+Frutiger-Roman";
	color: #221E1F;
}
.stl_49 {
	letter-spacing: -0.0012em;
}

.ie .stl_49 {
	letter-spacing: -0.0086px;
}
.stl_50 {
	font-size: 0.625333em;
	font-family: "NCQTSP+Frutiger-Light";
	color: #221E1F;
}
.stl_51 {
	font-size: 0.625333em;
	font-family: "SAKHQF+Frutiger-Bold";
	color: #F7931D;
}
.stl_52 {
	font-size: 0.625333em;
	font-family: "SAKHQF+Frutiger-Bold";
	color: #C41766;
}
.stl_53 {
	letter-spacing: -0.001em;
}

.ie .stl_53 {
	letter-spacing: -0.01px;
}
.stl_54 {
	letter-spacing: -0.0021em;
}

.ie .stl_54 {
	letter-spacing: -0.0211px;
}
