sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"BJRTDR+Frutiger-Black";
	src:url("0900b8d7-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "BJRTDR+Frutiger-Black";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: 0em;
}

.ie .stl_09 {
	letter-spacing: 0.0003px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "BJRTDR+Frutiger-Black";
	color: #221E1F;
}
@font-face {
	font-family:"PBRAQT+Frutiger-Cn";
	src:url("aed537fc-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 2em;
	font-family: "PBRAQT+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_12 {
	line-height: 1.179em;
}
@font-face {
	font-family:"MNAOFE+DIN-Black";
	src:url("bd2fa19f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 1em;
	font-family: "MNAOFE+DIN-Black";
	color: #FFFFFF;
}
.stl_14 {
	line-height: 1.231em;
}
@font-face {
	font-family:"LKBHPL+DIN-Bold";
	src:url("a664d2d3-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 0.666667em;
	font-family: "LKBHPL+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_16 {
	line-height: 1.221em;
}
@font-face {
	font-family:"GSQPKF+Frutiger-Light";
	src:url("560fbf81-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 0.666667em;
	font-family: "GSQPKF+Frutiger-Light";
	color: #221E1F;
}
.stl_18 {
	line-height: 1.161em;
}
.stl_19 {
	letter-spacing: -0.001em;
}

.ie .stl_19 {
	letter-spacing: -0.0111px;
}
.stl_20 {
	letter-spacing: -0.0003em;
}

.ie .stl_20 {
	letter-spacing: -0.0034px;
}
.stl_21 {
	letter-spacing: -0.0036em;
}

.ie .stl_21 {
	letter-spacing: -0.0384px;
}
.stl_22 {
	letter-spacing: -0.0008em;
}

.ie .stl_22 {
	letter-spacing: -0.0087px;
}
.stl_23 {
	letter-spacing: -0.0007em;
}

.ie .stl_23 {
	letter-spacing: -0.0075px;
}
.stl_24 {
	letter-spacing: -0.0009em;
}

.ie .stl_24 {
	letter-spacing: -0.0101px;
}
.stl_25 {
	letter-spacing: -0.0017em;
}

.ie .stl_25 {
	letter-spacing: -0.0176px;
}
.stl_26 {
	letter-spacing: -0.0019em;
}

.ie .stl_26 {
	letter-spacing: -0.02px;
}
.stl_27 {
	letter-spacing: -0.0004em;
}

.ie .stl_27 {
	letter-spacing: -0.0041px;
}
.stl_28 {
	letter-spacing: -0.0005em;
}

.ie .stl_28 {
	letter-spacing: -0.0053px;
}
.stl_29 {
	font-size: 0.4865em;
	font-family: "GSQPKF+Frutiger-Light";
	color: #221E1F;
}
.stl_30 {
	font-size: 0.583333em;
	font-family: "GSQPKF+Frutiger-Light";
	color: #221E1F;
}
.stl_31 {
	letter-spacing: -0.0006em;
}

.ie .stl_31 {
	letter-spacing: -0.0056px;
}
.stl_32 {
	font-size: 0.75em;
	font-family: "MNAOFE+DIN-Black";
	color: #221E1F;
}
.stl_33 {
	font-size: 0.683333em;
	font-family: "GSQPKF+Frutiger-Light";
	color: #221E1F;
}
.stl_34 {
	letter-spacing: -0.0022em;
}

.ie .stl_34 {
	letter-spacing: -0.0267px;
}
.stl_35 {
	font-size: 0.75em;
	font-family: "PBRAQT+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"UBPGMG+??";
	src:url("46e901ea-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_36 {
	font-size: 1em;
	font-family: "UBPGMG+??", "Times New Roman";
	color: #60BF00;
}
.stl_37 {
	line-height: 1.107422em;
}
.stl_38 {
	letter-spacing: 0.0147em;
}

.ie .stl_38 {
	letter-spacing: 0.235px;
}
@font-face {
	font-family:"RWRCNQ+Times-Roman";
	src:url("c83415f1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_39 {
	font-size: 1.166667em;
	font-family: "RWRCNQ+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_40 {
	letter-spacing: 0.0126em;
}

.ie .stl_40 {
	letter-spacing: 0.235px;
}
.stl_41 {
	font-size: 1.166667em;
	font-family: "PBRAQT+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_42 {
	font-size: 0.833333em;
	font-family: "MNAOFE+DIN-Black";
	color: #F7931D;
}
@font-face {
	font-family:"KESGMC+ZapfDingbats";
	src:url("91fb1595-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_43 {
	font-size: 0.833333em;
	font-family: "KESGMC+ZapfDingbats";
	color: #F7931D;
}
.stl_44 {
	line-height: 0.963em;
}
@font-face {
	font-family:"RMHCIS+Frutiger-Bold";
	src:url("f9455189-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_45 {
	font-size: 0.75em;
	font-family: "RMHCIS+Frutiger-Bold";
	color: #221E1F;
}
.stl_46 {
	line-height: 1.185em;
}
.stl_47 {
	font-size: 0.683333em;
	font-family: "RMHCIS+Frutiger-Bold";
	color: #F7931D;
}
.stl_48 {
	font-size: 0.683333em;
	font-family: "RMHCIS+Frutiger-Bold";
	color: #221E1F;
}
@font-face {
	font-family:"AFHRAW+Frutiger-Roman";
	src:url("8e7dc26d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_49 {
	font-size: 0.683333em;
	font-family: "AFHRAW+Frutiger-Roman";
	color: #221E1F;
}
@font-face {
	font-family:"SRSCIF+Frutiger-LightItalic";
	src:url("0c9039dd-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_50 {
	font-size: 0.683333em;
	font-family: "SRSCIF+Frutiger-LightItalic";
	color: #221E1F;
}
.stl_51 {
	line-height: 1.167em;
}
.stl_52 {
	letter-spacing: -0.0015em;
}

.ie .stl_52 {
	letter-spacing: -0.0164px;
}
.stl_53 {
	font-size: 0.625333em;
	font-family: "AFHRAW+Frutiger-Roman";
	color: #0168B4;
}
@font-face {
	font-family:"DRTRDO+Frutiger-Italic";
	src:url("41138ab6-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_54 {
	font-size: 0.625333em;
	font-family: "DRTRDO+Frutiger-Italic";
	color: #0168B4;
}
.stl_55 {
	line-height: 1.18em;
}
.stl_56 {
	font-size: 0.625333em;
	font-family: "AFHRAW+Frutiger-Roman";
	color: #EF1D7B;
}
.stl_57 {
	letter-spacing: -0.0012em;
}

.ie .stl_57 {
	letter-spacing: -0.0133px;
}
.stl_58 {
	font-size: 0.546583em;
	font-family: "GSQPKF+Frutiger-Light";
	color: #221E1F;
}
.stl_59 {
	letter-spacing: -0.0033em;
}

.ie .stl_59 {
	letter-spacing: -0.0327px;
}
.stl_60 {
	letter-spacing: -0.0028em;
}

.ie .stl_60 {
	letter-spacing: -0.0303px;
}
.stl_61 {
	letter-spacing: 0.0001em;
}

.ie .stl_61 {
	letter-spacing: 0.0009px;
}
.stl_62 {
	letter-spacing: -0.0027em;
}

.ie .stl_62 {
	letter-spacing: -0.0298px;
}
.stl_63 {
	font-size: 0.60025em;
	font-family: "GSQPKF+Frutiger-Light";
	color: #221E1F;
}
.stl_64 {
	letter-spacing: -0.0013em;
}

.ie .stl_64 {
	letter-spacing: -0.0127px;
}
.stl_65 {
	letter-spacing: -0.0018em;
}

.ie .stl_65 {
	letter-spacing: -0.0172px;
}
.stl_66 {
	letter-spacing: -0.0021em;
}

.ie .stl_66 {
	letter-spacing: -0.0199px;
}
.stl_67 {
	letter-spacing: -0.0016em;
}

.ie .stl_67 {
	letter-spacing: -0.0155px;
}
.stl_68 {
	letter-spacing: -0.0058em;
}

.ie .stl_68 {
	letter-spacing: -0.0559px;
}
.stl_69 {
	letter-spacing: -0.0037em;
}

.ie .stl_69 {
	letter-spacing: -0.0359px;
}
.stl_70 {
	letter-spacing: -0.0025em;
}

.ie .stl_70 {
	letter-spacing: -0.0237px;
}
.stl_71 {
	letter-spacing: -0.0086em;
}

.ie .stl_71 {
	letter-spacing: -0.0827px;
}
.stl_72 {
	letter-spacing: -0.0042em;
}

.ie .stl_72 {
	letter-spacing: -0.0403px;
}
.stl_73 {
	letter-spacing: -0.0031em;
}

.ie .stl_73 {
	letter-spacing: -0.03px;
}
.stl_74 {
	letter-spacing: -0.0029em;
}

.ie .stl_74 {
	letter-spacing: -0.0279px;
}
.stl_75 {
	letter-spacing: -0.0011em;
}

.ie .stl_75 {
	letter-spacing: -0.011px;
}
.stl_76 {
	letter-spacing: -0.0044em;
}

.ie .stl_76 {
	letter-spacing: -0.0423px;
}
.stl_77 {
	letter-spacing: -0.0023em;
}

.ie .stl_77 {
	letter-spacing: -0.0222px;
}
.stl_78 {
	letter-spacing: -0.0087em;
}

.ie .stl_78 {
	letter-spacing: -0.0836px;
}
.stl_79 {
	letter-spacing: -0.0093em;
}

.ie .stl_79 {
	letter-spacing: -0.0896px;
}
.stl_80 {
	font-size: 0.583333em;
	font-family: "RMHCIS+Frutiger-Bold";
	color: #221E1F;
}
.stl_81 {
	font-size: 0.4665em;
	font-family: "RMHCIS+Frutiger-Bold";
	color: #221E1F;
}
.stl_82 {
	font-size: 0.583333em;
	font-family: "AFHRAW+Frutiger-Roman";
	color: #221E1F;
}
.stl_83 {
	font-size: 0.625333em;
	font-family: "DRTRDO+Frutiger-Italic";
	color: #EF1D7B;
}
.stl_84 {
	letter-spacing: -0.002em;
}

.ie .stl_84 {
	letter-spacing: -0.02px;
}
@font-face {
	font-family:"NWDNVM+Frutiger-BoldItalic";
	src:url("87a7cda7-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_85 {
	font-size: 0.625333em;
	font-family: "NWDNVM+Frutiger-BoldItalic";
	color: #221E1F;
}
.stl_86 {
	letter-spacing: -0.0032em;
}

.ie .stl_86 {
	letter-spacing: -0.0322px;
}
.stl_87 {
	letter-spacing: -0.0045em;
}

.ie .stl_87 {
	letter-spacing: -0.0437px;
}
.stl_88 {
	letter-spacing: -0.0038em;
}

.ie .stl_88 {
	letter-spacing: -0.0362px;
}
.stl_89 {
	letter-spacing: -0.004em;
}

.ie .stl_89 {
	letter-spacing: -0.0382px;
}
.stl_90 {
	font-size: 0.60025em;
	font-family: "SRSCIF+Frutiger-LightItalic";
	color: #221E1F;
}
.stl_91 {
	letter-spacing: -0.0001em;
}

.ie .stl_91 {
	letter-spacing: -0.001px;
}
.stl_92 {
	letter-spacing: -0.007em;
}

.ie .stl_92 {
	letter-spacing: -0.0672px;
}
.stl_93 {
	letter-spacing: -0.0039em;
}

.ie .stl_93 {
	letter-spacing: -0.0377px;
}
.stl_94 {
	letter-spacing: -0.0068em;
}

.ie .stl_94 {
	letter-spacing: -0.0649px;
}
