sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"PLQFEN+Frutiger-Black";
	src:url("b7d13d9c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "PLQFEN+Frutiger-Black";
	color: #FFFFFF;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: 0.0006em;
}

.ie .stl_09 {
	letter-spacing: 0.0056px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "PLQFEN+Frutiger-Black";
	color: #FFFFFF;
}
.stl_11 {
	letter-spacing: 0.0008em;
}

.ie .stl_11 {
	letter-spacing: 0.0056px;
}
.stl_12 {
	font-size: 0.583333em;
	font-family: "PLQFEN+Frutiger-Black";
	color: #221E1F;
}
.stl_13 {
	font-size: 0.4665em;
	font-family: "PLQFEN+Frutiger-Black";
	color: #221E1F;
}
@font-face {
	font-family:"MIOJDH+Frutiger-Cn";
	src:url("f281c9b2-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 2em;
	font-family: "MIOJDH+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_15 {
	line-height: 1.179em;
}
.stl_16 {
	letter-spacing: 0em;
}

.ie .stl_16 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"FRVMMB+DIN-Black";
	src:url("94d7fa29-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 1em;
	font-family: "FRVMMB+DIN-Black";
	color: #FFFFFF;
}
.stl_18 {
	line-height: 1.231em;
}
@font-face {
	font-family:"UMHVUH+DIN-Bold";
	src:url("52e85afc-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 0.666667em;
	font-family: "UMHVUH+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_20 {
	line-height: 1.221em;
}
@font-face {
	font-family:"ORFFUS+Frutiger-Light";
	src:url("d91c13a2-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_21 {
	font-size: 0.666667em;
	font-family: "ORFFUS+Frutiger-Light";
	color: #221E1F;
}
.stl_22 {
	line-height: 1.161em;
}
.stl_23 {
	font-size: 0.75em;
	font-family: "FRVMMB+DIN-Black";
	color: #221E1F;
}
.stl_24 {
	font-size: 0.683333em;
	font-family: "ORFFUS+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"UJVEOE+Frutiger-LightItalic";
	src:url("47fdfd68-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_25 {
	font-size: 0.683333em;
	font-family: "UJVEOE+Frutiger-LightItalic";
	color: #221E1F;
}
.stl_26 {
	line-height: 1.167em;
}
.stl_27 {
	letter-spacing: -0.0022em;
}

.ie .stl_27 {
	letter-spacing: -0.0267px;
}
.stl_28 {
	font-size: 0.75em;
	font-family: "MIOJDH+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"FTEGAN+Times-Roman";
	src:url("11ba6ef5-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_29 {
	font-size: 1.166667em;
	font-family: "FTEGAN+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_30 {
	line-height: 1.107422em;
}
.stl_31 {
	font-size: 1.166667em;
	font-family: "MIOJDH+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_32 {
	font-size: 0.833333em;
	font-family: "FRVMMB+DIN-Black";
	color: #F7931D;
}
@font-face {
	font-family:"MPOVLB+Frutiger-Roman";
	src:url("94e4e87a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_33 {
	font-size: 0.625333em;
	font-family: "MPOVLB+Frutiger-Roman";
	color: #EF1D7B;
}
.stl_34 {
	line-height: 1.185em;
}
@font-face {
	font-family:"AHWEAH+Frutiger-Italic";
	src:url("7e5b1a51-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_35 {
	font-size: 0.625333em;
	font-family: "AHWEAH+Frutiger-Italic", "Times New Roman";
	color: #EF1D7B;
}
.stl_36 {
	line-height: 1.18em;
}
.stl_37 {
	letter-spacing: -0.0016em;
}

.ie .stl_37 {
	letter-spacing: -0.0192px;
}
@font-face {
	font-family:"GFOTWV+Frutiger-Bold";
	src:url("5598493c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_38 {
	font-size: 0.683333em;
	font-family: "GFOTWV+Frutiger-Bold";
	color: #F7931D;
}
.stl_39 {
	letter-spacing: -0.0009em;
}

.ie .stl_39 {
	letter-spacing: -0.0093px;
}
.stl_40 {
	letter-spacing: -0.0004em;
}

.ie .stl_40 {
	letter-spacing: -0.004px;
}
@font-face {
	font-family:"GILUEN+??";
	src:url("56cfbb10-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_41 {
	font-size: 1em;
	font-family: "GILUEN+??", "Times New Roman";
	color: #60BF00;
}
.stl_42 {
	letter-spacing: 0.0147em;
}

.ie .stl_42 {
	letter-spacing: 0.235px;
}
.stl_43 {
	letter-spacing: 0.0126em;
}

.ie .stl_43 {
	letter-spacing: 0.235px;
}
@font-face {
	font-family:"NVROVB+Helvetica";
	src:url("9add78c0-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_44 {
	font-size: 0.833333em;
	font-family: "NVROVB+Helvetica", "Times New Roman";
	color: #000000;
}
.stl_45 {
	line-height: 1.117188em;
}
.stl_46 {
	letter-spacing: 0.0007em;
}

.ie .stl_46 {
	letter-spacing: 0.0055px;
}
.stl_47 {
	font-size: 0.625333em;
	font-family: "MPOVLB+Frutiger-Roman";
	color: #0168B4;
}
.stl_48 {
	letter-spacing: -0.0002em;
}

.ie .stl_48 {
	letter-spacing: -0.002px;
}
.stl_49 {
	font-size: 0.583333em;
	font-family: "GFOTWV+Frutiger-Bold";
	color: #221E1F;
}
.stl_50 {
	font-size: 0.4665em;
	font-family: "GFOTWV+Frutiger-Bold";
	color: #221E1F;
}
.stl_51 {
	font-size: 0.583333em;
	font-family: "MPOVLB+Frutiger-Roman";
	color: #221E1F;
}
.stl_52 {
	font-size: 0.625333em;
	font-family: "ORFFUS+Frutiger-Light";
	color: #221E1F;
}
.stl_53 {
	font-size: 0.625333em;
	font-family: "GFOTWV+Frutiger-Bold";
	color: #F7931D;
}
.stl_54 {
	letter-spacing: 0.0001em;
}

.ie .stl_54 {
	letter-spacing: 0.001px;
}
