sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"AJQRJM+Frutiger-Black";
	src:url("233c7f55-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "AJQRJM+Frutiger-Black";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: 0em;
}

.ie .stl_09 {
	letter-spacing: 0.0002px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "AJQRJM+Frutiger-Black";
	color: #221E1F;
}
@font-face {
	font-family:"LBMEAE+Frutiger-Cn";
	src:url("b3be2f59-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 2em;
	font-family: "LBMEAE+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_12 {
	line-height: 1.179em;
}
@font-face {
	font-family:"BFAHIJ+DIN-Black";
	src:url("e98b3baf-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 1em;
	font-family: "BFAHIJ+DIN-Black";
	color: #FFFFFF;
}
.stl_14 {
	line-height: 1.231em;
}
@font-face {
	font-family:"ELFMPC+DIN-Bold";
	src:url("35699ecf-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 0.666667em;
	font-family: "ELFMPC+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_16 {
	line-height: 1.221em;
}
@font-face {
	font-family:"EMDBNS+Frutiger-Light";
	src:url("77bd23f0-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 0.666667em;
	font-family: "EMDBNS+Frutiger-Light";
	color: #221E1F;
}
.stl_18 {
	line-height: 1.161em;
}
.stl_19 {
	letter-spacing: 0.0004em;
}

.ie .stl_19 {
	letter-spacing: 0.0043px;
}
.stl_20 {
	font-size: 0.683333em;
	font-family: "EMDBNS+Frutiger-Light";
	color: #221E1F;
}
.stl_21 {
	font-size: 0.75em;
	font-family: "BFAHIJ+DIN-Black";
	color: #221E1F;
}
@font-face {
	font-family:"ADSNIN+Frutiger-Roman";
	src:url("53a45178-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_22 {
	font-size: 0.625333em;
	font-family: "ADSNIN+Frutiger-Roman";
	color: #EF1D7B;
}
.stl_23 {
	line-height: 1.185em;
}
.stl_24 {
	letter-spacing: -0.0043em;
}

.ie .stl_24 {
	letter-spacing: -0.052px;
}
@font-face {
	font-family:"ADNGTS+ZapfDingbats";
	src:url("705643b5-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_25 {
	font-size: 0.833333em;
	font-family: "ADNGTS+ZapfDingbats";
	color: #F7931D;
}
.stl_26 {
	line-height: 0.963em;
}
@font-face {
	font-family:"RPNFOW+Frutiger-Bold";
	src:url("1c2c17e6-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_27 {
	font-size: 0.75em;
	font-family: "RPNFOW+Frutiger-Bold", "Times New Roman";
	color: #221E1F;
}
.stl_28 {
	letter-spacing: -0.0016em;
}

.ie .stl_28 {
	letter-spacing: -0.0192px;
}
@font-face {
	font-family:"PGUVMJ+Frutiger-LightItalic";
	src:url("6b919d9a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_29 {
	font-size: 0.683333em;
	font-family: "PGUVMJ+Frutiger-LightItalic";
	color: #221E1F;
}
.stl_30 {
	line-height: 1.167em;
}
.stl_31 {
	font-size: 0.75em;
	font-family: "LBMEAE+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"AUSBEJ+??";
	src:url("8265f6dd-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_32 {
	font-size: 1em;
	font-family: "AUSBEJ+??", "Times New Roman";
	color: #60BF00;
}
.stl_33 {
	line-height: 1.107422em;
}
.stl_34 {
	letter-spacing: 0.0147em;
}

.ie .stl_34 {
	letter-spacing: 0.235px;
}
@font-face {
	font-family:"NHQJJF+Times-Roman";
	src:url("afe2ebeb-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_35 {
	font-size: 1.166667em;
	font-family: "NHQJJF+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_36 {
	letter-spacing: 0.0126em;
}

.ie .stl_36 {
	letter-spacing: 0.235px;
}
