sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"JUJAIO+Frutiger-Black";
	src:url("2b1059d2-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "JUJAIO+Frutiger-Black";
	color: #FFFFFF;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: 0.0007em;
}

.ie .stl_09 {
	letter-spacing: 0.0063px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "JUJAIO+Frutiger-Black";
	color: #FFFFFF;
}
.stl_11 {
	letter-spacing: 0.0008em;
}

.ie .stl_11 {
	letter-spacing: 0.0063px;
}
.stl_12 {
	font-size: 0.583333em;
	font-family: "JUJAIO+Frutiger-Black";
	color: #221E1F;
}
.stl_13 {
	font-size: 0.4665em;
	font-family: "JUJAIO+Frutiger-Black";
	color: #221E1F;
}
@font-face {
	font-family:"JIPBRW+Frutiger-Cn";
	src:url("8325df59-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 2em;
	font-family: "JIPBRW+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_15 {
	line-height: 1.179em;
}
.stl_16 {
	letter-spacing: 0em;
}

.ie .stl_16 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"RGQHSP+DIN-Black";
	src:url("5cee68a2-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 1em;
	font-family: "RGQHSP+DIN-Black";
	color: #FFFFFF;
}
.stl_18 {
	line-height: 1.231em;
}
@font-face {
	font-family:"UUGENM+DIN-Bold";
	src:url("0afc5cf6-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 0.666667em;
	font-family: "UUGENM+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_20 {
	line-height: 1.221em;
}
@font-face {
	font-family:"GCVUPM+Frutiger-Light";
	src:url("e36a8325-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_21 {
	font-size: 0.666667em;
	font-family: "GCVUPM+Frutiger-Light";
	color: #221E1F;
}
.stl_22 {
	line-height: 1.161em;
}
.stl_23 {
	letter-spacing: -0.0007em;
}

.ie .stl_23 {
	letter-spacing: -0.008px;
}
.stl_24 {
	letter-spacing: -0.0003em;
}

.ie .stl_24 {
	letter-spacing: -0.0034px;
}
@font-face {
	font-family:"ILVFKA+Frutiger-Roman";
	src:url("d82cb038-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_25 {
	font-size: 0.583333em;
	font-family: "ILVFKA+Frutiger-Roman";
	color: #221E1F;
}
.stl_26 {
	line-height: 1.185em;
}
.stl_27 {
	font-size: 0.75em;
	font-family: "RGQHSP+DIN-Black";
	color: #221E1F;
}
.stl_28 {
	font-size: 0.683333em;
	font-family: "GCVUPM+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"WRUNBR+Frutiger-LightItalic";
	src:url("9acce73a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_29 {
	font-size: 0.683333em;
	font-family: "WRUNBR+Frutiger-LightItalic";
	color: #221E1F;
}
.stl_30 {
	line-height: 1.167em;
}
.stl_31 {
	font-size: 0.625333em;
	font-family: "ILVFKA+Frutiger-Roman";
	color: #0168B4;
}
@font-face {
	font-family:"OKIDBI+Frutiger-Bold";
	src:url("328a1bb5-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_32 {
	font-size: 0.683333em;
	font-family: "OKIDBI+Frutiger-Bold";
	color: #F7931D;
}
.stl_33 {
	letter-spacing: -0.0012em;
}

.ie .stl_33 {
	letter-spacing: -0.0131px;
}
.stl_34 {
	font-size: 0.75em;
	font-family: "JIPBRW+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"DCMBAC+Times-Roman";
	src:url("515870c9-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_35 {
	font-size: 1.166667em;
	font-family: "DCMBAC+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_36 {
	line-height: 1.107422em;
}
.stl_37 {
	font-size: 1.166667em;
	font-family: "JIPBRW+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_38 {
	font-size: 0.833333em;
	font-family: "RGQHSP+DIN-Black";
	color: #F7931D;
}
.stl_39 {
	font-size: 0.625333em;
	font-family: "ILVFKA+Frutiger-Roman";
	color: #EF1D7B;
}
@font-face {
	font-family:"CLQLRV+??";
	src:url("354ef96c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_40 {
	font-size: 1em;
	font-family: "CLQLRV+??", "Times New Roman";
	color: #60BF00;
}
.stl_41 {
	letter-spacing: 0.0147em;
}

.ie .stl_41 {
	letter-spacing: 0.235px;
}
.stl_42 {
	letter-spacing: 0.0126em;
}

.ie .stl_42 {
	letter-spacing: 0.235px;
}
@font-face {
	font-family:"FJOPGO+ZapfDingbats";
	src:url("ea9af3e8-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_43 {
	font-size: 0.833333em;
	font-family: "FJOPGO+ZapfDingbats";
	color: #F7931D;
}
.stl_44 {
	line-height: 0.963em;
}
.stl_45 {
	font-size: 0.75em;
	font-family: "OKIDBI+Frutiger-Bold";
	color: #221E1F;
}
.stl_46 {
	letter-spacing: -0.0005em;
}

.ie .stl_46 {
	letter-spacing: -0.0045px;
}
