sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"HGOMDF+Frutiger-Black";
	src:url("9f92d6d1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "HGOMDF+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: -0.0001em;
}

.ie .stl_09 {
	letter-spacing: -0.0008px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "HGOMDF+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"FGPBLW+Frutiger-Cn";
	src:url("6b5fc3ae-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 2em;
	font-family: "FGPBLW+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_12 {
	line-height: 1.179em;
}
.stl_13 {
	letter-spacing: 0em;
}

.ie .stl_13 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"KDAPWI+DIN-Black";
	src:url("16121ade-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "KDAPWI+DIN-Black";
	color: #FFFFFF;
}
.stl_15 {
	line-height: 1.231em;
}
@font-face {
	font-family:"QSCHNN+DIN-Bold";
	src:url("1243d367-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 0.666667em;
	font-family: "QSCHNN+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_17 {
	line-height: 1.221em;
}
@font-face {
	font-family:"AQPFOG+Frutiger-Light";
	src:url("d438bb38-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_18 {
	font-size: 0.666667em;
	font-family: "AQPFOG+Frutiger-Light";
	color: #221E1F;
}
.stl_19 {
	line-height: 1.161em;
}
.stl_20 {
	letter-spacing: -0.0071em;
}

.ie .stl_20 {
	letter-spacing: -0.0755px;
}
@font-face {
	font-family:"HQFGVB+TimesNewRomanPSMT";
	src:url("73891d0a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_21 {
	font-size: 0.666667em;
	font-family: "HQFGVB+TimesNewRomanPSMT", "Times New Roman";
	color: #221E1F;
}
.stl_22 {
	line-height: 1.128em;
}
.stl_23 {
	letter-spacing: -0.0021em;
}

.ie .stl_23 {
	letter-spacing: -0.0227px;
}
.stl_24 {
	font-size: 0.75em;
	font-family: "KDAPWI+DIN-Black";
	color: #221E1F;
}
@font-face {
	font-family:"QMVBDJ+Frutiger-Roman";
	src:url("c87cab2e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_25 {
	font-size: 0.625333em;
	font-family: "QMVBDJ+Frutiger-Roman";
	color: #0168B4;
}
.stl_26 {
	line-height: 1.185em;
}
.stl_27 {
	font-size: 0.683333em;
	font-family: "AQPFOG+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"ROOMVD+Frutiger-LightItalic";
	src:url("99567554-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_28 {
	font-size: 0.683333em;
	font-family: "ROOMVD+Frutiger-LightItalic";
	color: #221E1F;
}
.stl_29 {
	line-height: 1.167em;
}
.stl_30 {
	font-size: 0.625333em;
	font-family: "QMVBDJ+Frutiger-Roman";
	color: #EF1D7B;
}
@font-face {
	font-family:"RTHTIW+Frutiger-Bold";
	src:url("4afdca84-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_31 {
	font-size: 0.583333em;
	font-family: "RTHTIW+Frutiger-Bold";
	color: #221E1F;
}
.stl_32 {
	letter-spacing: 0.0001em;
}

.ie .stl_32 {
	letter-spacing: 0.0008px;
}
.stl_33 {
	font-size: 0.4665em;
	font-family: "RTHTIW+Frutiger-Bold";
	color: #221E1F;
}
.stl_34 {
	font-size: 0.583333em;
	font-family: "QMVBDJ+Frutiger-Roman";
	color: #221E1F;
}
.stl_35 {
	font-size: 0.75em;
	font-family: "FGPBLW+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"CLHMQK+??";
	src:url("61fdaa2c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_36 {
	font-size: 1em;
	font-family: "CLHMQK+??", "Times New Roman";
	color: #60BF00;
}
.stl_37 {
	line-height: 1.107422em;
}
.stl_38 {
	letter-spacing: 0.0147em;
}

.ie .stl_38 {
	letter-spacing: 0.235px;
}
@font-face {
	font-family:"TFHNKO+Times-Roman";
	src:url("4a15220a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_39 {
	font-size: 1.166667em;
	font-family: "TFHNKO+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_40 {
	letter-spacing: 0.0126em;
}

.ie .stl_40 {
	letter-spacing: 0.235px;
}
.stl_41 {
	font-size: 1.166667em;
	font-family: "FGPBLW+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_42 {
	font-size: 0.833333em;
	font-family: "KDAPWI+DIN-Black";
	color: #F7931D;
}
.stl_43 {
	font-size: 0.683333em;
	font-family: "RTHTIW+Frutiger-Bold";
	color: #221E1F;
}
.stl_44 {
	font-size: 0.60025em;
	font-family: "AQPFOG+Frutiger-Light";
	color: #221E1F;
}
.stl_45 {
	letter-spacing: 0.0011em;
}

.ie .stl_45 {
	letter-spacing: 0.0103px;
}
.stl_46 {
	letter-spacing: -0.0075em;
}

.ie .stl_46 {
	letter-spacing: -0.0717px;
}
.stl_47 {
	letter-spacing: -0.0008em;
}

.ie .stl_47 {
	letter-spacing: -0.0074px;
}
.stl_48 {
	letter-spacing: -0.0018em;
}

.ie .stl_48 {
	letter-spacing: -0.0177px;
}
.stl_49 {
	letter-spacing: -0.0022em;
}

.ie .stl_49 {
	letter-spacing: -0.0267px;
}
@font-face {
	font-family:"TJGQSP+ZapfDingbats";
	src:url("947f735b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_50 {
	font-size: 0.833333em;
	font-family: "TJGQSP+ZapfDingbats";
	color: #F7931D;
}
.stl_51 {
	line-height: 0.963em;
}
.stl_52 {
	font-size: 0.75em;
	font-family: "RTHTIW+Frutiger-Bold";
	color: #221E1F;
}
@font-face {
	font-family:"JKSKWG+Helvetica";
	src:url("d4f41219-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_53 {
	font-size: 0.833333em;
	font-family: "JKSKWG+Helvetica", "Times New Roman";
	color: #000000;
}
.stl_54 {
	line-height: 1.117188em;
}
.stl_55 {
	letter-spacing: -0.0016em;
}

.ie .stl_55 {
	letter-spacing: -0.0192px;
}
.stl_56 {
	letter-spacing: -0.002em;
}

.ie .stl_56 {
	letter-spacing: -0.024px;
}
