sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"VVAIOR+Frutiger-Black";
	src:url("38726e88-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "VVAIOR+Frutiger-Black";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: 0.0007em;
}

.ie .stl_09 {
	letter-spacing: 0.0063px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "VVAIOR+Frutiger-Black";
	color: #221E1F;
}
.stl_11 {
	letter-spacing: 0.0008em;
}

.ie .stl_11 {
	letter-spacing: 0.0063px;
}
@font-face {
	font-family:"GSRAOF+Frutiger-Cn";
	src:url("3ed25f47-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 2em;
	font-family: "GSRAOF+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_13 {
	line-height: 1.179em;
}
.stl_14 {
	letter-spacing: 0em;
}

.ie .stl_14 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"GVCRMV+DIN-Black";
	src:url("3c59f3bf-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 1em;
	font-family: "GVCRMV+DIN-Black";
	color: #FFFFFF;
}
.stl_16 {
	line-height: 1.231em;
}
@font-face {
	font-family:"MPCCLH+DIN-Bold";
	src:url("dce92c1c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 0.666667em;
	font-family: "MPCCLH+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_18 {
	line-height: 1.221em;
}
@font-face {
	font-family:"SVBWKS+Frutiger-Light";
	src:url("3be26025-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 0.666667em;
	font-family: "SVBWKS+Frutiger-Light";
	color: #221E1F;
}
.stl_20 {
	line-height: 1.161em;
}
.stl_21 {
	letter-spacing: -0.0007em;
}

.ie .stl_21 {
	letter-spacing: -0.0072px;
}
.stl_22 {
	letter-spacing: -0.0003em;
}

.ie .stl_22 {
	letter-spacing: -0.0035px;
}
.stl_23 {
	font-size: 0.75em;
	font-family: "GVCRMV+DIN-Black";
	color: #221E1F;
}
.stl_24 {
	font-size: 0.683333em;
	font-family: "SVBWKS+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"UJCAID+Frutiger-LightItalic";
	src:url("51a6c0a3-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_25 {
	font-size: 0.683333em;
	font-family: "UJCAID+Frutiger-LightItalic";
	color: #221E1F;
}
.stl_26 {
	line-height: 1.167em;
}
@font-face {
	font-family:"PTTLHE+Frutiger-Roman";
	src:url("04f12b81-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_27 {
	font-size: 0.625333em;
	font-family: "PTTLHE+Frutiger-Roman";
	color: #0168B4;
}
.stl_28 {
	line-height: 1.185em;
}
.stl_29 {
	letter-spacing: -0.0001em;
}

.ie .stl_29 {
	letter-spacing: -0.001px;
}
@font-face {
	font-family:"JPIEDJ+Frutiger-Italic";
	src:url("285528bd-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_30 {
	font-size: 0.625333em;
	font-family: "JPIEDJ+Frutiger-Italic";
	color: #0168B4;
}
.stl_31 {
	line-height: 1.18em;
}
.stl_32 {
	letter-spacing: -0.0005em;
}

.ie .stl_32 {
	letter-spacing: -0.0048px;
}
.stl_33 {
	font-size: 0.75em;
	font-family: "GSRAOF+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"NVQMBO+??";
	src:url("54e71097-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_34 {
	font-size: 1em;
	font-family: "NVQMBO+??", "Times New Roman";
	color: #60BF00;
}
.stl_35 {
	line-height: 1.107422em;
}
.stl_36 {
	letter-spacing: 0.0147em;
}

.ie .stl_36 {
	letter-spacing: 0.235px;
}
@font-face {
	font-family:"IOKDFR+Times-Roman";
	src:url("7112b9bc-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_37 {
	font-size: 1.166667em;
	font-family: "IOKDFR+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_38 {
	letter-spacing: 0.0126em;
}

.ie .stl_38 {
	letter-spacing: 0.235px;
}
.stl_39 {
	font-size: 1.166667em;
	font-family: "GSRAOF+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_40 {
	font-size: 0.833333em;
	font-family: "GVCRMV+DIN-Black";
	color: #F7931D;
}
@font-face {
	font-family:"DTWDEI+Frutiger-Bold";
	src:url("ff46cbd8-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_41 {
	font-size: 0.583333em;
	font-family: "DTWDEI+Frutiger-Bold";
	color: #221E1F;
}
.stl_42 {
	font-size: 0.4665em;
	font-family: "DTWDEI+Frutiger-Bold";
	color: #221E1F;
}
.stl_43 {
	font-size: 0.583333em;
	font-family: "PTTLHE+Frutiger-Roman";
	color: #221E1F;
}
.stl_44 {
	font-size: 0.583333em;
	font-family: "JPIEDJ+Frutiger-Italic";
	color: #221E1F;
}
.stl_45 {
	letter-spacing: -0.0008em;
}

.ie .stl_45 {
	letter-spacing: -0.0074px;
}
.stl_46 {
	letter-spacing: -0.0004em;
}

.ie .stl_46 {
	letter-spacing: -0.0034px;
}
.stl_47 {
	letter-spacing: -0.0051em;
}

.ie .stl_47 {
	letter-spacing: -0.0477px;
}
.stl_48 {
	letter-spacing: -0.0016em;
}

.ie .stl_48 {
	letter-spacing: -0.0192px;
}
@font-face {
	font-family:"UWTAPS+ZapfDingbats";
	src:url("fb7499e7-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_49 {
	font-size: 0.833333em;
	font-family: "UWTAPS+ZapfDingbats";
	color: #F7931D;
}
.stl_50 {
	line-height: 0.963em;
}
.stl_51 {
	font-size: 0.75em;
	font-family: "DTWDEI+Frutiger-Bold";
	color: #221E1F;
}
.stl_52 {
	letter-spacing: -0.002em;
}

.ie .stl_52 {
	letter-spacing: -0.0204px;
}
.stl_53 {
	font-size: 0.683333em;
	font-family: "DTWDEI+Frutiger-Bold";
	color: #F7931D;
}
