sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"ONHVJB+Frutiger-Black";
	src:url("864f9895-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "ONHVJB+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: -0.0002em;
}

.ie .stl_09 {
	letter-spacing: -0.0015px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "ONHVJB+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"MIDETW+Frutiger-Cn";
	src:url("ce82cd53-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 2em;
	font-family: "MIDETW+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_12 {
	line-height: 1.179em;
}
.stl_13 {
	letter-spacing: 0em;
}

.ie .stl_13 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"QRGKFF+DIN-Black";
	src:url("0536f79f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "QRGKFF+DIN-Black";
	color: #FFFFFF;
}
.stl_15 {
	line-height: 1.231em;
}
@font-face {
	font-family:"UFESOP+DIN-Bold";
	src:url("1eb20369-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 0.666667em;
	font-family: "UFESOP+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_17 {
	line-height: 1.221em;
}
@font-face {
	font-family:"IWPPSV+Frutiger-Light";
	src:url("df66d898-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_18 {
	font-size: 0.666667em;
	font-family: "IWPPSV+Frutiger-Light";
	color: #221E1F;
}
.stl_19 {
	line-height: 1.161em;
}
.stl_20 {
	letter-spacing: -0.0014em;
}

.ie .stl_20 {
	letter-spacing: -0.0148px;
}
.stl_21 {
	letter-spacing: -0.0007em;
}

.ie .stl_21 {
	letter-spacing: -0.0074px;
}
.stl_22 {
	letter-spacing: -0.0018em;
}

.ie .stl_22 {
	letter-spacing: -0.0192px;
}
.stl_23 {
	letter-spacing: -0.0006em;
}

.ie .stl_23 {
	letter-spacing: -0.0064px;
}
.stl_24 {
	font-size: 0.75em;
	font-family: "QRGKFF+DIN-Black";
	color: #221E1F;
}
.stl_25 {
	font-size: 0.683333em;
	font-family: "IWPPSV+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"TDILTG+Frutiger-LightItalic";
	src:url("97d73e03-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_26 {
	font-size: 0.683333em;
	font-family: "TDILTG+Frutiger-LightItalic";
	color: #221E1F;
}
.stl_27 {
	line-height: 1.167em;
}
@font-face {
	font-family:"KGVFNA+Frutiger-Roman";
	src:url("fbb0a06a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_28 {
	font-size: 0.625333em;
	font-family: "KGVFNA+Frutiger-Roman";
	color: #0168B4;
}
.stl_29 {
	line-height: 1.185em;
}
@font-face {
	font-family:"EKBLWB+Frutiger-Italic";
	src:url("85c77f61-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_30 {
	font-size: 0.625333em;
	font-family: "EKBLWB+Frutiger-Italic";
	color: #0168B4;
}
.stl_31 {
	line-height: 1.18em;
}
@font-face {
	font-family:"PQALDD+Frutiger-Italic";
	src:url("fb4e32e7-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_32 {
	font-size: 0.625333em;
	font-family: "PQALDD+Frutiger-Italic", "Times New Roman";
	color: #0168B4;
}
.stl_33 {
	letter-spacing: -0.01em;
}

.ie .stl_33 {
	letter-spacing: -0.1093px;
}
.stl_34 {
	font-size: 0.75em;
	font-family: "MIDETW+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"GEODJP+??";
	src:url("7c4106be-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_35 {
	font-size: 1em;
	font-family: "GEODJP+??", "Times New Roman";
	color: #60BF00;
}
.stl_36 {
	line-height: 1.107422em;
}
.stl_37 {
	letter-spacing: 0.0147em;
}

.ie .stl_37 {
	letter-spacing: 0.235px;
}
@font-face {
	font-family:"TUABST+Times-Roman";
	src:url("6206a87c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_38 {
	font-size: 1.166667em;
	font-family: "TUABST+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_39 {
	letter-spacing: 0.0126em;
}

.ie .stl_39 {
	letter-spacing: 0.235px;
}
.stl_40 {
	font-size: 1.166667em;
	font-family: "MIDETW+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_41 {
	font-size: 0.833333em;
	font-family: "QRGKFF+DIN-Black";
	color: #F7931D;
}
.stl_42 {
	font-size: 0.60025em;
	font-family: "IWPPSV+Frutiger-Light";
	color: #221E1F;
}
.stl_43 {
	letter-spacing: -0.0033em;
}

.ie .stl_43 {
	letter-spacing: -0.0316px;
}
.stl_44 {
	letter-spacing: -0.0022em;
}

.ie .stl_44 {
	letter-spacing: -0.0215px;
}
.stl_45 {
	letter-spacing: -0.0019em;
}

.ie .stl_45 {
	letter-spacing: -0.0183px;
}
.stl_46 {
	letter-spacing: -0.0021em;
}

.ie .stl_46 {
	letter-spacing: -0.0198px;
}
.stl_47 {
	letter-spacing: -0.0029em;
}

.ie .stl_47 {
	letter-spacing: -0.0277px;
}
.stl_48 {
	letter-spacing: -0.0016em;
}

.ie .stl_48 {
	letter-spacing: -0.0157px;
}
.stl_49 {
	letter-spacing: -0.0015em;
}

.ie .stl_49 {
	letter-spacing: -0.0142px;
}
.stl_50 {
	letter-spacing: -0.0025em;
}

.ie .stl_50 {
	letter-spacing: -0.0244px;
}
.stl_51 {
	letter-spacing: -0.0042em;
}

.ie .stl_51 {
	letter-spacing: -0.04px;
}
.stl_52 {
	letter-spacing: -0.0011em;
}

.ie .stl_52 {
	letter-spacing: -0.0105px;
}
.stl_53 {
	letter-spacing: -0.0017em;
}

.ie .stl_53 {
	letter-spacing: -0.0161px;
}
.stl_54 {
	letter-spacing: -0.0026em;
}

.ie .stl_54 {
	letter-spacing: -0.0246px;
}
.stl_55 {
	letter-spacing: -0.0023em;
}

.ie .stl_55 {
	letter-spacing: -0.022px;
}
@font-face {
	font-family:"ADTHTB+Frutiger-Bold";
	src:url("9fb04234-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_56 {
	font-size: 0.683333em;
	font-family: "ADTHTB+Frutiger-Bold";
	color: #F7931D;
}
.stl_57 {
	font-size: 0.625333em;
	font-family: "KGVFNA+Frutiger-Roman";
	color: #EF1D7B;
}
.stl_58 {
	letter-spacing: -0.002em;
}

.ie .stl_58 {
	letter-spacing: -0.024px;
}
@font-face {
	font-family:"DFQAOR+ZapfDingbats";
	src:url("fe8efe6d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_59 {
	font-size: 0.833333em;
	font-family: "DFQAOR+ZapfDingbats";
	color: #F7931D;
}
.stl_60 {
	line-height: 0.963em;
}
.stl_61 {
	font-size: 0.75em;
	font-family: "ADTHTB+Frutiger-Bold";
	color: #221E1F;
}
.stl_62 {
	font-size: 0.625333em;
	font-family: "IWPPSV+Frutiger-Light";
	color: #221E1F;
}
.stl_63 {
	letter-spacing: -0.0008em;
}

.ie .stl_63 {
	letter-spacing: -0.0083px;
}
.stl_64 {
	font-size: 0.625333em;
	font-family: "ADTHTB+Frutiger-Bold";
	color: #F7931D;
}
