sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 44.83333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 31.83333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 31.83333em;
}
.stl_06 {
	height: 4.483333em;
}
.ie .stl_06 {
	height: 44.83333em;
}
@font-face {
	font-family:"QSVPAQ+Frutiger-Black";
	src:url("7e1e8ba8-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.583333em;
	font-family: "QSVPAQ+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: -0.0001em;
}

.ie .stl_09 {
	letter-spacing: -0.0008px;
}
.stl_10 {
	font-size: 0.4665em;
	font-family: "QSVPAQ+Frutiger-Black", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"FTHJFT+Frutiger-Cn";
	src:url("c3dad743-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 2em;
	font-family: "FTHJFT+Frutiger-Cn", "Times New Roman";
	color: #FFFFFF;
}
.stl_12 {
	line-height: 1.179em;
}
.stl_13 {
	letter-spacing: 0em;
}

.ie .stl_13 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"LPMNUO+DIN-Black";
	src:url("7baa50fc-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 1em;
	font-family: "LPMNUO+DIN-Black";
	color: #FFFFFF;
}
.stl_15 {
	line-height: 1.231em;
}
.stl_16 {
	font-size: 0.72975em;
	font-family: "LPMNUO+DIN-Black";
	color: #FFFFFF;
}
@font-face {
	font-family:"GCGPHI+DIN-Bold";
	src:url("1c4982a2-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 0.666667em;
	font-family: "GCGPHI+DIN-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_18 {
	line-height: 1.221em;
}
@font-face {
	font-family:"QQDSWC+Frutiger-Light";
	src:url("edacb809-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 0.666667em;
	font-family: "QQDSWC+Frutiger-Light";
	color: #221E1F;
}
.stl_20 {
	line-height: 1.161em;
}
.stl_21 {
	letter-spacing: -0.0015em;
}

.ie .stl_21 {
	letter-spacing: -0.0156px;
}
@font-face {
	font-family:"SEKKVV+Frutiger-Roman";
	src:url("365e5d7e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_22 {
	font-size: 0.625333em;
	font-family: "SEKKVV+Frutiger-Roman";
	color: #0168B4;
}
.stl_23 {
	line-height: 1.185em;
}
.stl_24 {
	letter-spacing: -0.0025em;
}

.ie .stl_24 {
	letter-spacing: -0.0252px;
}
.stl_25 {
	font-size: 0.75em;
	font-family: "LPMNUO+DIN-Black";
	color: #221E1F;
}
.stl_26 {
	font-size: 0.683333em;
	font-family: "QQDSWC+Frutiger-Light";
	color: #221E1F;
}
@font-face {
	font-family:"WJTACD+Frutiger-Bold";
	src:url("3a75b721-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_27 {
	font-size: 0.583333em;
	font-family: "WJTACD+Frutiger-Bold";
	color: #221E1F;
}
.stl_28 {
	letter-spacing: 0.0001em;
}

.ie .stl_28 {
	letter-spacing: 0.0005px;
}
.stl_29 {
	font-size: 0.4665em;
	font-family: "WJTACD+Frutiger-Bold";
	color: #221E1F;
}
.stl_30 {
	font-size: 0.583333em;
	font-family: "SEKKVV+Frutiger-Roman";
	color: #221E1F;
}
.stl_31 {
	letter-spacing: -0.0019em;
}

.ie .stl_31 {
	letter-spacing: -0.0175px;
}
.stl_32 {
	letter-spacing: -0.0004em;
}

.ie .stl_32 {
	letter-spacing: -0.0037px;
}
.stl_33 {
	letter-spacing: -0.0115em;
}

.ie .stl_33 {
	letter-spacing: -0.1073px;
}
.stl_34 {
	letter-spacing: -0.002em;
}

.ie .stl_34 {
	letter-spacing: -0.0191px;
}
.stl_35 {
	letter-spacing: -0.0018em;
}

.ie .stl_35 {
	letter-spacing: -0.0172px;
}
.stl_36 {
	letter-spacing: -0.0029em;
}

.ie .stl_36 {
	letter-spacing: -0.0268px;
}
@font-face {
	font-family:"JWESUA+EuropeanPi-Four";
	src:url("08d29a6d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_37 {
	font-size: 1em;
	font-family: "JWESUA+EuropeanPi-Four", "Times New Roman";
	color: #221E1F;
}
.stl_38 {
	line-height: 1.035em;
}
.stl_39 {
	font-size: 0.583333em;
	font-family: "QQDSWC+Frutiger-Light";
	color: #221E1F;
}
.stl_40 {
	letter-spacing: -0.0005em;
}

.ie .stl_40 {
	letter-spacing: -0.0051px;
}
@font-face {
	font-family:"PUGANR+Frutiger-LightItalic";
	src:url("ca46d9b0-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_41 {
	font-size: 0.583333em;
	font-family: "PUGANR+Frutiger-LightItalic";
	color: #221E1F;
}
.stl_42 {
	line-height: 1.167em;
}
.stl_43 {
	font-size: 0.75em;
	font-family: "FTHJFT+Frutiger-Cn", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"STOPHJ+??";
	src:url("4d7459f8-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_44 {
	font-size: 1em;
	font-family: "STOPHJ+??", "Times New Roman";
	color: #60BF00;
}
.stl_45 {
	line-height: 1.107422em;
}
.stl_46 {
	letter-spacing: 0.0147em;
}

.ie .stl_46 {
	letter-spacing: 0.235px;
}
@font-face {
	font-family:"MWAQTI+Times-Roman";
	src:url("d9cddbac-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_47 {
	font-size: 1.166667em;
	font-family: "MWAQTI+Times-Roman", "Times New Roman";
	color: #FF0000;
}
.stl_48 {
	letter-spacing: 0.0126em;
}

.ie .stl_48 {
	letter-spacing: 0.235px;
}
